<div id="bar">
    <div class="pe-1" id="bar_goal">
        {{ i18n "plasma6member-goal" }}
    </div>
    <div id="bar_outline">
        <div id="bar_inline">
            <div id="bar_fill">
                <div id="bar_text"></div>
            </div>
        </div>
    </div>
    <div class="pe-1" id="bar_amount" data-progress="{{ i18n "plasma6member-progress" }}"></div>
</div>
<div class="pb-5" style="font-size: 10px;">
    {{ i18n "plasma6member-updated" | safeHTML }}
</div>
