{{ define "main" }}
{{ $version := .Params.version }}
{{ $patch := index (split $version ".") 2 | int }}
{{ $path := cond (lt $patch 50) "stable" "unstable" }}
<main class="container" role="main">
  <h1>{{ .Title }}</h2>

  {{ .Content }}

  <h2><a name="source">Download Source Code</a></h2>

  <p>The complete source code for Plasma {{ $version }} is available for download
  from <a href="http://download.kde.org/{{ $path }}/plasma/{{ $version }}">download.kde.org</a>.
  </p>

  {{ if .Params.signer }}
  <p>GPG signatures are available alongside the source code for
   verification. They are signed by release manager
   <a href="http://keyserver.ubuntu.com/pks/lookup?search=0x{{ .Params.signing_fingerprint }}&fingerprint=on&op=index">
   {{ .Params.signer }} with {{ .Params.signing_fingerprint }}</a>.  Git tags are also signed by the
   same key. <a href="../plasma-signing-keys.pgp">PGP Keyring for all Plasma Release Managers</a>.
  </p>
  {{ end }}

  {{ if (fileExists (printf "%s%s%s%s" .File.Dir "sources/source-plasma-" $version ".html")) }}
    {{ readFile (printf "%s%s%s%s" .File.Dir "sources/source-plasma-" $version ".html") | safeHTML }}
  {{ end }}
</main>
{{ end }}
