<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/akonadi-23.04.2.tar.xz">akonadi-23.04.2</a></td>
   <td align="right">1628kB</td>
   <td><tt>5e91b86e895263b76d6f1f00cd9fcd8399d5a6c293581e629ab310fc72dfa6a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/akonadi-calendar-23.04.2.tar.xz">akonadi-calendar-23.04.2</a></td>
   <td align="right">401kB</td>
   <td><tt>5cf3e5169a2b3caa58d19575adf8c4a4a69ff39fff2eb4b584a4ceaa96d055b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/akonadi-calendar-tools-23.04.2.tar.xz">akonadi-calendar-tools-23.04.2</a></td>
   <td align="right">248kB</td>
   <td><tt>bfaee11e2aaf717048b1ea93a153d866da6c86da7613b9a8fb8ffaa5a6020541</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/akonadiconsole-23.04.2.tar.xz">akonadiconsole-23.04.2</a></td>
   <td align="right">267kB</td>
   <td><tt>f81693906c83aeabddd28c92171eac3db12355b62b319ea4f66d04f7e1c7775d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/akonadi-contacts-23.04.2.tar.xz">akonadi-contacts-23.04.2</a></td>
   <td align="right">432kB</td>
   <td><tt>f48a51288623b6f8efaf78f0477efdbe9d19418d2c885953694601ca89b45d5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/akonadi-import-wizard-23.04.2.tar.xz">akonadi-import-wizard-23.04.2</a></td>
   <td align="right">502kB</td>
   <td><tt>42fe5809c9f42f8df05817e4d0cf1064d6a2c50ffb19f3716d6e93012254a069</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/akonadi-mime-23.04.2.tar.xz">akonadi-mime-23.04.2</a></td>
   <td align="right">151kB</td>
   <td><tt>88a60b9b945b286ba8fdb163e91a90ebfca5c57a0050cd2f15ab94be8adf4802</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/akonadi-notes-23.04.2.tar.xz">akonadi-notes-23.04.2</a></td>
   <td align="right">27kB</td>
   <td><tt>b24ad1c07ec2e41d18ffe5d0f627cf48ca0fdfd2eeb04cee9d8c7624570c9a81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/akonadi-search-23.04.2.tar.xz">akonadi-search-23.04.2</a></td>
   <td align="right">99kB</td>
   <td><tt>4037177c7bdf442341b6575c268caa439a855e0a30a35206121c4a5060e24257</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/akregator-23.04.2.tar.xz">akregator-23.04.2</a></td>
   <td align="right">2270kB</td>
   <td><tt>c14306fc8990707307ce4ada4f043975a75875351007100a49eab1cc7bf52f1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/alligator-23.04.2.tar.xz">alligator-23.04.2</a></td>
   <td align="right">184kB</td>
   <td><tt>e243f20ca02f32538445230d1a846482c5950e71deca86bc8e307358c7128b02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/analitza-23.04.2.tar.xz">analitza-23.04.2</a></td>
   <td align="right">344kB</td>
   <td><tt>9b5de5dc77217f0bffd636f76177dbe84ed1e54489ba8606f264684d09d5f640</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/angelfish-23.04.2.tar.xz">angelfish-23.04.2</a></td>
   <td align="right">239kB</td>
   <td><tt>1860e13d7fddb14b030aef9c2e4053004d38f3603cffa4ebd7d54ac18b45d253</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ark-23.04.2.tar.xz">ark-23.04.2</a></td>
   <td align="right">2940kB</td>
   <td><tt>de386d0a2aec6772fba51a7710e186718c75cecdf589fa3fd8d8dbd203e464ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/artikulate-23.04.2.tar.xz">artikulate-23.04.2</a></td>
   <td align="right">1068kB</td>
   <td><tt>5d411ffaca6f235a164e68e82061ef2145af91b720aa5a58ae1d95cc778774a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/audiocd-kio-23.04.2.tar.xz">audiocd-kio-23.04.2</a></td>
   <td align="right">549kB</td>
   <td><tt>2cc0086454b79cbaa9adeb173709a491b553a7291f424964d6d28947d3575bf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/audiotube-23.04.2.tar.xz">audiotube-23.04.2</a></td>
   <td align="right">107kB</td>
   <td><tt>fb8f0b2f6feb096c88208fa4d238b644bce2260e914e67e0674a3262b45f8ddc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/baloo-widgets-23.04.2.tar.xz">baloo-widgets-23.04.2</a></td>
   <td align="right">269kB</td>
   <td><tt>d3a01392811ab0a6e850e0058518a95617ad50a2e2bb8c553931130a13a98b66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/blinken-23.04.2.tar.xz">blinken-23.04.2</a></td>
   <td align="right">2659kB</td>
   <td><tt>27661f735266c59582a1f118fb35f86823d19898e560c1a146e72afec5f31cf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/bomber-23.04.2.tar.xz">bomber-23.04.2</a></td>
   <td align="right">818kB</td>
   <td><tt>2f6a9829c32396a5fa6eec2951a038701570a01d9385fbf5e39d2f7ee54b7741</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/bovo-23.04.2.tar.xz">bovo-23.04.2</a></td>
   <td align="right">209kB</td>
   <td><tt>3c6d1cef2594613ab1072c7ad610b1b76e6c86e4e9052d2e26951d1a4ff94b4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/calendarsupport-23.04.2.tar.xz">calendarsupport-23.04.2</a></td>
   <td align="right">965kB</td>
   <td><tt>2daf1f1aef1d6b986b9a9fd8bc2741f407b89601585b94989a744b4942c855de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/calindori-23.04.2.tar.xz">calindori-23.04.2</a></td>
   <td align="right">372kB</td>
   <td><tt>afc48d66fb1ce12bd76c9cfdc6a20e7d26751eab186dacf9990ceb0da7ee71b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/cantor-23.04.2.tar.xz">cantor-23.04.2</a></td>
   <td align="right">9049kB</td>
   <td><tt>71864dd547c1d22dc537650234a2a650c2d5add8d285fed7a5aee1684c4f4990</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/cervisia-23.04.2.tar.xz">cervisia-23.04.2</a></td>
   <td align="right">1899kB</td>
   <td><tt>4c180f219fdc858be493d577d4f89519baa61d4b1eac4002fe8f1b384b510a14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/colord-kde-23.04.2.tar.xz">colord-kde-23.04.2</a></td>
   <td align="right">105kB</td>
   <td><tt>b81f99129e3a057225ba5f19988772ce3825fea2bd8e73700f7d48d9b31bb551</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/dolphin-23.04.2.tar.xz">dolphin-23.04.2</a></td>
   <td align="right">5601kB</td>
   <td><tt>344e999e1ad101a7294e28d18c15d7e818d596fdc95253836ea04811d97f6147</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/dolphin-plugins-23.04.2.tar.xz">dolphin-plugins-23.04.2</a></td>
   <td align="right">266kB</td>
   <td><tt>bcd1e0b49744e3ff8dceb604beec25792f8bcca1ed47ae19c16c10c7bb755ddf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/dragon-23.04.2.tar.xz">dragon-23.04.2</a></td>
   <td align="right">1629kB</td>
   <td><tt>6fe4235543fab5931d1d4c3e9469ea4d1e72e2f98aa0fcd096d04f6c106b9d95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/elisa-23.04.2.tar.xz">elisa-23.04.2</a></td>
   <td align="right">1767kB</td>
   <td><tt>d16fd47b9a41d5ca51cafe1c09b41446b933b47c03fc55ef8f311aad40f1ea7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/eventviews-23.04.2.tar.xz">eventviews-23.04.2</a></td>
   <td align="right">453kB</td>
   <td><tt>7e11000ace5ae7b5d40d29e979ea09c59d1d1352c8e7c1a924fe27b88e2b6108</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/falkon-23.04.2.tar.xz">falkon-23.04.2</a></td>
   <td align="right">2493kB</td>
   <td><tt>c14202fa08821d3f18436f309d3ae1ad410865be2453b3e4eba3fe6c137aa2c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ffmpegthumbs-23.04.2.tar.xz">ffmpegthumbs-23.04.2</a></td>
   <td align="right">31kB</td>
   <td><tt>fb81c544da6e6018e267903100d6e98095ca4ee4c31f405628ae6aab13988c0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/filelight-23.04.2.tar.xz">filelight-23.04.2</a></td>
   <td align="right">679kB</td>
   <td><tt>3c8fa00479e59c1b2b313193a259616a0c853a6a960fc345d31c4c550bd9850d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ghostwriter-23.04.2.tar.xz">ghostwriter-23.04.2</a></td>
   <td align="right">3000kB</td>
   <td><tt>db8b1c9370863a9596cd00e1dc230caf94cac01ad963e962820db58281efbdda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/granatier-23.04.2.tar.xz">granatier-23.04.2</a></td>
   <td align="right">2062kB</td>
   <td><tt>d4532a8fe0a6e8f2e74dd74b73337e0c752d58a32455c1cbd154e1da7806234c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/grantlee-editor-23.04.2.tar.xz">grantlee-editor-23.04.2</a></td>
   <td align="right">114kB</td>
   <td><tt>e545914b0a90c88a6ad00c70e5680aab11e6f4289ee500a8643ccd971f646765</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/grantleetheme-23.04.2.tar.xz">grantleetheme-23.04.2</a></td>
   <td align="right">61kB</td>
   <td><tt>cba8b6ea835e560a01ba7382eac4e02c363e33ff71f281cdc6421533c17aec19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/gwenview-23.04.2.tar.xz">gwenview-23.04.2</a></td>
   <td align="right">6730kB</td>
   <td><tt>bf1de549931a53ea8298a186c63fb2778b414db9018dd86816d58e6731477922</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/incidenceeditor-23.04.2.tar.xz">incidenceeditor-23.04.2</a></td>
   <td align="right">556kB</td>
   <td><tt>b303bfafc5c470c34aecebe12c282653d459d4bf7c9e23c122ac51983f67a2cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/itinerary-23.04.2.tar.xz">itinerary-23.04.2</a></td>
   <td align="right">567kB</td>
   <td><tt>74e14cb129f4a225aea13c41449b7ebad5436257d5d489405edb3d11cde651eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/juk-23.04.2.tar.xz">juk-23.04.2</a></td>
   <td align="right">2031kB</td>
   <td><tt>6ac44ab6a00df7b10e09b1e64361df7178b0d5ccb1785dd53ec5a0548b53309b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/k3b-23.04.2.tar.xz">k3b-23.04.2</a></td>
   <td align="right">10693kB</td>
   <td><tt>bd47a2623cec442e2fd0dcf794aceb4d3650f4425fc0d3a465fa7bdb894e796e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kaccounts-integration-23.04.2.tar.xz">kaccounts-integration-23.04.2</a></td>
   <td align="right">86kB</td>
   <td><tt>10eac98f0f5f432b43a36cc748e8029924e8cf9128735bfe91bb0ff5e0ce6d55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kaccounts-providers-23.04.2.tar.xz">kaccounts-providers-23.04.2</a></td>
   <td align="right">64kB</td>
   <td><tt>10350da084e979027189b73a688d0065c0625cf87935d22a0edb81ffd8290a45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kaddressbook-23.04.2.tar.xz">kaddressbook-23.04.2</a></td>
   <td align="right">3377kB</td>
   <td><tt>90b6e58522f8e25301d2a1572448192d32fdef6bf876b6203bb9cf4665800522</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kajongg-23.04.2.tar.xz">kajongg-23.04.2</a></td>
   <td align="right">4470kB</td>
   <td><tt>b071f45e0e856d1013a2c63c136f57696a6c15613690d4f0d55e7243a71af5bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kalarm-23.04.2.tar.xz">kalarm-23.04.2</a></td>
   <td align="right">2525kB</td>
   <td><tt>53aa011ca6ed69b2a63837423f094ed271e3e602aad0f7e3de090e6c7b830e18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kalendar-23.04.2.tar.xz">kalendar-23.04.2</a></td>
   <td align="right">804kB</td>
   <td><tt>19572c724388c0fe6704cd0789a36b1507a80fed744aed0aff2c564774cabca9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kalgebra-23.04.2.tar.xz">kalgebra-23.04.2</a></td>
   <td align="right">1012kB</td>
   <td><tt>9f72981b5a63596af22748272986f384dfa9d097dd1ba900acf6d4c53b3dcaef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kalk-23.04.2.tar.xz">kalk-23.04.2</a></td>
   <td align="right">81kB</td>
   <td><tt>90b0d1c4c337d272be2db012bbac1853cd9b4aaafa8e68f3cfb2df8ad17e5b83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kalzium-23.04.2.tar.xz">kalzium-23.04.2</a></td>
   <td align="right">24066kB</td>
   <td><tt>84940e86a4fd76451b0518a31f07c9aa621215ba5bcc4418ef867629dc0f8cd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kamera-23.04.2.tar.xz">kamera-23.04.2</a></td>
   <td align="right">126kB</td>
   <td><tt>cf79ff7cd59eeffadc88a32ff7145b71ca1e2c6530d368458bc8165bbe3d1d1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kamoso-23.04.2.tar.xz">kamoso-23.04.2</a></td>
   <td align="right">226kB</td>
   <td><tt>8fefb862a7d1d70b35a460fc160e08e9510e76091e3782f04f7b8b4430d36b57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kanagram-23.04.2.tar.xz">kanagram-23.04.2</a></td>
   <td align="right">7873kB</td>
   <td><tt>583bc3aa2cee1bc18c32f415ea7b400b6568deb955881a6000c21a1a27750539</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kapman-23.04.2.tar.xz">kapman-23.04.2</a></td>
   <td align="right">2422kB</td>
   <td><tt>f72b88bc5681abcf314c415500ce822b5029c005166b5a6d7671aaa11dcc4180</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kapptemplate-23.04.2.tar.xz">kapptemplate-23.04.2</a></td>
   <td align="right">330kB</td>
   <td><tt>be1d2996b7792fca7d3e3546cf58cb1367e02e8405320acc726f753486165080</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kasts-23.04.2.tar.xz">kasts-23.04.2</a></td>
   <td align="right">536kB</td>
   <td><tt>c6c57cf3e5abd43b5c38eebc5022108075e087bf5157edc843e4c3a859efe069</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kate-23.04.2.tar.xz">kate-23.04.2</a></td>
   <td align="right">7797kB</td>
   <td><tt>7db103a3cb0f1cd771d4e63389ded0757d815f14b9a260b918d83c3e96f74485</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/katomic-23.04.2.tar.xz">katomic-23.04.2</a></td>
   <td align="right">1417kB</td>
   <td><tt>a4c8513c8b81667eadccbca598e8e8a32f1ef1b0c9002fa66faa5a6768293338</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kbackup-23.04.2.tar.xz">kbackup-23.04.2</a></td>
   <td align="right">388kB</td>
   <td><tt>215017eb749e27b835564cb28970b1091bc20ad5ec1d1bc7dcd40d6b458d93ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kblackbox-23.04.2.tar.xz">kblackbox-23.04.2</a></td>
   <td align="right">537kB</td>
   <td><tt>38329571362dc28fe91132b32b36ce0a5a4980e19f40cc0e664942a4d1ae9a5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kblocks-23.04.2.tar.xz">kblocks-23.04.2</a></td>
   <td align="right">2057kB</td>
   <td><tt>5d4d03706d42a073e910410e71b17fd83bb09bb4c71d319ccbbc8ab177d6d7f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kbounce-23.04.2.tar.xz">kbounce-23.04.2</a></td>
   <td align="right">3460kB</td>
   <td><tt>88d9f9753e982b4ed00459ca57e6857649660ff612931ee55a02c549196f153d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kbreakout-23.04.2.tar.xz">kbreakout-23.04.2</a></td>
   <td align="right">2499kB</td>
   <td><tt>bc9650c36355d70eb82a1bb6a372ea181cce70b784cc485ed9a458edecaeb493</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kbruch-23.04.2.tar.xz">kbruch-23.04.2</a></td>
   <td align="right">5523kB</td>
   <td><tt>f396f205b55c54398a328bc1c8291263667d11272ef6d3c1d44c28de215cc61e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kcachegrind-23.04.2.tar.xz">kcachegrind-23.04.2</a></td>
   <td align="right">898kB</td>
   <td><tt>9bb17cc9e85e396e8591d06e04974d6f106b1d8de00596af77555afc93915902</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kcalc-23.04.2.tar.xz">kcalc-23.04.2</a></td>
   <td align="right">426kB</td>
   <td><tt>ad977e7c66cbc2fe7b6ed1a3aa20cc6e480d52238dd57e954cd5b64fb315f9bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kcalutils-23.04.2.tar.xz">kcalutils-23.04.2</a></td>
   <td align="right">350kB</td>
   <td><tt>09533df6deeaa7c69698a80c7626bf165b998b57791eb7327b179b8ddf3678dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kcharselect-23.04.2.tar.xz">kcharselect-23.04.2</a></td>
   <td align="right">373kB</td>
   <td><tt>1d3bc553884c1add40778ff4b2fcf4125056f11b0b856ea328723473fbe44f83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kclock-23.04.2.tar.xz">kclock-23.04.2</a></td>
   <td align="right">709kB</td>
   <td><tt>93f48d325a5c792d2b74af1383edf5e0e59c09c4a168e2ea5e85238781d3d6b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kcolorchooser-23.04.2.tar.xz">kcolorchooser-23.04.2</a></td>
   <td align="right">32kB</td>
   <td><tt>a3762aabd5b29fc9b9637856ed717717f4bddc6588268b4e91e74f71b7e5529f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kcron-23.04.2.tar.xz">kcron-23.04.2</a></td>
   <td align="right">921kB</td>
   <td><tt>64f2680f71304304656400a2fa6b5aa5c8976c86a9c732f0974e1e8cbca60fd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kdebugsettings-23.04.2.tar.xz">kdebugsettings-23.04.2</a></td>
   <td align="right">95kB</td>
   <td><tt>ad1ae9446ad42fc36db6139636defafe3ec00fab76d49bf8f15c471660464d86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kdeconnect-kde-23.04.2.tar.xz">kdeconnect-kde-23.04.2</a></td>
   <td align="right">634kB</td>
   <td><tt>2edbbe3e0aef7e6e19603a7870fd14ac0388a53ea665720c9ece625efb445a00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kde-dev-scripts-23.04.2.tar.xz">kde-dev-scripts-23.04.2</a></td>
   <td align="right">364kB</td>
   <td><tt>8e185c635fd06cfd9c85baeb186fef2d337e89f6e140ce9bb7220dda44d5e278</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kde-dev-utils-23.04.2.tar.xz">kde-dev-utils-23.04.2</a></td>
   <td align="right">71kB</td>
   <td><tt>7e7eeec5e338691e425acfc18eaeb5f05c18e9ba6f6c3e2a18f082b70e198c0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kdeedu-data-23.04.2.tar.xz">kdeedu-data-23.04.2</a></td>
   <td align="right">325kB</td>
   <td><tt>ba9d6b1f70bf68e3f3fc8afb7bfd8cfa83f285ed163cefac10249d65d949e8fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kdegraphics-mobipocket-23.04.2.tar.xz">kdegraphics-mobipocket-23.04.2</a></td>
   <td align="right">12kB</td>
   <td><tt>1d99f29a1bfb16cc1b0ff043a95cc98bea42f43a2ed0c53d8e16baf9f440d802</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kdegraphics-thumbnailers-23.04.2.tar.xz">kdegraphics-thumbnailers-23.04.2</a></td>
   <td align="right">48kB</td>
   <td><tt>29456352b96b5a10fa4b8feaaaa0e179209c34587401b2e087783eaf8ea58290</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kde-inotify-survey-23.04.2.tar.xz">kde-inotify-survey-23.04.2</a></td>
   <td align="right">222kB</td>
   <td><tt>7ea8caac299dd37cc2402829c115ffe668653746f85eb12e5e7b66628b5590ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kdenetwork-filesharing-23.04.2.tar.xz">kdenetwork-filesharing-23.04.2</a></td>
   <td align="right">460kB</td>
   <td><tt>ccf39eff9a0c0bc350e3787ef95ce05ab024107d04817f0e1529b30397d978f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kdenlive-23.04.2.tar.xz">kdenlive-23.04.2</a></td>
   <td align="right">12293kB</td>
   <td><tt>8f754f2e000d2536e88a63f7a3f3ec7abe992d396f3d957899da978f7a255992</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kdepim-addons-23.04.2.tar.xz">kdepim-addons-23.04.2</a></td>
   <td align="right">2586kB</td>
   <td><tt>5d9be6616427441b9ff5759176ab02d145694230e5b44b2f11d213bde1bbf798</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kdepim-runtime-23.04.2.tar.xz">kdepim-runtime-23.04.2</a></td>
   <td align="right">1820kB</td>
   <td><tt>987d372f50f9e821f901d70b858a3af5a5830d75253fbe792a517c95b7f28f70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kdesdk-kio-23.04.2.tar.xz">kdesdk-kio-23.04.2</a></td>
   <td align="right">39kB</td>
   <td><tt>2e589ac2dea2a8a549d90937d81e1f69e65a6147068347de63cc84b598854b87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kdesdk-thumbnailers-23.04.2.tar.xz">kdesdk-thumbnailers-23.04.2</a></td>
   <td align="right">26kB</td>
   <td><tt>2175ed7c0aaf085ccd00efba82fb448534def414af1473425620ca91f7aac1a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kdevelop-23.04.2.tar.xz">kdevelop-23.04.2</a></td>
   <td align="right">8457kB</td>
   <td><tt>9aa71b34d08beb3fbcf3f286c7c4162173ba99529a5418fc9260afdc1d2447db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kdev-php-23.04.2.tar.xz">kdev-php-23.04.2</a></td>
   <td align="right">1060kB</td>
   <td><tt>87934086ea449535b190ee2e82b28407099125d730527ec886516aac426096c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kdev-python-23.04.2.tar.xz">kdev-python-23.04.2</a></td>
   <td align="right">1070kB</td>
   <td><tt>8786e13aa0d3d761c0961b7f25f9306de1d684a95b32536d599315db2acc7db4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kdf-23.04.2.tar.xz">kdf-23.04.2</a></td>
   <td align="right">480kB</td>
   <td><tt>b3a1e84a990ad2f0e8041df2628d269af47871174bfbba1c3d24be208ea25bda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kdialog-23.04.2.tar.xz">kdialog-23.04.2</a></td>
   <td align="right">138kB</td>
   <td><tt>ec4054c2f319f01668bdecff796a91c7c055775ae15b0dd72b86a5538fee591a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kdiamond-23.04.2.tar.xz">kdiamond-23.04.2</a></td>
   <td align="right">4598kB</td>
   <td><tt>dc20fd81f48efa668ba7efce369fe9391b23cb48237cae584092c402130a1404</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/keditbookmarks-23.04.2.tar.xz">keditbookmarks-23.04.2</a></td>
   <td align="right">233kB</td>
   <td><tt>4103680487bc9e9bada50736608f0d98bed4c0f537a2aeda49d8972d3e76dc7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/keysmith-23.04.2.tar.xz">keysmith-23.04.2</a></td>
   <td align="right">157kB</td>
   <td><tt>18167c23a2b557ed22cc4b542c734be1146eb7f7527fb08b301d54b842ddeabb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kfind-23.04.2.tar.xz">kfind-23.04.2</a></td>
   <td align="right">335kB</td>
   <td><tt>f9fe6dde619e45b9122824a3bc704f36ba367995bbcc93b8d08bb601c596dc38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kfloppy-23.04.2.tar.xz">kfloppy-23.04.2</a></td>
   <td align="right">239kB</td>
   <td><tt>2ef100d33a34499c4607cc52144474123a983f0b0da685d15848a1ef669daae2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kfourinline-23.04.2.tar.xz">kfourinline-23.04.2</a></td>
   <td align="right">722kB</td>
   <td><tt>36991b9b6ecbc0c9c0f1cc5ac03617e817b8ff62e707ca767086e2404db7b358</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kgeography-23.04.2.tar.xz">kgeography-23.04.2</a></td>
   <td align="right">12256kB</td>
   <td><tt>848b9f89ac9b6e8f49dfefc01f5ee8e0d013a8246286d9b50f334d6584312a3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kget-23.04.2.tar.xz">kget-23.04.2</a></td>
   <td align="right">5430kB</td>
   <td><tt>0443a586d91de9f1108d2506a5ffe97f4e3d731ea3c576b41a0d5b229bc31492</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kgoldrunner-23.04.2.tar.xz">kgoldrunner-23.04.2</a></td>
   <td align="right">4788kB</td>
   <td><tt>f1ec6ce64dfd40b766aa8a09418c1cb2377648adaf916c423d0b46a20285f53e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kgpg-23.04.2.tar.xz">kgpg-23.04.2</a></td>
   <td align="right">2972kB</td>
   <td><tt>fe596a10be3b6de614b720777be73e8a15f4c7bcd9c61076d26969276b3521d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/khangman-23.04.2.tar.xz">khangman-23.04.2</a></td>
   <td align="right">7266kB</td>
   <td><tt>90f348f2b6f6821be0a9c29f70c8fc483f1d3ff712b62af60084c38a7340a73c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/khelpcenter-23.04.2.tar.xz">khelpcenter-23.04.2</a></td>
   <td align="right">4266kB</td>
   <td><tt>b8eb6e271839dcba0259891c71e2bdae8cc4f94aafe724aeb46f01ff2aa3bf63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kidentitymanagement-23.04.2.tar.xz">kidentitymanagement-23.04.2</a></td>
   <td align="right">160kB</td>
   <td><tt>526b286c976d1d9296cfe42d26c0619a03bf179288b1e5d1fd769d4ffce630d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kig-23.04.2.tar.xz">kig-23.04.2</a></td>
   <td align="right">3204kB</td>
   <td><tt>21f78d9b2e85ab70438cb19a72c5c5669dbf00ef289e5a8931e9da405926ee2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kigo-23.04.2.tar.xz">kigo-23.04.2</a></td>
   <td align="right">5141kB</td>
   <td><tt>427c411fc1dee6e0961e5fe257ec38bc7cf53de59a359c1ace270576ac33ee52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/killbots-23.04.2.tar.xz">killbots-23.04.2</a></td>
   <td align="right">1173kB</td>
   <td><tt>a3b4a91aaad0e4cd3f152f756ca0be47283af7ee50ca87f84b4ad8e11c2c63d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kimagemapeditor-23.04.2.tar.xz">kimagemapeditor-23.04.2</a></td>
   <td align="right">1077kB</td>
   <td><tt>54b2f24c7840841950b29ebd8b1665e026ffd7d96d775d62b07a62c9517e813d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kimap-23.04.2.tar.xz">kimap-23.04.2</a></td>
   <td align="right">127kB</td>
   <td><tt>bcc4a1ced8f55e5d7106b3cfb18ee639e23761a3cb23fdb8d63d925907b784de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kio-admin-23.04.2.tar.xz">kio-admin-23.04.2</a></td>
   <td align="right">34kB</td>
   <td><tt>0e16664bbc1338b7775d4c1b2291d30779197fbb51288799aac9e76cd4219bd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kio-extras-23.04.2.tar.xz">kio-extras-23.04.2</a></td>
   <td align="right">1393kB</td>
   <td><tt>88ed0887d4376dec4ecf8aa16739e672bf6b6a0525f8e89e194a2dd0487a18c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kio-gdrive-23.04.2.tar.xz">kio-gdrive-23.04.2</a></td>
   <td align="right">77kB</td>
   <td><tt>2d823b5f41a30ebaf566991856999029dda0df8885cf502be6d597396616eb59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kio-zeroconf-23.04.2.tar.xz">kio-zeroconf-23.04.2</a></td>
   <td align="right">43kB</td>
   <td><tt>bf81ae424d8d32e56dd14a47c8a7142a315a7fd2744752e7873e7ff71255f46d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kipi-plugins-23.04.2.tar.xz">kipi-plugins-23.04.2</a></td>
   <td align="right">1527kB</td>
   <td><tt>be117507c49c87ec2f7a31fc2ff5886940747b91fece43073b57825bf859421a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kirigami-gallery-23.04.2.tar.xz">kirigami-gallery-23.04.2</a></td>
   <td align="right">342kB</td>
   <td><tt>8e93d56ce7b2a084683f27de6f445789f1933fd9c502f0863f6deb5c9b094286</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kiriki-23.04.2.tar.xz">kiriki-23.04.2</a></td>
   <td align="right">361kB</td>
   <td><tt>2d5acf014da3d838f836c81534dafe33b5c8d76c7bae343f1dfbe703f73c9c88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kiten-23.04.2.tar.xz">kiten-23.04.2</a></td>
   <td align="right">11068kB</td>
   <td><tt>bec1d8b895d5add2aff519439a302e2940e297a0d52ce7d2be7507f769d4d319</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kitinerary-23.04.2.tar.xz">kitinerary-23.04.2</a></td>
   <td align="right">1850kB</td>
   <td><tt>718a2da3a836ca42278bf2269ff61bc0ad2fee8b6eb25677b47043972589b837</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kjournald-23.04.2.tar.xz">kjournald-23.04.2</a></td>
   <td align="right">501kB</td>
   <td><tt>c32772a144f0bf0a3c56c1ae7363de9040e374c99b78b9d4e1cc81d6a393ad71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kjumpingcube-23.04.2.tar.xz">kjumpingcube-23.04.2</a></td>
   <td align="right">328kB</td>
   <td><tt>e979832fd4ad8930c193dbb5d1503dfb48cd1f5c67dfb702cada8e7ed6646ed8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kldap-23.04.2.tar.xz">kldap-23.04.2</a></td>
   <td align="right">178kB</td>
   <td><tt>cccf41aa9a8e80944bb72e7baa271b81a84777ed672e662e0279582ea7e0c342</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kleopatra-23.04.2.tar.xz">kleopatra-23.04.2</a></td>
   <td align="right">2559kB</td>
   <td><tt>dc322480b6d61163d23ee7b656cd659d8cd040697996617c275a497ed5a6a7e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/klettres-23.04.2.tar.xz">klettres-23.04.2</a></td>
   <td align="right">46719kB</td>
   <td><tt>d1842b448b9779e35a9ea806b71dd590d5acfa5eba349cf634960bf3dd7bf564</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/klickety-23.04.2.tar.xz">klickety-23.04.2</a></td>
   <td align="right">1465kB</td>
   <td><tt>bd0c504bfe6244991fd956e8cfe42d6221fac69e68945691c7eba2d9a8c81fa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/klines-23.04.2.tar.xz">klines-23.04.2</a></td>
   <td align="right">1697kB</td>
   <td><tt>d1de437b276d98a0e3c57daa7508b889c279e8c4ef32556e9f120f61137724ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kmag-23.04.2.tar.xz">kmag-23.04.2</a></td>
   <td align="right">707kB</td>
   <td><tt>05a053874f112a5add21d62b46c06ab83efcd042bafed8e179a4119dc93d5108</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kmahjongg-23.04.2.tar.xz">kmahjongg-23.04.2</a></td>
   <td align="right">4000kB</td>
   <td><tt>28871d3b5260f33afa630397fd5a60b9d3c33b0a54545a15576b1372b129b1cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kmail-23.04.2.tar.xz">kmail-23.04.2</a></td>
   <td align="right">7466kB</td>
   <td><tt>08a05b95153b0178974427234e094c75093b0a54dd97db3a2e0c78b9d4a5e4e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kmail-account-wizard-23.04.2.tar.xz">kmail-account-wizard-23.04.2</a></td>
   <td align="right">180kB</td>
   <td><tt>0e42467f176650b0888e614d3e4346c7e03c9b6f89e674581ac99fd0eb7bff59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kmailtransport-23.04.2.tar.xz">kmailtransport-23.04.2</a></td>
   <td align="right">187kB</td>
   <td><tt>c1ad46ef79451446a91c1c0c55099c16486ad026cfa9e96458091e4a68fb2b7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kmbox-23.04.2.tar.xz">kmbox-23.04.2</a></td>
   <td align="right">28kB</td>
   <td><tt>6c893e105aa88785a90c936e21cbc9c961d837982fee66e1f121625b438ebea9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kmime-23.04.2.tar.xz">kmime-23.04.2</a></td>
   <td align="right">158kB</td>
   <td><tt>0aa7a2463d91bae39c3a5339226b976a2a82e3b2a0829da2ee709860714e6c0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kmines-23.04.2.tar.xz">kmines-23.04.2</a></td>
   <td align="right">985kB</td>
   <td><tt>4afc3cd942bb51bd9a97493f28e829b4e40aeaf94f73530b1a797082a758d4d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kmix-23.04.2.tar.xz">kmix-23.04.2</a></td>
   <td align="right">1168kB</td>
   <td><tt>2cab30dc756a612e503d6bf95a6e1fa0a46108bc5bd09526d42886f954f3b4d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kmousetool-23.04.2.tar.xz">kmousetool-23.04.2</a></td>
   <td align="right">126kB</td>
   <td><tt>c4942a6e63350b5839e4dab347719eb79b88fe334d2300528e11a9ebb353b93b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kmouth-23.04.2.tar.xz">kmouth-23.04.2</a></td>
   <td align="right">2038kB</td>
   <td><tt>30056fd230552b2ac3e11a05ae4d42fd11cbbcb10c279ec81bd8d6a80953186f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kmplot-23.04.2.tar.xz">kmplot-23.04.2</a></td>
   <td align="right">3027kB</td>
   <td><tt>003c4f6a06aebded08a66e3e5622af2ecb1d01b4bf1bc968c02afdde490f0433</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/knavalbattle-23.04.2.tar.xz">knavalbattle-23.04.2</a></td>
   <td align="right">1368kB</td>
   <td><tt>11d7f76521cadd38a05f3f4eb4cca98c01622a9d1f5576cd895c787a8078b1f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/knetwalk-23.04.2.tar.xz">knetwalk-23.04.2</a></td>
   <td align="right">1078kB</td>
   <td><tt>1a04ea1dacc44a40c6b04a4c6ccc0e6aadde8450dcf8402875722018f3de4c91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/knights-23.04.2.tar.xz">knights-23.04.2</a></td>
   <td align="right">3251kB</td>
   <td><tt>fd9332601586c5c12a14d1eb92cc901a29d516c3c37051e6b257815cb1fdabe8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/knotes-23.04.2.tar.xz">knotes-23.04.2</a></td>
   <td align="right">366kB</td>
   <td><tt>f87b9439c19a7fb3138cce53ac4c4ef52ac8fdcfef39f3507484b883b9322b5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/koko-23.04.2.tar.xz">koko-23.04.2</a></td>
   <td align="right">134kB</td>
   <td><tt>420b1f091edd13b9494b2ab0488a530fbb652a78e627dc4419c6041de985cf6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kolf-23.04.2.tar.xz">kolf-23.04.2</a></td>
   <td align="right">1046kB</td>
   <td><tt>7c2359382464e2debc0c907d5ab7d805ef2067ba95a35c6d58012a6de8556188</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kollision-23.04.2.tar.xz">kollision-23.04.2</a></td>
   <td align="right">299kB</td>
   <td><tt>e5e12fe80d7ea29414070fa4f32dd921d29d0c0dff397dbfeff5c2dbfc82d48c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kolourpaint-23.04.2.tar.xz">kolourpaint-23.04.2</a></td>
   <td align="right">5649kB</td>
   <td><tt>fec26e6ae0c2e0e155a9e12c0776a69ed5c0c278509bef7d90e2d4ec20bde090</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kompare-23.04.2.tar.xz">kompare-23.04.2</a></td>
   <td align="right">959kB</td>
   <td><tt>b58ad6898de895a54f9d61e869d8f78e7acb44f989b9a17e8d93b0f1965654cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kongress-23.04.2.tar.xz">kongress-23.04.2</a></td>
   <td align="right">574kB</td>
   <td><tt>718c48d2cf0af052eb21e8d7fed74fa0000648e1077335cdb385155db4c807b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/konqueror-23.04.2.tar.xz">konqueror-23.04.2</a></td>
   <td align="right">8292kB</td>
   <td><tt>3eeb7e252cd422aca249e1e95de3bf2f621bbd362152f6df1b07a27266e7eb68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/konquest-23.04.2.tar.xz">konquest-23.04.2</a></td>
   <td align="right">855kB</td>
   <td><tt>746d00e87b9474644a43865e88a9aabbd3ab35b7a9e12cd610a3c1865d98d94e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/konsole-23.04.2.tar.xz">konsole-23.04.2</a></td>
   <td align="right">1775kB</td>
   <td><tt>acc9565ede884284760e1b04654d2b187da82afde82c8a0411664943f23eecea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kontact-23.04.2.tar.xz">kontact-23.04.2</a></td>
   <td align="right">851kB</td>
   <td><tt>5a3eba57fdf0f90cbc01cb5f2c65fee0b9984227712bc4af9035a182f81c58fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kontactinterface-23.04.2.tar.xz">kontactinterface-23.04.2</a></td>
   <td align="right">39kB</td>
   <td><tt>39566fa1ca2d37b167751419f93c5e8364a2dc6f6198852b3d5a45e14e97aed4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kontrast-23.04.2.tar.xz">kontrast-23.04.2</a></td>
   <td align="right">200kB</td>
   <td><tt>9d5e6684d399cd6873608fd7709a8d5a4fa1da21c3b656b38d8823a6f8f841dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/konversation-23.04.2.tar.xz">konversation-23.04.2</a></td>
   <td align="right">4350kB</td>
   <td><tt>01a24fdd01e3dcff9465c295c7d7eae0fda59654af40d90cbe7323eb1ab887d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kopeninghours-23.04.2.tar.xz">kopeninghours-23.04.2</a></td>
   <td align="right">70kB</td>
   <td><tt>d60198d8711512652361249f542cb8d745a0c37d7c5d243b737f4d2a79e7fa9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kopete-23.04.2.tar.xz">kopete-23.04.2</a></td>
   <td align="right">9906kB</td>
   <td><tt>0e7d523cf52721a21d11f1862e0296a5ca8df371d3d3487c0d4424215f97ad66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/korganizer-23.04.2.tar.xz">korganizer-23.04.2</a></td>
   <td align="right">2477kB</td>
   <td><tt>513b006256a5a20f5439289a816016dd3ad0b5dcad9a9dbc7d22f37ef3c5ee92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kosmindoormap-23.04.2.tar.xz">kosmindoormap-23.04.2</a></td>
   <td align="right">366kB</td>
   <td><tt>c7bb99348c8f3efbaf911eb5a99f3d76e4e20e68e1133c04d1467228660336ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kpat-23.04.2.tar.xz">kpat-23.04.2</a></td>
   <td align="right">3663kB</td>
   <td><tt>191583e363e1544d5f9423094e0e494c421d10a34193fb8ead0e9bccae941942</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kpimtextedit-23.04.2.tar.xz">kpimtextedit-23.04.2</a></td>
   <td align="right">213kB</td>
   <td><tt>3f843ce22bfe75c5841b40c1ee454efd8733c16fbc27d44f841242ee33b72e4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kpkpass-23.04.2.tar.xz">kpkpass-23.04.2</a></td>
   <td align="right">28kB</td>
   <td><tt>a80fc873f4cacfac4bff692ad956523694568c5c2376ef1348768c7a615d5cd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kpmcore-23.04.2.tar.xz">kpmcore-23.04.2</a></td>
   <td align="right">608kB</td>
   <td><tt>13db9c144042402cf8d9876f4424071e0abd46edc9ed3274197f3a1776038adc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kpublictransport-23.04.2.tar.xz">kpublictransport-23.04.2</a></td>
   <td align="right">522kB</td>
   <td><tt>b4b0998663d1d46e3bfd1139fa535ce7ac2442063c56299ef6d1fd26501ff41c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kqtquickcharts-23.04.2.tar.xz">kqtquickcharts-23.04.2</a></td>
   <td align="right">30kB</td>
   <td><tt>b6416561058dfd7cc66fc54a6bd6eb87d785b09abf8543d98b8efd0966bd9724</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/krdc-23.04.2.tar.xz">krdc-23.04.2</a></td>
   <td align="right">1595kB</td>
   <td><tt>5b8e779c6fb0f9e5e15c0f92443932838ad281adde71d477a078ad12a4e70a9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/krecorder-23.04.2.tar.xz">krecorder-23.04.2</a></td>
   <td align="right">155kB</td>
   <td><tt>e3482a04c91dc8da00e78ff8c113f315f4e65e15b5ce19dc115a3c27f1438a03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kreversi-23.04.2.tar.xz">kreversi-23.04.2</a></td>
   <td align="right">1052kB</td>
   <td><tt>744666227256267ca4370637ee591a2f8fb9df2ec9e0ece7de49258513f9a74d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/krfb-23.04.2.tar.xz">krfb-23.04.2</a></td>
   <td align="right">1288kB</td>
   <td><tt>62cbd7e55660a40362f130cb8646dee89a88258f19f696cc26a776076013ef84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kross-interpreters-23.04.2.tar.xz">kross-interpreters-23.04.2</a></td>
   <td align="right">148kB</td>
   <td><tt>818bd4e272b4e50659cbc31ce73325cfbaac46347800ad4532cea4fb37125119</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kruler-23.04.2.tar.xz">kruler-23.04.2</a></td>
   <td align="right">280kB</td>
   <td><tt>d324691c067610726a5a37265f2dfa8d4b4b2d4d989f4c1a7b20a697c1e38d48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ksanecore-23.04.2.tar.xz">ksanecore-23.04.2</a></td>
   <td align="right">49kB</td>
   <td><tt>aecf6c6b6d53275ddf4a642e29118f515e85cb138693d5484caa15da5e6464de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kshisen-23.04.2.tar.xz">kshisen-23.04.2</a></td>
   <td align="right">984kB</td>
   <td><tt>0569f7c84550fc9a84db2acece957f1258997d44a1539e1b5da866c93f1d0e1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ksirk-23.04.2.tar.xz">ksirk-23.04.2</a></td>
   <td align="right">6882kB</td>
   <td><tt>9b9163fed3d0e4a26cc50d273558020ec59f8bc67ef74bad09b95e9bd8315982</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ksmtp-23.04.2.tar.xz">ksmtp-23.04.2</a></td>
   <td align="right">49kB</td>
   <td><tt>20e0e15f793729aaa22971dc875582f3092421b8998bc4b140c242509798bed7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ksnakeduel-23.04.2.tar.xz">ksnakeduel-23.04.2</a></td>
   <td align="right">587kB</td>
   <td><tt>a36c0d1f34e35581870c19e9699426d2760b17b947af04e94db1ed9ddf163422</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kspaceduel-23.04.2.tar.xz">kspaceduel-23.04.2</a></td>
   <td align="right">644kB</td>
   <td><tt>d91e40dd03ba36352fc9fe9ea13c28eb2945c1a434836ced48afad2c20a2ade7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ksquares-23.04.2.tar.xz">ksquares-23.04.2</a></td>
   <td align="right">305kB</td>
   <td><tt>80f2461d65901818f0085b9d574ea72bd969b2a5631f6f1954c384777e7ff2ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ksudoku-23.04.2.tar.xz">ksudoku-23.04.2</a></td>
   <td align="right">1662kB</td>
   <td><tt>ab478bf9d8bd1348f438ae08c3c219d8676ae0150d45ed920ace5dc804f93019</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ksystemlog-23.04.2.tar.xz">ksystemlog-23.04.2</a></td>
   <td align="right">1956kB</td>
   <td><tt>10040138c02ed49433c77e82ac82349f2d3885c0fda2e264ca4aa0373482af8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kteatime-23.04.2.tar.xz">kteatime-23.04.2</a></td>
   <td align="right">305kB</td>
   <td><tt>3b6fd3d343ba79e5ecba05dc7f6d2d02ddc9f60a296737dea4242ff5d0042404</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ktimer-23.04.2.tar.xz">ktimer-23.04.2</a></td>
   <td align="right">394kB</td>
   <td><tt>d6183da9a81c1447d6f0b2566922977493064337a941d45bd50e707c22938d45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ktnef-23.04.2.tar.xz">ktnef-23.04.2</a></td>
   <td align="right">302kB</td>
   <td><tt>dad17abcaabd4f7556286dea82f00f7cb4d754e7e6031629d5d5f2faa06136e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ktorrent-23.04.2.tar.xz">ktorrent-23.04.2</a></td>
   <td align="right">2099kB</td>
   <td><tt>2127456987f522bae41029820b4887c56c135cc88f6cb559466ff50e1568d06d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ktouch-23.04.2.tar.xz">ktouch-23.04.2</a></td>
   <td align="right">4916kB</td>
   <td><tt>c17890ee191aac267c5826328388b5310f7ae28c9078ccb1599693c2f716f56d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ktp-accounts-kcm-23.04.2.tar.xz">ktp-accounts-kcm-23.04.2</a></td>
   <td align="right">271kB</td>
   <td><tt>a7024d415d14eb91764e4055b46744306b07a470336cc70040d42a26a506db7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ktp-approver-23.04.2.tar.xz">ktp-approver-23.04.2</a></td>
   <td align="right">38kB</td>
   <td><tt>2e8bc350ffc3f18f17fa936c391165e4a1cad7d84a9e93be044967d6c24b3aae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ktp-auth-handler-23.04.2.tar.xz">ktp-auth-handler-23.04.2</a></td>
   <td align="right">47kB</td>
   <td><tt>de8ef30f413378ea434ba87c5ec8489c94ef983a22b1f3ad1f29c5e023b86513</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ktp-call-ui-23.04.2.tar.xz">ktp-call-ui-23.04.2</a></td>
   <td align="right">101kB</td>
   <td><tt>4fd4c71683c12d60bc7de7291c9928066872005726bb115137361363f13795a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ktp-common-internals-23.04.2.tar.xz">ktp-common-internals-23.04.2</a></td>
   <td align="right">448kB</td>
   <td><tt>24ae4e50a2954614d2ee8f6c16e5dff7052181a3e2f14333a2c31717a22e0bcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ktp-contact-list-23.04.2.tar.xz">ktp-contact-list-23.04.2</a></td>
   <td align="right">156kB</td>
   <td><tt>f5b8278dd230024b96600fa6078ed79822d8eeebee4727eba808a2ddaa5ea7bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ktp-contact-runner-23.04.2.tar.xz">ktp-contact-runner-23.04.2</a></td>
   <td align="right">44kB</td>
   <td><tt>0c63733ae57545b35402aa7a3a739ed9179ff315adb9aeb144cbe06d267f366a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ktp-desktop-applets-23.04.2.tar.xz">ktp-desktop-applets-23.04.2</a></td>
   <td align="right">44kB</td>
   <td><tt>63bf92a2a4da0b3405a760f964937d7ddcc5c73b57caaf1b89c2098941b4d742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ktp-filetransfer-handler-23.04.2.tar.xz">ktp-filetransfer-handler-23.04.2</a></td>
   <td align="right">46kB</td>
   <td><tt>ce57b1c93304f988afe5a11ce19c886f2af74cea30cfb64f7717e542df6a4d1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ktp-kded-module-23.04.2.tar.xz">ktp-kded-module-23.04.2</a></td>
   <td align="right">101kB</td>
   <td><tt>a58fcec58057daec61ec7f2d2ab84e2d31a492031bc7f94a64793acb52c90649</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ktp-send-file-23.04.2.tar.xz">ktp-send-file-23.04.2</a></td>
   <td align="right">29kB</td>
   <td><tt>f612ba13249a5ac37ab27c40a91b2f292fa6a5a0bf3fa445981d337afe5b28e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ktp-text-ui-23.04.2.tar.xz">ktp-text-ui-23.04.2</a></td>
   <td align="right">475kB</td>
   <td><tt>810514e37796c13bf80fce80ad57dd2e21d8087010275ebb249d5ec36fea1ada</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ktrip-23.04.2.tar.xz">ktrip-23.04.2</a></td>
   <td align="right">247kB</td>
   <td><tt>ed5c411333bc274ecbec1b1c65bf8baaed460f1750fa07f625683478611ff55a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/ktuberling-23.04.2.tar.xz">ktuberling-23.04.2</a></td>
   <td align="right">69731kB</td>
   <td><tt>b0419d7d9864be57759592ec585b1e09a8e5127c37b08d8160da5d7be3bb313d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kturtle-23.04.2.tar.xz">kturtle-23.04.2</a></td>
   <td align="right">1954kB</td>
   <td><tt>009870ebfb38fbf51daeea9177bb3e87ec4610ea1b3de7ba31761b306a93ef50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kubrick-23.04.2.tar.xz">kubrick-23.04.2</a></td>
   <td align="right">340kB</td>
   <td><tt>d9fa9213c29c7a6bf70e3bacc1a35aef645d0918d9c3e937902a0d43fd1f8265</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kwalletmanager-23.04.2.tar.xz">kwalletmanager-23.04.2</a></td>
   <td align="right">830kB</td>
   <td><tt>f0447365f75834c18ac9833a86e86acbb56309143afbc6daf1e63aa63d95c101</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kwave-23.04.2.tar.xz">kwave-23.04.2</a></td>
   <td align="right">6801kB</td>
   <td><tt>cb58260a4fad130a3d6c6f0369eb232d2270aacd175f2679e75851083ac01955</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kweather-23.04.2.tar.xz">kweather-23.04.2</a></td>
   <td align="right">994kB</td>
   <td><tt>d35dc5a6da6c0c052b10169aa7a042b60d1afbb87394f9a4cface01785c89bd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/kwordquiz-23.04.2.tar.xz">kwordquiz-23.04.2</a></td>
   <td align="right">4162kB</td>
   <td><tt>abf0a9fd0eb940b0e59ad9d22477374dac77fcd157bc77c6c6f983313ab00d12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/libgravatar-23.04.2.tar.xz">libgravatar-23.04.2</a></td>
   <td align="right">36kB</td>
   <td><tt>760077d270bc17ce7bcad9e498b7ce041200d8cedd136655a387df660783538f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/libkcddb-23.04.2.tar.xz">libkcddb-23.04.2</a></td>
   <td align="right">447kB</td>
   <td><tt>519d321b6cf079f8ac514cf37ac338577ac1fc6fb305c85fa8868bd93427f384</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/libkcompactdisc-23.04.2.tar.xz">libkcompactdisc-23.04.2</a></td>
   <td align="right">96kB</td>
   <td><tt>23b15f333f3a7b8a4bdc9efeba6af4eb91c5bbb94c6c40f93e996b8e3ade558f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/libkdcraw-23.04.2.tar.xz">libkdcraw-23.04.2</a></td>
   <td align="right">36kB</td>
   <td><tt>25d790c0d42534a55c3a95b084a1ee5fca8801d1fee52dc9add047b6e296ec69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/libkdegames-23.04.2.tar.xz">libkdegames-23.04.2</a></td>
   <td align="right">5846kB</td>
   <td><tt>05ec31527325980f30dbcbc342b0c1092ad9593a19bb88a1b80e735d1f632593</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/libkdepim-23.04.2.tar.xz">libkdepim-23.04.2</a></td>
   <td align="right">279kB</td>
   <td><tt>11c56b7d8e0f24ba28ff84a69d7eb68739e55c6b2f6b68f17b7221422ddb410c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/libkeduvocdocument-23.04.2.tar.xz">libkeduvocdocument-23.04.2</a></td>
   <td align="right">224kB</td>
   <td><tt>9c0ce06a7f7515032adc6ee0341bdd0d1134a5a7afb2fc25e89803af2d170349</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/libkexiv2-23.04.2.tar.xz">libkexiv2-23.04.2</a></td>
   <td align="right">59kB</td>
   <td><tt>c4e065902fdf9ce33e3812d19d6d19227d7955c0e6d73c6b72cfd536b3880804</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/libkgapi-23.04.2.tar.xz">libkgapi-23.04.2</a></td>
   <td align="right">326kB</td>
   <td><tt>14ed86e65d753ec5c967caeacfe40b300fc812778aaffcf6d7460785803e9856</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/libkipi-23.04.2.tar.xz">libkipi-23.04.2</a></td>
   <td align="right">86kB</td>
   <td><tt>987f6b1125465b2e32db9013612071e044bee0bd3da0c1df2d96ea0a5fa6522f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/libkleo-23.04.2.tar.xz">libkleo-23.04.2</a></td>
   <td align="right">501kB</td>
   <td><tt>1b478d60775c2ec87372d2b8d012eb343d16b01dff3bd2a10cf6baf74f44a4c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/libkmahjongg-23.04.2.tar.xz">libkmahjongg-23.04.2</a></td>
   <td align="right">1648kB</td>
   <td><tt>98e602c7b7b434c7cce697864fd90b8198bbfc1ebb36b44b366e0b20ea50a1a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/libkomparediff2-23.04.2.tar.xz">libkomparediff2-23.04.2</a></td>
   <td align="right">181kB</td>
   <td><tt>958595c10e95ec19cf3451604f871edef69912f2496e1ac2870c2d871cd8a990</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/libksane-23.04.2.tar.xz">libksane-23.04.2</a></td>
   <td align="right">151kB</td>
   <td><tt>40744fc514de08de967f39411ed92dad89c803c323f33a25bc5962eb8c3f66f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/libksieve-23.04.2.tar.xz">libksieve-23.04.2</a></td>
   <td align="right">542kB</td>
   <td><tt>d91f0eeba9e851a5bf0478553ce2de45975586d16bb7955e9e8f0a597c072b85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/libktorrent-23.04.2.tar.xz">libktorrent-23.04.2</a></td>
   <td align="right">589kB</td>
   <td><tt>9e7474ee76414826859548b1fec23c2bd4e50341bd91e192974bb19c8a811612</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/lokalize-23.04.2.tar.xz">lokalize-23.04.2</a></td>
   <td align="right">2067kB</td>
   <td><tt>6130d676b58cf917599b1fefcf7ed2cd679785f6a5d92128e70fa10c0c249b10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/lskat-23.04.2.tar.xz">lskat-23.04.2</a></td>
   <td align="right">1220kB</td>
   <td><tt>520ad8070183688ff1f8eec4bb48ebccf7097e4d58fe67b634856df9710d9720</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/mailcommon-23.04.2.tar.xz">mailcommon-23.04.2</a></td>
   <td align="right">740kB</td>
   <td><tt>d02582735ebaea6d669e4b7393247b073299366d03681a87aa1c7d42d6e40857</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/mailimporter-23.04.2.tar.xz">mailimporter-23.04.2</a></td>
   <td align="right">577kB</td>
   <td><tt>b3e599e726b3cfe32f2d3ee41d9b024b38002c0767d9ced312d0fff6dface775</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/marble-23.04.2.tar.xz">marble-23.04.2</a></td>
   <td align="right">52498kB</td>
   <td><tt>3b1d8c53db6c71ec727f7e8153cf667be6d1aa2b2f5befa4ef499bc6b79da09b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/markdownpart-23.04.2.tar.xz">markdownpart-23.04.2</a></td>
   <td align="right">30kB</td>
   <td><tt>fc0e09f300ca8463fb59b8df8a40b27121ca82996182b2f82c5bf441d86cd003</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/mbox-importer-23.04.2.tar.xz">mbox-importer-23.04.2</a></td>
   <td align="right">29kB</td>
   <td><tt>ec92cb33d6a4bfb8ec106780b3dd5ffac1f2e7723ca2c38f5e432a52e33a03f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/messagelib-23.04.2.tar.xz">messagelib-23.04.2</a></td>
   <td align="right">11031kB</td>
   <td><tt>9b9fcce6bec1c4b499b30b32ff37c76953a8bff46c2e39eb67844f96ef14d88e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/minuet-23.04.2.tar.xz">minuet-23.04.2</a></td>
   <td align="right">27037kB</td>
   <td><tt>1ffbd26ecda7276881c5c7952e9f46a6f67cc4e1899b4ceb10780be7aa9c2514</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/neochat-23.04.2.tar.xz">neochat-23.04.2</a></td>
   <td align="right">552kB</td>
   <td><tt>f422ed5ea1b7df39817fd1ffd2da2b8fa2da65b7bdfc2a34e57912b012af0960</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/okular-23.04.2.tar.xz">okular-23.04.2</a></td>
   <td align="right">8279kB</td>
   <td><tt>5f86f2be71c47dcaaf10a21b6bbc6b92cc2c6d8930530d201a06643a34aba825</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/palapeli-23.04.2.tar.xz">palapeli-23.04.2</a></td>
   <td align="right">2062kB</td>
   <td><tt>7d88f19cfb468e35765fa32c929ccb1b58e492238d9def49d520d4b1b5cfa46a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/parley-23.04.2.tar.xz">parley-23.04.2</a></td>
   <td align="right">8393kB</td>
   <td><tt>eee6d431aafbe6b17146cc4ab88cff0f83e2be5a3e2cd91e2e67c051d2a222cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/partitionmanager-23.04.2.tar.xz">partitionmanager-23.04.2</a></td>
   <td align="right">2093kB</td>
   <td><tt>51aa023451b9ba8e8bff7833976079efc9eb8b97db03ecd3dc16c644b8a1fcec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/picmi-23.04.2.tar.xz">picmi-23.04.2</a></td>
   <td align="right">1504kB</td>
   <td><tt>04102c0ace1dba8da38a8077a48351aaa8a339cbce53bed464d3b31c3930da42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/pimcommon-23.04.2.tar.xz">pimcommon-23.04.2</a></td>
   <td align="right">338kB</td>
   <td><tt>44b7584f0095b5e55a75e56722b7a5c9e5cd968e7a3a2b553405d8e524352bef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/pim-data-exporter-23.04.2.tar.xz">pim-data-exporter-23.04.2</a></td>
   <td align="right">415kB</td>
   <td><tt>a4bf2e0096805a74581428b43b2eae73a4ca3c6b15e974cb78174aaea6f83c49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/pim-sieve-editor-23.04.2.tar.xz">pim-sieve-editor-23.04.2</a></td>
   <td align="right">453kB</td>
   <td><tt>d57c0766142bd1ac3547cb181ca8cba73182aef3b30432de7c27c7b279bf6145</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/plasmatube-23.04.2.tar.xz">plasmatube-23.04.2</a></td>
   <td align="right">78kB</td>
   <td><tt>a043d49caabd9d44a7e7286b60c303fb267823a5267386e4e944f9cbad8f8ac1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/poxml-23.04.2.tar.xz">poxml-23.04.2</a></td>
   <td align="right">43kB</td>
   <td><tt>855aa385633d89a4ba38d873604d32df3b292c0282e9e35c4ef3229822910fad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/print-manager-23.04.2.tar.xz">print-manager-23.04.2</a></td>
   <td align="right">282kB</td>
   <td><tt>56475bc754c70c5443289599d08de09a1abc52e0e228d8e9219ac99dc67cec0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/qmlkonsole-23.04.2.tar.xz">qmlkonsole-23.04.2</a></td>
   <td align="right">66kB</td>
   <td><tt>bf25ca88a7adf8a55d104a3a6b20053e227127847b0acfcdec9dd600cb341f04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/rocs-23.04.2.tar.xz">rocs-23.04.2</a></td>
   <td align="right">1532kB</td>
   <td><tt>309931e089dcd6d6e60afc70b823928ac0afd965c1591bcb00c6e8abd97f2f68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/signon-kwallet-extension-23.04.2.tar.xz">signon-kwallet-extension-23.04.2</a></td>
   <td align="right">10kB</td>
   <td><tt>d27b3f9f4eacf39096ccbbd02c4f6e307ee6596b24b11c528a757f604f17ca96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/skanlite-23.04.2.tar.xz">skanlite-23.04.2</a></td>
   <td align="right">2392kB</td>
   <td><tt>7474e087f21f79efc9e7ba1ca6842f096572e318b1f748fc0d752238acc6caa1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/skanpage-23.04.2.tar.xz">skanpage-23.04.2</a></td>
   <td align="right">1267kB</td>
   <td><tt>2694d4554bfd9279f1a7b9da6610538059afa123cb1152c2a347708d811e9278</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/spectacle-23.04.2.tar.xz">spectacle-23.04.2</a></td>
   <td align="right">1309kB</td>
   <td><tt>278bf372cf6ac8270b77e12aaf2440278a874939f2b29608b677955da4309659</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/step-23.04.2.tar.xz">step-23.04.2</a></td>
   <td align="right">960kB</td>
   <td><tt>8c9014c845f1dae3f68fb4ecca8eef7576b5769054d5997caf699a545cac6c69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/svgpart-23.04.2.tar.xz">svgpart-23.04.2</a></td>
   <td align="right">27kB</td>
   <td><tt>c93c80c702442d821967bd13ff456afbc054b9e67fc7574fe076104c25f77649</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/sweeper-23.04.2.tar.xz">sweeper-23.04.2</a></td>
   <td align="right">389kB</td>
   <td><tt>2c8d6f773a4a2d1970af852865788e1fdf10accaed597ef6564fa06197c78c5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/telly-skout-23.04.2.tar.xz">telly-skout-23.04.2</a></td>
   <td align="right">93kB</td>
   <td><tt>cbc6a99927e168ca647c91f3042f38a5d787f7871489eaeb2707f7440fde601d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/tokodon-23.04.2.tar.xz">tokodon-23.04.2</a></td>
   <td align="right">227kB</td>
   <td><tt>ccfc4fcc4d4d99e1ebb3347b59c4da1403d6a41c12023639f58b64fdb14862af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/umbrello-23.04.2.tar.xz">umbrello-23.04.2</a></td>
   <td align="right">5638kB</td>
   <td><tt>2e643111347fb79f40321f82725f92c293cd3bc6bba75f3caf912b3fa0b7fb00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/yakuake-23.04.2.tar.xz">yakuake-23.04.2</a></td>
   <td align="right">418kB</td>
   <td><tt>2810931947dd2dd11195caf2c8ae99293d6155cfef923a3c5859322abf091ae4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.2/src/zanshin-23.04.2.tar.xz">zanshin-23.04.2</a></td>
   <td align="right">341kB</td>
   <td><tt>5583de977e197951c7f9b8e7e68d22b64e73d5b2f9bb68eca6cefa4d5234e852</tt></td>
</tr>

</table>
