
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/attica-5.85.0.tar.xz">attica-5.85.0</a></td>
   <td align="right">65kB</td>
   <td><tt>683f4d952a40376cc1204a37a351ba547992473a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/baloo-5.85.0.tar.xz">baloo-5.85.0</a></td>
   <td align="right">274kB</td>
   <td><tt>8a273368f192b03ed98b016526f55b1304b9e8a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/bluez-qt-5.85.0.tar.xz">bluez-qt-5.85.0</a></td>
   <td align="right">99kB</td>
   <td><tt>16f9273f0fc5e7a848e85970c7e678b5ece4795c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/breeze-icons-5.85.0.tar.xz">breeze-icons-5.85.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>32c53366d895d673d84f6bd442e9c760a7f82f20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/extra-cmake-modules-5.85.0.tar.xz">extra-cmake-modules-5.85.0</a></td>
   <td align="right">310kB</td>
   <td><tt>99bf7b692b228a73905b160e7d1479a51582e55d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/frameworkintegration-5.85.0.tar.xz">frameworkintegration-5.85.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b52e9690bfe7d6765d454b73f5828c10fe7e1667</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kactivities-5.85.0.tar.xz">kactivities-5.85.0</a></td>
   <td align="right">69kB</td>
   <td><tt>43a6051d86b0aa2c7690190551ae0153fab8088c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kactivities-stats-5.85.0.tar.xz">kactivities-stats-5.85.0</a></td>
   <td align="right">80kB</td>
   <td><tt>3740b48cfaaf57a3d52ceb1636d08248ad1b5dbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kapidox-5.85.0.tar.xz">kapidox-5.85.0</a></td>
   <td align="right">190kB</td>
   <td><tt>991b27135fe7d6dd36f8f33d9615146221146697</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/karchive-5.85.0.tar.xz">karchive-5.85.0</a></td>
   <td align="right">962kB</td>
   <td><tt>6ad33c64aaed834ef2acf2c9968408ce72a78cf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kauth-5.85.0.tar.xz">kauth-5.85.0</a></td>
   <td align="right">86kB</td>
   <td><tt>237a489ad631508f1af4926584553db4a8a30ea8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kbookmarks-5.85.0.tar.xz">kbookmarks-5.85.0</a></td>
   <td align="right">124kB</td>
   <td><tt>aba93fbe0737528bb199037b95f972bf06b98e5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kcalendarcore-5.85.0.tar.xz">kcalendarcore-5.85.0</a></td>
   <td align="right">251kB</td>
   <td><tt>41dc60c437d2883fd2a03115aa94fe465a76bd42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kcmutils-5.85.0.tar.xz">kcmutils-5.85.0</a></td>
   <td align="right">159kB</td>
   <td><tt>8c82708571c9c1422a407960994ca26254d7c71b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kcodecs-5.85.0.tar.xz">kcodecs-5.85.0</a></td>
   <td align="right">226kB</td>
   <td><tt>0768861c9f26ed312983033db582e8c5660a0371</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kcompletion-5.85.0.tar.xz">kcompletion-5.85.0</a></td>
   <td align="right">119kB</td>
   <td><tt>04affd02ff1edf80abb6057713971a9120b5b9ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kconfig-5.85.0.tar.xz">kconfig-5.85.0</a></td>
   <td align="right">264kB</td>
   <td><tt>bdab56784266cf8c66af03d83cb8571b1b4821e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kconfigwidgets-5.85.0.tar.xz">kconfigwidgets-5.85.0</a></td>
   <td align="right">401kB</td>
   <td><tt>754607cd6b3b4429c64cf54630e2b75b78144df7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kcontacts-5.85.0.tar.xz">kcontacts-5.85.0</a></td>
   <td align="right">531kB</td>
   <td><tt>acef71fc8f07853a27b1738c7d1485cfbac9e416</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kcoreaddons-5.85.0.tar.xz">kcoreaddons-5.85.0</a></td>
   <td align="right">417kB</td>
   <td><tt>e8a5b911d2f4bbfdc30de948253766577d666e7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kcrash-5.85.0.tar.xz">kcrash-5.85.0</a></td>
   <td align="right">27kB</td>
   <td><tt>df59a4315ea0770df267a97586c1d9b342f941d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kdav-5.85.0.tar.xz">kdav-5.85.0</a></td>
   <td align="right">60kB</td>
   <td><tt>cd5b54e8de005c14d10b04f34745c1d961778288</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kdbusaddons-5.85.0.tar.xz">kdbusaddons-5.85.0</a></td>
   <td align="right">42kB</td>
   <td><tt>a988910015bdd25d7c8ea33798d94558e0b8a472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kdeclarative-5.85.0.tar.xz">kdeclarative-5.85.0</a></td>
   <td align="right">185kB</td>
   <td><tt>53a9f4b08a4bc86a896ee2112dd4fbb6232e8739</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kded-5.85.0.tar.xz">kded-5.85.0</a></td>
   <td align="right">36kB</td>
   <td><tt>7c582c641b10816f924e8e890eba0ef016ce2bef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kdesu-5.85.0.tar.xz">kdesu-5.85.0</a></td>
   <td align="right">51kB</td>
   <td><tt>8e83f1fffb98190668e46401d3ac2bf0ab49c8dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kdnssd-5.85.0.tar.xz">kdnssd-5.85.0</a></td>
   <td align="right">57kB</td>
   <td><tt>6da4c16a2cd1a0bf7193f8f8d4c400eb372a6ad6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kdoctools-5.85.0.tar.xz">kdoctools-5.85.0</a></td>
   <td align="right">426kB</td>
   <td><tt>e3cd6ea4e76105b884647c40f6c780fc7618486b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kemoticons-5.85.0.tar.xz">kemoticons-5.85.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>86631ef52975e978caec9f4393d74755c2956116</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kfilemetadata-5.85.0.tar.xz">kfilemetadata-5.85.0</a></td>
   <td align="right">416kB</td>
   <td><tt>8b2bfe770aef29280b903a33b2c1a9bda8f5336b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kglobalaccel-5.85.0.tar.xz">kglobalaccel-5.85.0</a></td>
   <td align="right">85kB</td>
   <td><tt>e426315c1b5b3c0d8dbf2c049bb7b23ec32e78d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kguiaddons-5.85.0.tar.xz">kguiaddons-5.85.0</a></td>
   <td align="right">59kB</td>
   <td><tt>6a8abd3ecb7017e49c8c6c6569e40e46e379fb55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kholidays-5.85.0.tar.xz">kholidays-5.85.0</a></td>
   <td align="right">225kB</td>
   <td><tt>198d3bfc230c4d953c13c5f9d4583b0aedcba82f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/ki18n-5.85.0.tar.xz">ki18n-5.85.0</a></td>
   <td align="right">576kB</td>
   <td><tt>a081fef90e1ebb4d6b9614f8768b2ad44c7373f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kiconthemes-5.85.0.tar.xz">kiconthemes-5.85.0</a></td>
   <td align="right">216kB</td>
   <td><tt>171d58f99c8b6cf226c8017b9d87c819a73c1aaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kidletime-5.85.0.tar.xz">kidletime-5.85.0</a></td>
   <td align="right">25kB</td>
   <td><tt>2dc08445a9ee3d9a89a3aa30e7cda9f27510b9eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kimageformats-5.85.0.tar.xz">kimageformats-5.85.0</a></td>
   <td align="right">576kB</td>
   <td><tt>e2d9d5a4ef4c2d335c7ede90747300c8a17ead07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kinit-5.85.0.tar.xz">kinit-5.85.0</a></td>
   <td align="right">118kB</td>
   <td><tt>382deebd85211dabd9a1e6f6b9b11f67ed701e0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kio-5.85.0.tar.xz">kio-5.85.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>b69f06ab3849c73814592aa6285032c7ec491faf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kirigami2-5.85.0.tar.xz">kirigami2-5.85.0</a></td>
   <td align="right">315kB</td>
   <td><tt>e6a1f06be1afdaf343f6233c7b5097a2f6ffd315</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kitemmodels-5.85.0.tar.xz">kitemmodels-5.85.0</a></td>
   <td align="right">393kB</td>
   <td><tt>e4a60ca3db3321ae562d5f84b2ae506c4dcaf239</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kitemviews-5.85.0.tar.xz">kitemviews-5.85.0</a></td>
   <td align="right">73kB</td>
   <td><tt>e1a2ea0c741c4030cb1c84d317f527b783421f74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kjobwidgets-5.85.0.tar.xz">kjobwidgets-5.85.0</a></td>
   <td align="right">96kB</td>
   <td><tt>8864eae35dbc552e1f6ac8c4a2f59f170c29a275</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/knewstuff-5.85.0.tar.xz">knewstuff-5.85.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>49a0ab05105e730f566a2526884e96e3a6e5d820</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/knotifications-5.85.0.tar.xz">knotifications-5.85.0</a></td>
   <td align="right">121kB</td>
   <td><tt>678740de2929fcc88b6c081b7d444c8e26ff94c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/knotifyconfig-5.85.0.tar.xz">knotifyconfig-5.85.0</a></td>
   <td align="right">82kB</td>
   <td><tt>330199ecc37200639d2de4caae72470636adb1b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kpackage-5.85.0.tar.xz">kpackage-5.85.0</a></td>
   <td align="right">135kB</td>
   <td><tt>27b49990c842637cf34186aa8b812ac02367c431</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kparts-5.85.0.tar.xz">kparts-5.85.0</a></td>
   <td align="right">187kB</td>
   <td><tt>18acd6a29de2f99a54b4f0029619e99be7fb41c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kpeople-5.85.0.tar.xz">kpeople-5.85.0</a></td>
   <td align="right">55kB</td>
   <td><tt>a55cb6bbb4c19adc2dc10bfafd6246929d632745</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kplotting-5.85.0.tar.xz">kplotting-5.85.0</a></td>
   <td align="right">30kB</td>
   <td><tt>b36af16812e782ea7c9f34f1272c84ae5f80a2ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kpty-5.85.0.tar.xz">kpty-5.85.0</a></td>
   <td align="right">54kB</td>
   <td><tt>9cab9aa815863c5a337b725bfb518b561657e133</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kquickcharts-5.85.0.tar.xz">kquickcharts-5.85.0</a></td>
   <td align="right">103kB</td>
   <td><tt>7fec15151c1cff5f197e04b7d16620054424bb2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/krunner-5.85.0.tar.xz">krunner-5.85.0</a></td>
   <td align="right">75kB</td>
   <td><tt>bf58224f3635e17ecd6c6052a420f27ae16488af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kservice-5.85.0.tar.xz">kservice-5.85.0</a></td>
   <td align="right">257kB</td>
   <td><tt>f55def43116382ddafe98e27b3e7bb25032a943c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/ktexteditor-5.85.0.tar.xz">ktexteditor-5.85.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>1965755e58d75d9d7fc5a63aa5d3d7e7b33d232a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/ktextwidgets-5.85.0.tar.xz">ktextwidgets-5.85.0</a></td>
   <td align="right">318kB</td>
   <td><tt>7a9d1c088395aebf88e17a44cc48b9f0daa2b109</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kunitconversion-5.85.0.tar.xz">kunitconversion-5.85.0</a></td>
   <td align="right">867kB</td>
   <td><tt>b9bc58ba72b132b4f14378cd5ee03f75ce150d98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kwallet-5.85.0.tar.xz">kwallet-5.85.0</a></td>
   <td align="right">295kB</td>
   <td><tt>40bcc1e921a8d9017ffc48eb2ff56395174a48ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kwayland-5.85.0.tar.xz">kwayland-5.85.0</a></td>
   <td align="right">323kB</td>
   <td><tt>d3ceef8937af3356ba3e80333c24ae360909f963</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kwidgetsaddons-5.85.0.tar.xz">kwidgetsaddons-5.85.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>a3c77fcd6ed4958206f03c0fc1bca01d08296fab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kwindowsystem-5.85.0.tar.xz">kwindowsystem-5.85.0</a></td>
   <td align="right">174kB</td>
   <td><tt>6f66d1184ed133a0ee2642ce4b3536a2647f8346</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/kxmlgui-5.85.0.tar.xz">kxmlgui-5.85.0</a></td>
   <td align="right">849kB</td>
   <td><tt>203543aea09c4d01222c00b4faa27d293c7e0aec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/modemmanager-qt-5.85.0.tar.xz">modemmanager-qt-5.85.0</a></td>
   <td align="right">109kB</td>
   <td><tt>ff3b67e12b189ac99782df6514ed5e625810c484</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/networkmanager-qt-5.85.0.tar.xz">networkmanager-qt-5.85.0</a></td>
   <td align="right">191kB</td>
   <td><tt>c4b4cacc3414deba6a795b179df4790abc8bee9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/oxygen-icons5-5.85.0.tar.xz">oxygen-icons5-5.85.0</a></td>
   <td align="right">227MB</td>
   <td><tt>359db1171fe79daa5cdb0cc47dc1018bd17c0207</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/plasma-framework-5.85.0.tar.xz">plasma-framework-5.85.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>afa38933b7c1a8d41be59623497f19fe7c0cedb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/prison-5.85.0.tar.xz">prison-5.85.0</a></td>
   <td align="right">45kB</td>
   <td><tt>cbfaea492fecabfabc77b82ffecc1f3c783672b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/purpose-5.85.0.tar.xz">purpose-5.85.0</a></td>
   <td align="right">157kB</td>
   <td><tt>15f2c3341b729f35d719c67ac585f1c99cc9b0b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/qqc2-desktop-style-5.85.0.tar.xz">qqc2-desktop-style-5.85.0</a></td>
   <td align="right">59kB</td>
   <td><tt>14369ae3143271c2e957661a8e2102ec6efa7d0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/solid-5.85.0.tar.xz">solid-5.85.0</a></td>
   <td align="right">245kB</td>
   <td><tt>2ec19d391252383d489eb749af504585218fe8e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/sonnet-5.85.0.tar.xz">sonnet-5.85.0</a></td>
   <td align="right">290kB</td>
   <td><tt>9ecd44d9028a024686dc63ceee3e8f9f4c8b0fa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/syndication-5.85.0.tar.xz">syndication-5.85.0</a></td>
   <td align="right">496kB</td>
   <td><tt>e974c8397b53a1ceb8d01e1dfffd28643fca8c67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/syntax-highlighting-5.85.0.tar.xz">syntax-highlighting-5.85.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>a719e7213c3f55b61a8f5b3be94cd20b76ab36c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.85/threadweaver-5.85.0.tar.xz">threadweaver-5.85.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>0771feec5b5f30b6ca952ad0100923aec59956e5</tt></td>
</tr>

</table>
