<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/bluedevil-5.9.0.tar.xz">bluedevil-5.9.0</a></td>
   <td align="right">140kB</td>
   <td><tt>5fbdb23084ec30994321fbc6475dde081d6d694184e2168d7923e386d6c6c39e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/breeze-5.9.0.tar.xz">breeze-5.9.0</a></td>
   <td align="right">29MB</td>
   <td><tt>5fd05335c206de56a0f25ac559512f985f4f98faecf45f86b4b3f739d15f838f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/breeze-grub-5.9.0.tar.xz">breeze-grub-5.9.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>3107f6b47c35b958a99b6e9cd14599db83944e83a88f8fe26bdca3358f080132</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/breeze-gtk-5.9.0.tar.xz">breeze-gtk-5.9.0</a></td>
   <td align="right">206kB</td>
   <td><tt>7705490716760d4722949691494283f065c44fc1ccd2f87000fffcdf5b86e519</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/breeze-plymouth-5.9.0.tar.xz">breeze-plymouth-5.9.0</a></td>
   <td align="right">94kB</td>
   <td><tt>0b1552ca0b6276071afb1be453e2bd4b2e36ed82ddce878fd51d81a9bd2bbef7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/discover-5.9.0.tar.xz">discover-5.9.0</a></td>
   <td align="right">9.2MB</td>
   <td><tt>77ca39729035644b9d1b26aa132b37be7d1caed1d98a2c867bee67f3d927d882</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/kactivitymanagerd-5.9.0.tar.xz">kactivitymanagerd-5.9.0</a></td>
   <td align="right">81kB</td>
   <td><tt>3d90cc31497bf22569d963453b1e188d4b7d9ad729ba10f9e10e9a03751b8db2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/kde-cli-tools-5.9.0.tar.xz">kde-cli-tools-5.9.0</a></td>
   <td align="right">488kB</td>
   <td><tt>f40805fec7ec57cdd386bca80c1cc4e7220ca222257fb889f4dbbd4dd3af9a1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/kdecoration-5.9.0.tar.xz">kdecoration-5.9.0</a></td>
   <td align="right">34kB</td>
   <td><tt>13ad324b7dfb5fcf6bd8e9f21fd3202c6acdfa5fbb4edae7706c06685963fa82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/kde-gtk-config-5.9.0.tar.xz">kde-gtk-config-5.9.0</a></td>
   <td align="right">147kB</td>
   <td><tt>e1e4bc2af869452596a0c1b13b981673bcbbbfbe53b950f8472e9d3787dbc37e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/kdeplasma-addons-5.9.0.tar.xz">kdeplasma-addons-5.9.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>f5f5a65d34b5567a0b5d6bc363890abd548a42dc218628191faca481bc05379d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/kgamma5-5.9.0.tar.xz">kgamma5-5.9.0</a></td>
   <td align="right">59kB</td>
   <td><tt>c268777b4f58f5fdad269a1f4cd40fd772539eef7b677dc5a1daeabb8cf3ac73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/khotkeys-5.9.0.tar.xz">khotkeys-5.9.0</a></td>
   <td align="right">591kB</td>
   <td><tt>0eb7816d093809c4755f531e002c80b3f9dacd4dbb333e1a924276e5ac8c8107</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/kinfocenter-5.9.0.tar.xz">kinfocenter-5.9.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>a187172bfec27001d54b1a7822904e65ec00342ae99553ae68ea7f6b8065f5de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/kmenuedit-5.9.0.tar.xz">kmenuedit-5.9.0</a></td>
   <td align="right">637kB</td>
   <td><tt>0b96f43564a6fa8e8b3bc12fc64e99e145f90eac8bcb229e470c7354a763ee20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/kscreen-5.9.0.tar.xz">kscreen-5.9.0</a></td>
   <td align="right">110kB</td>
   <td><tt>76b1afd28f03a3ecc03e497ddcb99b981ecfbaa54716a9abc87a3e759a51d56c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/kscreenlocker-5.9.0.tar.xz">kscreenlocker-5.9.0</a></td>
   <td align="right">105kB</td>
   <td><tt>8f5386672ed7382a799edb27793f19d86a909215fbe6d22d7f2839e70fe6a75f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/ksshaskpass-5.9.0.tar.xz">ksshaskpass-5.9.0</a></td>
   <td align="right">18kB</td>
   <td><tt>75a98037ed29ececc7254e9772a2835c80a9bd7d9ecf65b933137b1e4cfa8d9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/ksysguard-5.9.0.tar.xz">ksysguard-5.9.0</a></td>
   <td align="right">476kB</td>
   <td><tt>94ce745f6dce2dc4dd3fc522e25dc4c00a9a0dea3417113e72527f4a5969fe92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/kwallet-pam-5.9.0.tar.xz">kwallet-pam-5.9.0</a></td>
   <td align="right">17kB</td>
   <td><tt>1b7c39c06884cb75f3985935d5644a695ae9d462c22dd45ea4af101ee2c9b696</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/kwayland-integration-5.9.0.tar.xz">kwayland-integration-5.9.0</a></td>
   <td align="right">17kB</td>
   <td><tt>26f83646795fa167a4ca3673726b6f091305b215ee6b911c48e708a7266b25b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/kwin-5.9.0.tar.xz">kwin-5.9.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>dfe7146d20003ad303bc06179d87fd0c7b6d34446f85bce047b58f71bd305709</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/kwrited-5.9.0.tar.xz">kwrited-5.9.0</a></td>
   <td align="right">19kB</td>
   <td><tt>2a28a3d9a20dbb5f0395d30e9d9550ff3b06633b9a1fc7843c14ce8e1ccfff10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/libkscreen-5.9.0.tar.xz">libkscreen-5.9.0</a></td>
   <td align="right">91kB</td>
   <td><tt>3a169ba83489b043dcf3135762c487ce34afa2fcb3f3dbda739f3ecdbfededf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/libksysguard-5.9.0.tar.xz">libksysguard-5.9.0</a></td>
   <td align="right">561kB</td>
   <td><tt>a1543d0f382d619688c9f76c1f006c1f9bc2718b8e49f69e5943ca9bd19de95d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/milou-5.9.0.tar.xz">milou-5.9.0</a></td>
   <td align="right">53kB</td>
   <td><tt>769c07cd2311703e73777d40bcf7a3b0c16376b0d2c15735bf1352052df77821</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/oxygen-5.9.0.tar.xz">oxygen-5.9.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>762c72623d4a3a199143176ab474654e81b21a29ee80391fe1b3806379a612e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/plasma-desktop-5.9.0.tar.xz">plasma-desktop-5.9.0</a></td>
   <td align="right">5.7MB</td>
   <td><tt>a8aeba935bc1b9a28f76e1d40e368a69c804c064896e6737a95934c2af0f654c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/plasma-integration-5.9.0.tar.xz">plasma-integration-5.9.0</a></td>
   <td align="right">48kB</td>
   <td><tt>0e41a63076bcad8362ad081988afc2a647eb8acaeb958d9f310048692d447a57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/plasma-nm-5.9.0.tar.xz">plasma-nm-5.9.0</a></td>
   <td align="right">651kB</td>
   <td><tt>1a30ab88ae8fe8f99e0425eb920d5d4a1d930dd411e223b9ce372776970e4bd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/plasma-pa-5.9.0.tar.xz">plasma-pa-5.9.0</a></td>
   <td align="right">68kB</td>
   <td><tt>6f33b7a5a40a79a8cd94444a1a6efd32fca214194c4dbd51b6bb4fc4939bb146</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/plasma-sdk-5.9.0.tar.xz">plasma-sdk-5.9.0</a></td>
   <td align="right">704kB</td>
   <td><tt>4b373e7f36b9e231dfe76eca891b05555ce22eaeb73a245632fc26e5d9985843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/plasma-tests-5.9.0.tar.xz">plasma-tests-5.9.0</a></td>
   <td align="right">1kB</td>
   <td><tt>c67256ff27656e66a1119d00cc76a06e4f9e515df996523ed750589141368676</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/plasma-workspace-5.9.0.tar.xz">plasma-workspace-5.9.0</a></td>
   <td align="right">6.6MB</td>
   <td><tt>d8f210bf40c88208802b29ec1660efffe347a55b85e5f2e18ee9f475717ac2d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/plasma-workspace-wallpapers-5.9.0.tar.xz">plasma-workspace-wallpapers-5.9.0</a></td>
   <td align="right">43MB</td>
   <td><tt>fdb513ecd4ad42c92f8757b86fd672cecee07a93f91e6b49497598c370dcdb96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/polkit-kde-agent-1-5.9.0.tar.xz">polkit-kde-agent-1-5.9.0</a></td>
   <td align="right">40kB</td>
   <td><tt>7dda77e706322ee8bc54dfae096c5f7e4c09515dec7f4bbcf3df02634f6ee1db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/powerdevil-5.9.0.tar.xz">powerdevil-5.9.0</a></td>
   <td align="right">349kB</td>
   <td><tt>bb89561fbfa0edc13833a951fe79d6bd2dc09a57ea5558265581dfa868c0aaa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/sddm-kcm-5.9.0.tar.xz">sddm-kcm-5.9.0</a></td>
   <td align="right">54kB</td>
   <td><tt>d30a30a02f435d0b8413f810257166a49a0b4e67d225bb6ddfc6d1e0256c5651</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/systemsettings-5.9.0.tar.xz">systemsettings-5.9.0</a></td>
   <td align="right">154kB</td>
   <td><tt>643297ff053fc374897f3017285d1ab3e3870baf5ef3e3b852fa06779cb9a401</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.0/user-manager-5.9.0.tar.xz">user-manager-5.9.0</a></td>
   <td align="right">530kB</td>
   <td><tt>3fcd234b2d01588b2bbd34cc61c6a1ac1ea5cbb03bed1aef971da415d1169ef2</tt></td>
</tr>

</table>
