<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/bluedevil-5.4.90.tar.xz">bluedevil-5.4.90</a></td>
   <td align="right">127kB</td>
   <td><tt>5614b4bc9f008c2f61691a8f4f8ec8351dc3680e5075c9bd3c6cdb5c6baa7408</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/breeze-5.4.90.tar.xz">breeze-5.4.90</a></td>
   <td align="right">28MB</td>
   <td><tt>a654a565218318ba8cbe4948a0e05e9dd25324e406ade58f044177f25dac7cbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/breeze-gtk-5.4.90.tar.xz">breeze-gtk-5.4.90</a></td>
   <td align="right">251kB</td>
   <td><tt>a879bd3bdf98867aff7159b6ecb872c2a1e0c942f864fadb33dc74dcf35c3f81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/discover-5.4.90.tar.xz">discover-5.4.90</a></td>
   <td align="right">867kB</td>
   <td><tt>c6cded8c4120ce78081ab51c2e354053a3f35ba5bf4420e7bd0f371aad0dae8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/kde-cli-tools-5.4.90.tar.xz">kde-cli-tools-5.4.90</a></td>
   <td align="right">474kB</td>
   <td><tt>a1f1369c7b570b833356f0b7c9a4de65f40d386f94e059046784b79520d221ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/kdecoration-5.4.90.tar.xz">kdecoration-5.4.90</a></td>
   <td align="right">33kB</td>
   <td><tt>7f188a5616ddf53ef2b6804c77c3535ccea7efcae4045f61de85af6ac259cbf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/kde-gtk-config-5.4.90.tar.xz">kde-gtk-config-5.4.90</a></td>
   <td align="right">142kB</td>
   <td><tt>25151efa671acab1c569dd13c884510bf9c9430767f68f2257868ed48655708f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/kdeplasma-addons-5.4.90.tar.xz">kdeplasma-addons-5.4.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>963e03cbb53a1da4ed40190d4c9c8e6e7e353673a3a3e4dbf3b1ce2060d7ad76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/kgamma5-5.4.90.tar.xz">kgamma5-5.4.90</a></td>
   <td align="right">58kB</td>
   <td><tt>5eea6a1d0b5a7ed3f2e6951f3fcac1ac0647f25c9087b0119fee9ffc2a13dce7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/khelpcenter-5.4.90.tar.xz">khelpcenter-5.4.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>07dfc1332f81550bb8f58b17e831c57b7145cffbf352ab14f59b7bd4c63c3e2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/khotkeys-5.4.90.tar.xz">khotkeys-5.4.90</a></td>
   <td align="right">593kB</td>
   <td><tt>5220ad81f6742128e554e08065d93be82fb7a05da633b912194aa0ad92ce3a6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/kinfocenter-5.4.90.tar.xz">kinfocenter-5.4.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8bb0879a872f1c4223f13b5db17d74b3a22ebd1fda243299997d0d42a5953cd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/kmenuedit-5.4.90.tar.xz">kmenuedit-5.4.90</a></td>
   <td align="right">431kB</td>
   <td><tt>039d0e60a24b56067f0fcd07bf6d4a1bc63383ec5cd830bccadcdc956a41cc34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/kscreen-5.4.90.tar.xz">kscreen-5.4.90</a></td>
   <td align="right">99kB</td>
   <td><tt>2804fdd7166612466a3f1bb67b90e2db6470a35187d21ee4c5b5d8cafa396ac8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/kscreenlocker-5.4.90.tar.xz">kscreenlocker-5.4.90</a></td>
   <td align="right">91kB</td>
   <td><tt>ae35540a201311efffb23ca29d9d3e99ca229f44b71e501a71567cb478064329</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/ksshaskpass-5.4.90.tar.xz">ksshaskpass-5.4.90</a></td>
   <td align="right">19kB</td>
   <td><tt>e35f51a252d46c978c7154b01bebe1c95450dbf28d98c2b462521d4e5675ac07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/ksysguard-5.4.90.tar.xz">ksysguard-5.4.90</a></td>
   <td align="right">475kB</td>
   <td><tt>fd207f8889d19c2c2193b5a0a2685a900bad4eec517929620dfeecdfdf65afac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/kwallet-pam-5.4.90.tar.xz">kwallet-pam-5.4.90</a></td>
   <td align="right">15kB</td>
   <td><tt>fedeb25968fefac53d99ee445805c2fcff3938b91ef361a0f0a16be608e6d665</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/kwayland-5.4.90.tar.xz">kwayland-5.4.90</a></td>
   <td align="right">155kB</td>
   <td><tt>9d98cdc5dce149435eaf20a7606f48b9482c2af237ee4f79e4e3b2b7cb4cc8a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/kwayland-integration-5.4.90.tar.xz">kwayland-integration-5.4.90</a></td>
   <td align="right">16kB</td>
   <td><tt>1dc8ab7cc8a211f4aae594b6ebc66b1e10d658376ed93061d881cda7ad394e7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/kwin-5.4.90.tar.xz">kwin-5.4.90</a></td>
   <td align="right">3.6MB</td>
   <td><tt>7e2f0b97b96a3020dc7cffd2ebc63e3c10018d967436cd6512ad009a620aa82c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/kwrited-5.4.90.tar.xz">kwrited-5.4.90</a></td>
   <td align="right">19kB</td>
   <td><tt>291c7f2f71e900901e810afdaebaf19f6c41b09a2c365276a9ad6b52ad165b5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/libkscreen-5.4.90.tar.xz">libkscreen-5.4.90</a></td>
   <td align="right">70kB</td>
   <td><tt>fe9eb037e65acf63d5ec9fd018b0b7576bfc467a22ff4347a9ea0d04e2dc73d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/libksysguard-5.4.90.tar.xz">libksysguard-5.4.90</a></td>
   <td align="right">553kB</td>
   <td><tt>c291f9eeaeba4aef6611f92d60db43a0e1fb840b186ca2f0ef6becbe57c563d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/milou-5.4.90.tar.xz">milou-5.4.90</a></td>
   <td align="right">50kB</td>
   <td><tt>1953036a219be6ecebb9fe80e3c198528c1ea388ceeaa4e09600514095a0276c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/oxygen-5.4.90.tar.xz">oxygen-5.4.90</a></td>
   <td align="right">4.2MB</td>
   <td><tt>ee401c13762314c11cd4d20d19284035cdc0bd4361a8804e4c8b4c8a37063e23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/plasma-desktop-5.4.90.tar.xz">plasma-desktop-5.4.90</a></td>
   <td align="right">6.0MB</td>
   <td><tt>92fd74edb08d59d5ef76d49f5e3a2d14d0d6da9f5b90236c3537cff7d497cb92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/plasma-mediacenter-5.4.90.tar.xz">plasma-mediacenter-5.4.90</a></td>
   <td align="right">156kB</td>
   <td><tt>3cf4991fe6fffaf3f90c91a79d368853cf98abc42e5aa9514c91ec250597dc10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/plasma-nm-5.4.90.tar.xz">plasma-nm-5.4.90</a></td>
   <td align="right">584kB</td>
   <td><tt>a9968843908eae5efbe0e356f9048b68ea3f35fe1faf0aa3d9ad076f5462bda2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/plasma-pa-5.4.90.tar.xz">plasma-pa-5.4.90</a></td>
   <td align="right">50kB</td>
   <td><tt>742bb39d32028bf8a15d09563bd23d767c1d7db2a9c18e0336e85892e3a5fad9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/plasma-sdk-5.4.90.tar.xz">plasma-sdk-5.4.90</a></td>
   <td align="right">632kB</td>
   <td><tt>480fe9875cec00dac7e574218dcaa26a352dc92647f8246c7d81cbb8f0cf9550</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/plasma-workspace-5.4.90.tar.xz">plasma-workspace-5.4.90</a></td>
   <td align="right">8.1MB</td>
   <td><tt>530e4bddd99d073b182b9616367c111c6dbd9b6b7db2e1c378cc0ed7842bbc77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/plasma-workspace-wallpapers-5.4.90.tar.xz">plasma-workspace-wallpapers-5.4.90</a></td>
   <td align="right">53MB</td>
   <td><tt>bd1776484b10670208f87376f1e8a4b1685bdb4b6b58e3cdec40ce6803d67a4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/polkit-kde-agent-1-5.4.90.tar.xz">polkit-kde-agent-1-5.4.90</a></td>
   <td align="right">38kB</td>
   <td><tt>378f0fe21e41c127071635ed3b6d02610a238bbf62f83b46770dae48800d2641</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/powerdevil-5.4.90.tar.xz">powerdevil-5.4.90</a></td>
   <td align="right">337kB</td>
   <td><tt>5c365a4e590d8aed5a7131939783f747ba74eeb00af29c8e3d81f6192ae7f074</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/sddm-kcm-5.4.90.tar.xz">sddm-kcm-5.4.90</a></td>
   <td align="right">46kB</td>
   <td><tt>60e3b94826a552a175c0288a498aca213f3714fd55e37128e7ecfc0c026d6b66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/systemsettings-5.4.90.tar.xz">systemsettings-5.4.90</a></td>
   <td align="right">153kB</td>
   <td><tt>ab4dcafa6bb4205b2ae235c372b2d8db887d089b121cda4f18fcb5bc08a4b13c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.90/user-manager-5.4.90.tar.xz">user-manager-5.4.90</a></td>
   <td align="right">55kB</td>
   <td><tt>f5045e329083bee9bc795d6d89386490abbdaf068723471102755be973e52aa0</tt></td>
</tr>

</table>
