
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/attica-5.49.0.tar.xz">attica-5.49.0</a></td>
   <td align="right">60kB</td>
   <td><tt>75516af79dbf171775d76272ba23219e77ddf4d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/baloo-5.49.0.tar.xz">baloo-5.49.0</a></td>
   <td align="right">226kB</td>
   <td><tt>0a6ebbd71863335b5ea114d604cbc719afe2e151</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/bluez-qt-5.49.0.tar.xz">bluez-qt-5.49.0</a></td>
   <td align="right">73kB</td>
   <td><tt>7b469ae6162f8dadee6a443fbd20af53cf1b9232</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/breeze-icons-5.49.0.tar.xz">breeze-icons-5.49.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>661adadbea6aba48c4664cfefeca3cbe70250d19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/extra-cmake-modules-5.49.0.tar.xz">extra-cmake-modules-5.49.0</a></td>
   <td align="right">315kB</td>
   <td><tt>c46893e79b7064d110d3f7163fadd4c214d3056d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/frameworkintegration-5.49.0.tar.xz">frameworkintegration-5.49.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>06bc9c5c9740be3386d2e7d417bdc9bfad9787b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kactivities-5.49.0.tar.xz">kactivities-5.49.0</a></td>
   <td align="right">59kB</td>
   <td><tt>f9b62c263de4b9665e937b193a811b903783fe8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kactivities-stats-5.49.0.tar.xz">kactivities-stats-5.49.0</a></td>
   <td align="right">59kB</td>
   <td><tt>2ae195fbcb0fca243ee88e48f4a7e43f96927296</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kapidox-5.49.0.tar.xz">kapidox-5.49.0</a></td>
   <td align="right">387kB</td>
   <td><tt>a5da331872f061937055727ef3e2568e245f26a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/karchive-5.49.0.tar.xz">karchive-5.49.0</a></td>
   <td align="right">428kB</td>
   <td><tt>251d871035ef1c6c8144d0d252b3b0efa428049f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kauth-5.49.0.tar.xz">kauth-5.49.0</a></td>
   <td align="right">82kB</td>
   <td><tt>cf6ddec6030b375147f42fec8c95759b2ba56c5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kbookmarks-5.49.0.tar.xz">kbookmarks-5.49.0</a></td>
   <td align="right">115kB</td>
   <td><tt>3f332a9c451594c89ef8330e2524bc2aa395548d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kcmutils-5.49.0.tar.xz">kcmutils-5.49.0</a></td>
   <td align="right">231kB</td>
   <td><tt>2a5c15816e8551905fcd5c1137bf30118771453d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kcodecs-5.49.0.tar.xz">kcodecs-5.49.0</a></td>
   <td align="right">214kB</td>
   <td><tt>1838647162d5b32becfc9f48f843185571c7c1e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kcompletion-5.49.0.tar.xz">kcompletion-5.49.0</a></td>
   <td align="right">113kB</td>
   <td><tt>dde495c24dc782449209f2435d9c7504928ee284</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kconfig-5.49.0.tar.xz">kconfig-5.49.0</a></td>
   <td align="right">230kB</td>
   <td><tt>2f428f32e874a95072c9f40f3d73af88cba2d5e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kconfigwidgets-5.49.0.tar.xz">kconfigwidgets-5.49.0</a></td>
   <td align="right">366kB</td>
   <td><tt>88894cec8aab9ad26d2d34698ef5e90ee240a822</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kcoreaddons-5.49.0.tar.xz">kcoreaddons-5.49.0</a></td>
   <td align="right">344kB</td>
   <td><tt>d987021997d25d5da88ae8ab024f5555f60e7da5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kcrash-5.49.0.tar.xz">kcrash-5.49.0</a></td>
   <td align="right">21kB</td>
   <td><tt>1b85791898bb7c5cb0ed0a3002228e847d661514</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kdbusaddons-5.49.0.tar.xz">kdbusaddons-5.49.0</a></td>
   <td align="right">36kB</td>
   <td><tt>be2006501cc03f791e7489c78579ad4c5bf35ac8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kdeclarative-5.49.0.tar.xz">kdeclarative-5.49.0</a></td>
   <td align="right">167kB</td>
   <td><tt>a0c9909319f0bf0d4e5fac0b2dac75c035115d5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kded-5.49.0.tar.xz">kded-5.49.0</a></td>
   <td align="right">36kB</td>
   <td><tt>c703d05d7caaf7272a9c26fbeaf16314a402a61b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kdesignerplugin-5.49.0.tar.xz">kdesignerplugin-5.49.0</a></td>
   <td align="right">88kB</td>
   <td><tt>4659c39614aa75f14ef2c108c0e4bcff065a348c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kdesu-5.49.0.tar.xz">kdesu-5.49.0</a></td>
   <td align="right">43kB</td>
   <td><tt>121f089066972a69c9135d3f6729aebb443bad04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kdewebkit-5.49.0.tar.xz">kdewebkit-5.49.0</a></td>
   <td align="right">28kB</td>
   <td><tt>2b868c7d2225221af058769858fb519cc58ca563</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kdnssd-5.49.0.tar.xz">kdnssd-5.49.0</a></td>
   <td align="right">55kB</td>
   <td><tt>d2a351b1c7646ec09a431e672d5bb819efacbedb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kdoctools-5.49.0.tar.xz">kdoctools-5.49.0</a></td>
   <td align="right">413kB</td>
   <td><tt>df872501174dd30f29dc4c2ca4f02603be95657c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kemoticons-5.49.0.tar.xz">kemoticons-5.49.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>03e91505d7765b4d6e951d48987563df8799b2a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kfilemetadata-5.49.0.tar.xz">kfilemetadata-5.49.0</a></td>
   <td align="right">252kB</td>
   <td><tt>b9bffdf462779dc3380f28d41b7b62fdd96950b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kglobalaccel-5.49.0.tar.xz">kglobalaccel-5.49.0</a></td>
   <td align="right">81kB</td>
   <td><tt>9453522c721e5b5d9aa8fdab7aeea8077d5ad074</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kguiaddons-5.49.0.tar.xz">kguiaddons-5.49.0</a></td>
   <td align="right">39kB</td>
   <td><tt>9a02e3d95f7ef394a02e27ea9f6437ba059f69d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kholidays-5.49.0.tar.xz">kholidays-5.49.0</a></td>
   <td align="right">195kB</td>
   <td><tt>04763af3171196b02660c6f67f160d7af4ac8fb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/ki18n-5.49.0.tar.xz">ki18n-5.49.0</a></td>
   <td align="right">573kB</td>
   <td><tt>ad282607d2376fcd64795c14ee71f38ad4a73e7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kiconthemes-5.49.0.tar.xz">kiconthemes-5.49.0</a></td>
   <td align="right">202kB</td>
   <td><tt>5200c0836b2e8d83b233b98016e68c562d1d3294</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kidletime-5.49.0.tar.xz">kidletime-5.49.0</a></td>
   <td align="right">25kB</td>
   <td><tt>bdad342cf3a9a911553a35b34eb52c2d632f27a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kimageformats-5.49.0.tar.xz">kimageformats-5.49.0</a></td>
   <td align="right">199kB</td>
   <td><tt>ff536764d696198b204b84200a309cdb395c0b78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kinit-5.49.0.tar.xz">kinit-5.49.0</a></td>
   <td align="right">117kB</td>
   <td><tt>ed47c14a3f4d5a349ae5b9334224c55e5735a8c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kio-5.49.0.tar.xz">kio-5.49.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>fffcd2f59c9408eff662669dc90369a0b72a94d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kirigami2-5.49.0.tar.xz">kirigami2-5.49.0</a></td>
   <td align="right">318kB</td>
   <td><tt>1c268dba38d9374a871fa5556d7f2cb78efff240</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kitemmodels-5.49.0.tar.xz">kitemmodels-5.49.0</a></td>
   <td align="right">381kB</td>
   <td><tt>afb43b64dc8f1b8a28a780d9fc281fc419d8acee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kitemviews-5.49.0.tar.xz">kitemviews-5.49.0</a></td>
   <td align="right">73kB</td>
   <td><tt>212524eb6aa6e60d6076007b9fd79d24077aa016</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kjobwidgets-5.49.0.tar.xz">kjobwidgets-5.49.0</a></td>
   <td align="right">85kB</td>
   <td><tt>1d58d6797f61af1a04e79c82d62c71b9c49b270d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/knewstuff-5.49.0.tar.xz">knewstuff-5.49.0</a></td>
   <td align="right">978kB</td>
   <td><tt>b272e9747a2a251783f70884e2e6f6c87f5b15a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/knotifications-5.49.0.tar.xz">knotifications-5.49.0</a></td>
   <td align="right">98kB</td>
   <td><tt>717981821af96ace91a37814725e5db4f6a74f19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/knotifyconfig-5.49.0.tar.xz">knotifyconfig-5.49.0</a></td>
   <td align="right">81kB</td>
   <td><tt>ff73bdc5cea31027707d703708ca26044361de1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kpackage-5.49.0.tar.xz">kpackage-5.49.0</a></td>
   <td align="right">129kB</td>
   <td><tt>03fa1469b62057d72ba8c73c2ecdfd66c5bb16ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kparts-5.49.0.tar.xz">kparts-5.49.0</a></td>
   <td align="right">171kB</td>
   <td><tt>c1c78983577cdbb2323eba405177b93e46d85e1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kpeople-5.49.0.tar.xz">kpeople-5.49.0</a></td>
   <td align="right">58kB</td>
   <td><tt>44a82bd73231b32bf26125b43fc5bf02e3ae86ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kplotting-5.49.0.tar.xz">kplotting-5.49.0</a></td>
   <td align="right">29kB</td>
   <td><tt>b503409b3ab5f8110cbb66c7685f20c32ae2972d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kpty-5.49.0.tar.xz">kpty-5.49.0</a></td>
   <td align="right">56kB</td>
   <td><tt>32b23434e6e6f2d03ed34a43427be91c9647dd0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/krunner-5.49.0.tar.xz">krunner-5.49.0</a></td>
   <td align="right">60kB</td>
   <td><tt>e73a970525f3ff823182c02f60e8b6d7b2e78a82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kservice-5.49.0.tar.xz">kservice-5.49.0</a></td>
   <td align="right">244kB</td>
   <td><tt>343deb9d5ab209664afe18f7238b6e3cc7f5dc0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/ktexteditor-5.49.0.tar.xz">ktexteditor-5.49.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>b6fbf2f32f4f1c71b58cea27789ea3e4d3a445ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/ktextwidgets-5.49.0.tar.xz">ktextwidgets-5.49.0</a></td>
   <td align="right">301kB</td>
   <td><tt>b095d6aac38ad0829d379f4ba1e6c4ee535879df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kunitconversion-5.49.0.tar.xz">kunitconversion-5.49.0</a></td>
   <td align="right">755kB</td>
   <td><tt>6afac66d689bfc6b52b439f76600b3ea987798f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kwallet-5.49.0.tar.xz">kwallet-5.49.0</a></td>
   <td align="right">299kB</td>
   <td><tt>0a786f40fddb7bac675150873de6363a1123a02b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kwayland-5.49.0.tar.xz">kwayland-5.49.0</a></td>
   <td align="right">313kB</td>
   <td><tt>1a8dec6c27f6b290dbc7e35fe4228819f1195b43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kwidgetsaddons-5.49.0.tar.xz">kwidgetsaddons-5.49.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>5ccb67c20919a4061d89197ff4614c04e7860509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kwindowsystem-5.49.0.tar.xz">kwindowsystem-5.49.0</a></td>
   <td align="right">165kB</td>
   <td><tt>caad075e942b3ea3cf9815dec4e208eb187502d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kxmlgui-5.49.0.tar.xz">kxmlgui-5.49.0</a></td>
   <td align="right">863kB</td>
   <td><tt>44c33df9b33c3188585cda53e927d0f73049aed4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/kxmlrpcclient-5.49.0.tar.xz">kxmlrpcclient-5.49.0</a></td>
   <td align="right">28kB</td>
   <td><tt>06747618f7e60d8b23d37547eac7b938a61d0a81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/modemmanager-qt-5.49.0.tar.xz">modemmanager-qt-5.49.0</a></td>
   <td align="right">98kB</td>
   <td><tt>4ccc1e8e29f9c2b24e2e84ced0c1580f3297f3fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/networkmanager-qt-5.49.0.tar.xz">networkmanager-qt-5.49.0</a></td>
   <td align="right">159kB</td>
   <td><tt>055d2cbf7890f7b10bc3e1f5cb9011538cbeacb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/oxygen-icons5-5.49.0.tar.xz">oxygen-icons5-5.49.0</a></td>
   <td align="right">225MB</td>
   <td><tt>3129a09b1f5403b31bc9017c3756c643a914ef2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/plasma-framework-5.49.0.tar.xz">plasma-framework-5.49.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>dac691b8b912b45777f2904064a7c68d92c28bd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/prison-5.49.0.tar.xz">prison-5.49.0</a></td>
   <td align="right">38kB</td>
   <td><tt>efd2557bfa3e4f80de252d18da1eb9491fb470a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/purpose-5.49.0.tar.xz">purpose-5.49.0</a></td>
   <td align="right">133kB</td>
   <td><tt>1112660d66a817b40713b33f3ab53956d1abad15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/qqc2-desktop-style-5.49.0.tar.xz">qqc2-desktop-style-5.49.0</a></td>
   <td align="right">40kB</td>
   <td><tt>74ee40bc3d512d9ccd67008270356d83e59a5869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/solid-5.49.0.tar.xz">solid-5.49.0</a></td>
   <td align="right">252kB</td>
   <td><tt>84f8d8c8cf436cbe1e9ed9b11b132f63afad9fed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/sonnet-5.49.0.tar.xz">sonnet-5.49.0</a></td>
   <td align="right">279kB</td>
   <td><tt>b2af1fb270de10b335bdf536c423efa4c28c6b87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/syntax-highlighting-5.49.0.tar.xz">syntax-highlighting-5.49.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>5bb7a98088dbe4120f6c77ba3e3d43f5ed719928</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.49/threadweaver-5.49.0.tar.xz">threadweaver-5.49.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>866160b955e3115bd15e9090b9f4311b9fb1be58</tt></td>
</tr>

</table>
