<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/akonadi-22.12.1.tar.xz">akonadi-22.12.1</a></td>
   <td align="right">1622kB</td>
   <td><tt>23786533a6d882163b6369042d3bf5721e4e9bbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/akonadi-calendar-22.12.1.tar.xz">akonadi-calendar-22.12.1</a></td>
   <td align="right">400kB</td>
   <td><tt>fe89575644362cad3c744a13630d334fc2584e6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/akonadi-calendar-tools-22.12.1.tar.xz">akonadi-calendar-tools-22.12.1</a></td>
   <td align="right">248kB</td>
   <td><tt>78e1177eceafe4402b4a2f5dd76107b17ebacfab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/akonadiconsole-22.12.1.tar.xz">akonadiconsole-22.12.1</a></td>
   <td align="right">195kB</td>
   <td><tt>30273e8f5d875785e4cfb793164300b5f413664b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/akonadi-contacts-22.12.1.tar.xz">akonadi-contacts-22.12.1</a></td>
   <td align="right">429kB</td>
   <td><tt>e817ae44d817f0ac37db988c3b1d1219ebb9cccd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/akonadi-import-wizard-22.12.1.tar.xz">akonadi-import-wizard-22.12.1</a></td>
   <td align="right">502kB</td>
   <td><tt>9c9842f354a3e4744c4b823fae7c79adea4b56e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/akonadi-mime-22.12.1.tar.xz">akonadi-mime-22.12.1</a></td>
   <td align="right">150kB</td>
   <td><tt>2394b68cf4eb92654c9870ef8b8698beda7f7245</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/akonadi-notes-22.12.1.tar.xz">akonadi-notes-22.12.1</a></td>
   <td align="right">27kB</td>
   <td><tt>84e52250afe519b6ad02ddd47a997b4026cd5284</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/akonadi-search-22.12.1.tar.xz">akonadi-search-22.12.1</a></td>
   <td align="right">98kB</td>
   <td><tt>d114951f9257c5502908365b83a0e664963d51b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/akregator-22.12.1.tar.xz">akregator-22.12.1</a></td>
   <td align="right">2268kB</td>
   <td><tt>e6120afb5198e0dc740ebcb2b7ecee8590b478f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/analitza-22.12.1.tar.xz">analitza-22.12.1</a></td>
   <td align="right">344kB</td>
   <td><tt>8fbadea1c01660ad3487693b403dba546f98f818</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ark-22.12.1.tar.xz">ark-22.12.1</a></td>
   <td align="right">2805kB</td>
   <td><tt>a5ec0235c5b9c6b8a500a43c8c8ee54ccf22719d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/artikulate-22.12.1.tar.xz">artikulate-22.12.1</a></td>
   <td align="right">1068kB</td>
   <td><tt>eae27761e4c484d40c5a4d9145e56ed205396e45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/audiocd-kio-22.12.1.tar.xz">audiocd-kio-22.12.1</a></td>
   <td align="right">547kB</td>
   <td><tt>b38dfd4d6a28c161a7950855ae4b286c0599b54d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/baloo-widgets-22.12.1.tar.xz">baloo-widgets-22.12.1</a></td>
   <td align="right">268kB</td>
   <td><tt>fb7792d092e65a2b73c7f6b636fe78bec65e837f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/blinken-22.12.1.tar.xz">blinken-22.12.1</a></td>
   <td align="right">2659kB</td>
   <td><tt>65643bf76b96ba9e1e4db98673983d5c8c4aa097</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/bomber-22.12.1.tar.xz">bomber-22.12.1</a></td>
   <td align="right">818kB</td>
   <td><tt>45f3ca278584481ae8d4748b816acf71b73d3d65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/bovo-22.12.1.tar.xz">bovo-22.12.1</a></td>
   <td align="right">209kB</td>
   <td><tt>5deaa0c1f7d03fc2882e9864177eeacbfc50be38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/calendarsupport-22.12.1.tar.xz">calendarsupport-22.12.1</a></td>
   <td align="right">964kB</td>
   <td><tt>4040126dc02a23d5e8325abf9184533108fc7d7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/cantor-22.12.1.tar.xz">cantor-22.12.1</a></td>
   <td align="right">9028kB</td>
   <td><tt>d5076653c0fb5dd6e3d22208d6715dd4ff9cf99d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/cervisia-22.12.1.tar.xz">cervisia-22.12.1</a></td>
   <td align="right">1898kB</td>
   <td><tt>6fc4e72bc08b4ffa3b425a148f71d919361404df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/colord-kde-22.12.1.tar.xz">colord-kde-22.12.1</a></td>
   <td align="right">108kB</td>
   <td><tt>a5d8a83a20c95c3fd78c502c104111871e2eae16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/dolphin-22.12.1.tar.xz">dolphin-22.12.1</a></td>
   <td align="right">5549kB</td>
   <td><tt>025a47c79191e5272cd3b58d06a773723d2f4633</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/dolphin-plugins-22.12.1.tar.xz">dolphin-plugins-22.12.1</a></td>
   <td align="right">262kB</td>
   <td><tt>4b1cf4938827991388d92355f274487f49ada12d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/dragon-22.12.1.tar.xz">dragon-22.12.1</a></td>
   <td align="right">1637kB</td>
   <td><tt>a8a5477242d81f356398b889ca9847b21cb8a2e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/elisa-22.12.1.tar.xz">elisa-22.12.1</a></td>
   <td align="right">1754kB</td>
   <td><tt>5af95f109a5334025c1318439569e4cde519abe1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/eventviews-22.12.1.tar.xz">eventviews-22.12.1</a></td>
   <td align="right">451kB</td>
   <td><tt>9c479e234202174e3bb34f86a69a3e37fd4239a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/falkon-22.12.1.tar.xz">falkon-22.12.1</a></td>
   <td align="right">2485kB</td>
   <td><tt>be321d999117b033757c02b108c8827eba8e5b48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ffmpegthumbs-22.12.1.tar.xz">ffmpegthumbs-22.12.1</a></td>
   <td align="right">30kB</td>
   <td><tt>1730ec150f890967277f14c09affa7865afd5b32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/filelight-22.12.1.tar.xz">filelight-22.12.1</a></td>
   <td align="right">683kB</td>
   <td><tt>b7b8f93698f18f97393b1d82a515226caf7d96d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/granatier-22.12.1.tar.xz">granatier-22.12.1</a></td>
   <td align="right">2062kB</td>
   <td><tt>e1f4c27807674b7c93fa96fbf6683d58d5c94cbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/grantlee-editor-22.12.1.tar.xz">grantlee-editor-22.12.1</a></td>
   <td align="right">114kB</td>
   <td><tt>b5b5874e21d8c890b2b07effd0a01891776bf715</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/grantleetheme-22.12.1.tar.xz">grantleetheme-22.12.1</a></td>
   <td align="right">60kB</td>
   <td><tt>c253452ebc5601101b5e0a619a12063d2bd5b3a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/gwenview-22.12.1.tar.xz">gwenview-22.12.1</a></td>
   <td align="right">6715kB</td>
   <td><tt>e62bcfcc7bebe1e9a916eef4a937d13710bf5941</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/incidenceeditor-22.12.1.tar.xz">incidenceeditor-22.12.1</a></td>
   <td align="right">551kB</td>
   <td><tt>a9b653e883cc8f81fd379a1090c59597e8e8ca7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/itinerary-22.12.1.tar.xz">itinerary-22.12.1</a></td>
   <td align="right">564kB</td>
   <td><tt>0ece54aaf8fa84f591ad01bc994bd390ad437fca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/juk-22.12.1.tar.xz">juk-22.12.1</a></td>
   <td align="right">2026kB</td>
   <td><tt>3d386bb5eee7cea819fbad2d7476c5bdfc537269</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/k3b-22.12.1.tar.xz">k3b-22.12.1</a></td>
   <td align="right">10689kB</td>
   <td><tt>2cf98ed265ce0f4f3ee9542528e0a952ed5c2279</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kaccounts-integration-22.12.1.tar.xz">kaccounts-integration-22.12.1</a></td>
   <td align="right">86kB</td>
   <td><tt>379e45eff1ec09a234153c697cc24427d3229c4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kaccounts-providers-22.12.1.tar.xz">kaccounts-providers-22.12.1</a></td>
   <td align="right">64kB</td>
   <td><tt>fcbd04942e62e5471033696c2999cfab0f21d61a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kaddressbook-22.12.1.tar.xz">kaddressbook-22.12.1</a></td>
   <td align="right">3376kB</td>
   <td><tt>49f04546de62f48f88d924ea6a8396bf26dbf35d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kajongg-22.12.1.tar.xz">kajongg-22.12.1</a></td>
   <td align="right">4469kB</td>
   <td><tt>c0b32972f078a03fabf0b61090df83a95e6824a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kalarm-22.12.1.tar.xz">kalarm-22.12.1</a></td>
   <td align="right">2515kB</td>
   <td><tt>ec9c2f89a59c179dd47bff0fa9ff88ce42cccda1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kalendar-22.12.1.tar.xz">kalendar-22.12.1</a></td>
   <td align="right">781kB</td>
   <td><tt>aecb54b59294a2166d66f1a1a4212d3c46efc8b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kalgebra-22.12.1.tar.xz">kalgebra-22.12.1</a></td>
   <td align="right">1009kB</td>
   <td><tt>eaf01f2646f850ccfb22d6d0c7cabdb3a92b72d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kalzium-22.12.1.tar.xz">kalzium-22.12.1</a></td>
   <td align="right">24063kB</td>
   <td><tt>007790939f6db38e73e68d43fcbdfc5b3e7b5e0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kamera-22.12.1.tar.xz">kamera-22.12.1</a></td>
   <td align="right">128kB</td>
   <td><tt>9ec1b6ce3e1abbaa58850696703347b7abebda80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kamoso-22.12.1.tar.xz">kamoso-22.12.1</a></td>
   <td align="right">223kB</td>
   <td><tt>c28ead66df57825d55144cd00b3ab1d785d5db2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kanagram-22.12.1.tar.xz">kanagram-22.12.1</a></td>
   <td align="right">7872kB</td>
   <td><tt>5d3bced634d60c16f760256beaa8e3b251d674ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kapman-22.12.1.tar.xz">kapman-22.12.1</a></td>
   <td align="right">2422kB</td>
   <td><tt>762864b47211d3a72799c066e610b345cf4be940</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kapptemplate-22.12.1.tar.xz">kapptemplate-22.12.1</a></td>
   <td align="right">331kB</td>
   <td><tt>76f0d50d9fc44dc1b039fab3fc666a19b0e6b303</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kate-22.12.1.tar.xz">kate-22.12.1</a></td>
   <td align="right">7692kB</td>
   <td><tt>62bc8817c25a2aa28f9e0b96ae1a5dbf4b934dda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/katomic-22.12.1.tar.xz">katomic-22.12.1</a></td>
   <td align="right">1416kB</td>
   <td><tt>01dc9a778680945a12cdd5510fd49b7398dce1a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kbackup-22.12.1.tar.xz">kbackup-22.12.1</a></td>
   <td align="right">385kB</td>
   <td><tt>2130656cf3a75aea8334fdcf745a662bcf255cf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kblackbox-22.12.1.tar.xz">kblackbox-22.12.1</a></td>
   <td align="right">536kB</td>
   <td><tt>b4c9776ee7d063799454d46ce4392b9220b17771</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kblocks-22.12.1.tar.xz">kblocks-22.12.1</a></td>
   <td align="right">2058kB</td>
   <td><tt>b96d1a0a779d6995cf04cf5ca9f5a7f3ef2d1eea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kbounce-22.12.1.tar.xz">kbounce-22.12.1</a></td>
   <td align="right">3460kB</td>
   <td><tt>e6701c89fcf01ea51dc3d3081186c1e03a670775</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kbreakout-22.12.1.tar.xz">kbreakout-22.12.1</a></td>
   <td align="right">2498kB</td>
   <td><tt>03523a769d48bc397e5b38da0604c409bdf22152</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kbruch-22.12.1.tar.xz">kbruch-22.12.1</a></td>
   <td align="right">5522kB</td>
   <td><tt>05455d66ac96ae7814f383954dd6d082ee4485b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kcachegrind-22.12.1.tar.xz">kcachegrind-22.12.1</a></td>
   <td align="right">887kB</td>
   <td><tt>a2d555eef20e64cd30fba050d54a2c6a00747711</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kcalc-22.12.1.tar.xz">kcalc-22.12.1</a></td>
   <td align="right">423kB</td>
   <td><tt>3eeca382ec130801938ce1ffc054ce5663bedb2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kcalutils-22.12.1.tar.xz">kcalutils-22.12.1</a></td>
   <td align="right">349kB</td>
   <td><tt>0d715605ed02bbd2baab4c4bf9c0e991894df470</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kcharselect-22.12.1.tar.xz">kcharselect-22.12.1</a></td>
   <td align="right">372kB</td>
   <td><tt>db9a5fb3afd1a4ee469a5374ec181697765e92b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kcolorchooser-22.12.1.tar.xz">kcolorchooser-22.12.1</a></td>
   <td align="right">31kB</td>
   <td><tt>30e7eec5879657fcaa773b8eca2336bc8e65379b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kcron-22.12.1.tar.xz">kcron-22.12.1</a></td>
   <td align="right">920kB</td>
   <td><tt>ed60ec2b8e6f868e6f9f91beef08809f9f3587c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kdebugsettings-22.12.1.tar.xz">kdebugsettings-22.12.1</a></td>
   <td align="right">94kB</td>
   <td><tt>e7fc3fa68d00a57f0efdbff7e7fe6c105795597e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kdeconnect-kde-22.12.1.tar.xz">kdeconnect-kde-22.12.1</a></td>
   <td align="right">622kB</td>
   <td><tt>d5904a3c3b1c27e36ffcb5c3f73ee21781a08351</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kde-dev-scripts-22.12.1.tar.xz">kde-dev-scripts-22.12.1</a></td>
   <td align="right">359kB</td>
   <td><tt>5dfb5c0589b0317ce28fc97b4ed84354c8c06b38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kde-dev-utils-22.12.1.tar.xz">kde-dev-utils-22.12.1</a></td>
   <td align="right">69kB</td>
   <td><tt>507dc58e43666b47c06892ded2eda671f576ba18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kdeedu-data-22.12.1.tar.xz">kdeedu-data-22.12.1</a></td>
   <td align="right">325kB</td>
   <td><tt>29de824890c1427efa366788248e73b401aa42eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kdegraphics-mobipocket-22.12.1.tar.xz">kdegraphics-mobipocket-22.12.1</a></td>
   <td align="right">12kB</td>
   <td><tt>dcced805eeea7122d1b64cd3c05789c72dce7fa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kdegraphics-thumbnailers-22.12.1.tar.xz">kdegraphics-thumbnailers-22.12.1</a></td>
   <td align="right">47kB</td>
   <td><tt>bae124d38ac44952b874eaeb055b57b7650cafb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kdenetwork-filesharing-22.12.1.tar.xz">kdenetwork-filesharing-22.12.1</a></td>
   <td align="right">448kB</td>
   <td><tt>7eef18b4249e48096cc4cedd7143889a2ae8b1c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kdenlive-22.12.1.tar.xz">kdenlive-22.12.1</a></td>
   <td align="right">12234kB</td>
   <td><tt>cf083443c21ac6d70d3129a83916fddaff1c491b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kdepim-addons-22.12.1.tar.xz">kdepim-addons-22.12.1</a></td>
   <td align="right">2601kB</td>
   <td><tt>221306ce2390c52b675fb3bc9150cb52ec6435cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kdepim-runtime-22.12.1.tar.xz">kdepim-runtime-22.12.1</a></td>
   <td align="right">1811kB</td>
   <td><tt>9a4763602760b4b1a102568e48729e9afed5b358</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kdesdk-kio-22.12.1.tar.xz">kdesdk-kio-22.12.1</a></td>
   <td align="right">39kB</td>
   <td><tt>cd68ed425ca1b05b385046337c625835ea8b911b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kdesdk-thumbnailers-22.12.1.tar.xz">kdesdk-thumbnailers-22.12.1</a></td>
   <td align="right">26kB</td>
   <td><tt>4f057206ce038fd2ca399193fbae54f4534d96f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kdevelop-22.12.1.tar.xz">kdevelop-22.12.1</a></td>
   <td align="right">8425kB</td>
   <td><tt>973a64a932c99152bf11cc42f6d18af7dc8e2a62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kdev-php-22.12.1.tar.xz">kdev-php-22.12.1</a></td>
   <td align="right">1058kB</td>
   <td><tt>535e2416c6177d29260da7b410abe0662debe448</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kdev-python-22.12.1.tar.xz">kdev-python-22.12.1</a></td>
   <td align="right">1069kB</td>
   <td><tt>fa70c55892f6301d757d64c671fb526dd472bece</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kdf-22.12.1.tar.xz">kdf-22.12.1</a></td>
   <td align="right">480kB</td>
   <td><tt>a3317598535a4ef94cd69a22ff0fe414ce7e7e6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kdialog-22.12.1.tar.xz">kdialog-22.12.1</a></td>
   <td align="right">136kB</td>
   <td><tt>c24b5a36c3ba4a2169b3780b06bce57e28820acf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kdiamond-22.12.1.tar.xz">kdiamond-22.12.1</a></td>
   <td align="right">4597kB</td>
   <td><tt>ed6d93613425eb3d28c079b78c64df6043150dfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/keditbookmarks-22.12.1.tar.xz">keditbookmarks-22.12.1</a></td>
   <td align="right">230kB</td>
   <td><tt>7b4499a325b16901e44aa3c92b2b55d8325084ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kfind-22.12.1.tar.xz">kfind-22.12.1</a></td>
   <td align="right">332kB</td>
   <td><tt>0e88711f8ff07ef0f43d0f9c81181a5a155954fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kfloppy-22.12.1.tar.xz">kfloppy-22.12.1</a></td>
   <td align="right">234kB</td>
   <td><tt>055b03b33d7e7796cb4fbc64f81a5d34b8dd4c64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kfourinline-22.12.1.tar.xz">kfourinline-22.12.1</a></td>
   <td align="right">718kB</td>
   <td><tt>e8324d1f93635aea70a8c29ebcb5ca5bd076c1a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kgeography-22.12.1.tar.xz">kgeography-22.12.1</a></td>
   <td align="right">12260kB</td>
   <td><tt>c468ba47b882d0182d30ff65254af0eeafc93a5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kget-22.12.1.tar.xz">kget-22.12.1</a></td>
   <td align="right">5429kB</td>
   <td><tt>1765cb6cf226651142d1a8b8a550b8d8121824ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kgoldrunner-22.12.1.tar.xz">kgoldrunner-22.12.1</a></td>
   <td align="right">4786kB</td>
   <td><tt>aa7fe8118ccee2880b6bde4a1c0c4aa1c3d0935b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kgpg-22.12.1.tar.xz">kgpg-22.12.1</a></td>
   <td align="right">2970kB</td>
   <td><tt>e2f21c84b1b0621cbd59c38424ae952219e78083</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/khangman-22.12.1.tar.xz">khangman-22.12.1</a></td>
   <td align="right">7271kB</td>
   <td><tt>78a451229538dfef8314ea322824d32cf4e21a78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/khelpcenter-22.12.1.tar.xz">khelpcenter-22.12.1</a></td>
   <td align="right">4264kB</td>
   <td><tt>2d66bb5ef3d4f85b3b1f3ea79b5a0d9ae931440e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kidentitymanagement-22.12.1.tar.xz">kidentitymanagement-22.12.1</a></td>
   <td align="right">158kB</td>
   <td><tt>6712b5e5ae68c6b2ff6a7bf117cc5f94de179ce3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kig-22.12.1.tar.xz">kig-22.12.1</a></td>
   <td align="right">3197kB</td>
   <td><tt>270909d2d1f1898141e5aedcf45146f0664e2e32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kigo-22.12.1.tar.xz">kigo-22.12.1</a></td>
   <td align="right">5140kB</td>
   <td><tt>effcf39f64887849414a1e62a900aa7fdb85cac7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/killbots-22.12.1.tar.xz">killbots-22.12.1</a></td>
   <td align="right">1173kB</td>
   <td><tt>7f91e7c532fc4c00f5741fcb261590c3245e90b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kimagemapeditor-22.12.1.tar.xz">kimagemapeditor-22.12.1</a></td>
   <td align="right">1077kB</td>
   <td><tt>36b57e4f379cac3d6d50c28cb3bf5a0d657c8f8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kimap-22.12.1.tar.xz">kimap-22.12.1</a></td>
   <td align="right">128kB</td>
   <td><tt>7fac4eb4a69e7364f4255112687437d651e56fe4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kio-extras-22.12.1.tar.xz">kio-extras-22.12.1</a></td>
   <td align="right">1365kB</td>
   <td><tt>a0ea5fbc2ba82f0f4bb4638e265be31046c2caa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kio-gdrive-22.12.1.tar.xz">kio-gdrive-22.12.1</a></td>
   <td align="right">75kB</td>
   <td><tt>2163fcec64fa10d08d6b7c67650b6aa06d486132</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kio-zeroconf-22.12.1.tar.xz">kio-zeroconf-22.12.1</a></td>
   <td align="right">41kB</td>
   <td><tt>a942c4f810ea2d6db32647cf177c2441c007d3b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kipi-plugins-22.12.1.tar.xz">kipi-plugins-22.12.1</a></td>
   <td align="right">1522kB</td>
   <td><tt>3f8d4494bc82f1fa8b6074f34c268476f80fc7c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kirigami-gallery-22.12.1.tar.xz">kirigami-gallery-22.12.1</a></td>
   <td align="right">337kB</td>
   <td><tt>eb2c5ebe62212fca88bccc3e2980b353b0d37f62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kiriki-22.12.1.tar.xz">kiriki-22.12.1</a></td>
   <td align="right">360kB</td>
   <td><tt>24cf73fcfc3428e6e60751cd16a33f369fa39c06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kiten-22.12.1.tar.xz">kiten-22.12.1</a></td>
   <td align="right">11067kB</td>
   <td><tt>179ab4a9980b98e3904c75a2bcfa03a6585362eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kitinerary-22.12.1.tar.xz">kitinerary-22.12.1</a></td>
   <td align="right">1680kB</td>
   <td><tt>94860fe429bf6a18294304607358d60000240619</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kjumpingcube-22.12.1.tar.xz">kjumpingcube-22.12.1</a></td>
   <td align="right">327kB</td>
   <td><tt>1a35691634a53d23ce748e6e98546558157d7e6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kldap-22.12.1.tar.xz">kldap-22.12.1</a></td>
   <td align="right">177kB</td>
   <td><tt>aa7458aa0d5f06bc73382cfb04e9a4dd0b657d90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kleopatra-22.12.1.tar.xz">kleopatra-22.12.1</a></td>
   <td align="right">2511kB</td>
   <td><tt>8d8129f9d372803b1a55138821c0375d78693086</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/klettres-22.12.1.tar.xz">klettres-22.12.1</a></td>
   <td align="right">46722kB</td>
   <td><tt>bf90d21e0cfef0e0bc273f187f528349e8d2cb63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/klickety-22.12.1.tar.xz">klickety-22.12.1</a></td>
   <td align="right">1463kB</td>
   <td><tt>f39595175e3914ac302a4b61d2aa9905468e21b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/klines-22.12.1.tar.xz">klines-22.12.1</a></td>
   <td align="right">1697kB</td>
   <td><tt>1655c606423d432eb6f16a001f0f5fcd75b3b50c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kmag-22.12.1.tar.xz">kmag-22.12.1</a></td>
   <td align="right">707kB</td>
   <td><tt>389cbf97c4bd9bb6d39c526125ff90f544ed6efe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kmahjongg-22.12.1.tar.xz">kmahjongg-22.12.1</a></td>
   <td align="right">3998kB</td>
   <td><tt>ab807168d13d7e83207132e2d84b3a0ba33b7c24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kmail-22.12.1.tar.xz">kmail-22.12.1</a></td>
   <td align="right">7476kB</td>
   <td><tt>a34508074801e22b5c4784755b5688135f0e4e76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kmail-account-wizard-22.12.1.tar.xz">kmail-account-wizard-22.12.1</a></td>
   <td align="right">179kB</td>
   <td><tt>cba30ef78ec09093ad853403e175bfd90e3eb3af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kmailtransport-22.12.1.tar.xz">kmailtransport-22.12.1</a></td>
   <td align="right">186kB</td>
   <td><tt>5dfd8b27bdb74eae84737cfa8ae1829a8980d7b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kmbox-22.12.1.tar.xz">kmbox-22.12.1</a></td>
   <td align="right">28kB</td>
   <td><tt>c33e2e144342c52e25e8f91565aa4cebf62cab57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kmime-22.12.1.tar.xz">kmime-22.12.1</a></td>
   <td align="right">158kB</td>
   <td><tt>aaebe3dd67c6fb36bc20e559933c1d6a037f3057</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kmines-22.12.1.tar.xz">kmines-22.12.1</a></td>
   <td align="right">985kB</td>
   <td><tt>284d8a6a7fbe29df0def126b7f2aea5609889211</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kmix-22.12.1.tar.xz">kmix-22.12.1</a></td>
   <td align="right">1166kB</td>
   <td><tt>47963ac243eaba9e81b5f97c8a06bc90287bd080</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kmousetool-22.12.1.tar.xz">kmousetool-22.12.1</a></td>
   <td align="right">126kB</td>
   <td><tt>759c9cd0847dead6d1b66f9a8c14afef543ef31a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kmouth-22.12.1.tar.xz">kmouth-22.12.1</a></td>
   <td align="right">2038kB</td>
   <td><tt>6cd3dbaafa5796a35bf7102837afec128d5cbdfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kmplot-22.12.1.tar.xz">kmplot-22.12.1</a></td>
   <td align="right">3025kB</td>
   <td><tt>75cbd852029c1bbf8e01831bbe190dafec654ae9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/knavalbattle-22.12.1.tar.xz">knavalbattle-22.12.1</a></td>
   <td align="right">1367kB</td>
   <td><tt>fd9af19b00d781eff452e4f724401fc0741449a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/knetwalk-22.12.1.tar.xz">knetwalk-22.12.1</a></td>
   <td align="right">1078kB</td>
   <td><tt>09682047b7a9ab5c986bcf622ec1ac0d47e2c2a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/knights-22.12.1.tar.xz">knights-22.12.1</a></td>
   <td align="right">3250kB</td>
   <td><tt>be32aa15c2df05ef518fe140a01df853c4d8b4eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/knotes-22.12.1.tar.xz">knotes-22.12.1</a></td>
   <td align="right">366kB</td>
   <td><tt>943b4d7b0d6000c7931688044d2ed9b8f87566fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kolf-22.12.1.tar.xz">kolf-22.12.1</a></td>
   <td align="right">1045kB</td>
   <td><tt>3ffd9e97250c8548ddf6081e10ef9fa4290d98de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kollision-22.12.1.tar.xz">kollision-22.12.1</a></td>
   <td align="right">299kB</td>
   <td><tt>1e881ae4c837031170bbee4febad736aa1760901</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kolourpaint-22.12.1.tar.xz">kolourpaint-22.12.1</a></td>
   <td align="right">5648kB</td>
   <td><tt>76aeae007dfd9ca15ee3cac7aa4effa6b2f76d46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kompare-22.12.1.tar.xz">kompare-22.12.1</a></td>
   <td align="right">954kB</td>
   <td><tt>02b7c5fd79bc760a98aa45205a0ee1142a7af40e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/konqueror-22.12.1.tar.xz">konqueror-22.12.1</a></td>
   <td align="right">8268kB</td>
   <td><tt>1ca1f790c15546e4793f4b4683b1000dce00cbce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/konquest-22.12.1.tar.xz">konquest-22.12.1</a></td>
   <td align="right">855kB</td>
   <td><tt>5edb4044f15a1859d7e6182b0068fd59bded4aad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/konsole-22.12.1.tar.xz">konsole-22.12.1</a></td>
   <td align="right">1732kB</td>
   <td><tt>b57e617a888a7531c758f5ff296d168db0c76e67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kontact-22.12.1.tar.xz">kontact-22.12.1</a></td>
   <td align="right">850kB</td>
   <td><tt>083108857e0939e66ba6e5d248a22f328bf1e7bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kontactinterface-22.12.1.tar.xz">kontactinterface-22.12.1</a></td>
   <td align="right">38kB</td>
   <td><tt>e14af8ce194016a2e72661d9c563658fe47cd2aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kontrast-22.12.1.tar.xz">kontrast-22.12.1</a></td>
   <td align="right">196kB</td>
   <td><tt>03d0ff0cef045588240b8c395c93ccecc6ef6f66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/konversation-22.12.1.tar.xz">konversation-22.12.1</a></td>
   <td align="right">4343kB</td>
   <td><tt>10ee00eed5747ed02d4d0513ec015391a5549438</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kopeninghours-22.12.1.tar.xz">kopeninghours-22.12.1</a></td>
   <td align="right">69kB</td>
   <td><tt>a39dbe4bb5b1510ccca13a85018d65045914aa42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kopete-22.12.1.tar.xz">kopete-22.12.1</a></td>
   <td align="right">10033kB</td>
   <td><tt>82f24ec48d7ee15c152fa4025dbf01dabec900ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/korganizer-22.12.1.tar.xz">korganizer-22.12.1</a></td>
   <td align="right">2511kB</td>
   <td><tt>c6b659bee2acd5aa85812e81269e44027f9ce176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kosmindoormap-22.12.1.tar.xz">kosmindoormap-22.12.1</a></td>
   <td align="right">354kB</td>
   <td><tt>ffbb81245f1ff0111c6ea1c4fc96a0680f05ea3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kpat-22.12.1.tar.xz">kpat-22.12.1</a></td>
   <td align="right">3662kB</td>
   <td><tt>92d2cff4d58559262f43ebbb709b792e3eddd475</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kpimtextedit-22.12.1.tar.xz">kpimtextedit-22.12.1</a></td>
   <td align="right">218kB</td>
   <td><tt>379cc1c0630f86be5a298a5d39d7f11b2a29dd13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kpkpass-22.12.1.tar.xz">kpkpass-22.12.1</a></td>
   <td align="right">28kB</td>
   <td><tt>1011dcf5ef38f013f387dae30b0561707e1d4f40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kpmcore-22.12.1.tar.xz">kpmcore-22.12.1</a></td>
   <td align="right">602kB</td>
   <td><tt>a023168898ea08c5b3185c8b191c229d3f276271</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kpublictransport-22.12.1.tar.xz">kpublictransport-22.12.1</a></td>
   <td align="right">479kB</td>
   <td><tt>47cefd433d495e32b355ad9d3a73f8e8ebebd65d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kqtquickcharts-22.12.1.tar.xz">kqtquickcharts-22.12.1</a></td>
   <td align="right">30kB</td>
   <td><tt>0523b0b329c6a646a40d85b0d8258a821a731322</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/krdc-22.12.1.tar.xz">krdc-22.12.1</a></td>
   <td align="right">1592kB</td>
   <td><tt>3487059111cecf4937a4ad327840573dcee278f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kreversi-22.12.1.tar.xz">kreversi-22.12.1</a></td>
   <td align="right">1051kB</td>
   <td><tt>bfaf156ac6e6cd3ac2faea9f79595ee659f89252</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/krfb-22.12.1.tar.xz">krfb-22.12.1</a></td>
   <td align="right">1290kB</td>
   <td><tt>44f92940eea30e58df8cce6c562b7e410dba8441</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kross-interpreters-22.12.1.tar.xz">kross-interpreters-22.12.1</a></td>
   <td align="right">148kB</td>
   <td><tt>ac2f228212b14f7ff512852cbf8d36d5df8340c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kruler-22.12.1.tar.xz">kruler-22.12.1</a></td>
   <td align="right">279kB</td>
   <td><tt>13be1f4fd113b6f69c385de14ffd105e3053544a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ksanecore-22.12.1.tar.xz">ksanecore-22.12.1</a></td>
   <td align="right">45kB</td>
   <td><tt>bc4ffe49fcd5c61b4fe8ad938253b66cd169de73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kshisen-22.12.1.tar.xz">kshisen-22.12.1</a></td>
   <td align="right">984kB</td>
   <td><tt>1a5465fe1d3f8542870bf0a2fec6c03f37b00532</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ksirk-22.12.1.tar.xz">ksirk-22.12.1</a></td>
   <td align="right">6881kB</td>
   <td><tt>bd9f4f7d536768fd70fea20494570adcb693e4e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ksmtp-22.12.1.tar.xz">ksmtp-22.12.1</a></td>
   <td align="right">48kB</td>
   <td><tt>7a12d0dd93ae620ce70f3953b7288231698425fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ksnakeduel-22.12.1.tar.xz">ksnakeduel-22.12.1</a></td>
   <td align="right">596kB</td>
   <td><tt>39c720e2848124a6627942cbbe7c1326f81dfcbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kspaceduel-22.12.1.tar.xz">kspaceduel-22.12.1</a></td>
   <td align="right">644kB</td>
   <td><tt>924c9bf9685967067e34f6ca069c68e6986c9581</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ksquares-22.12.1.tar.xz">ksquares-22.12.1</a></td>
   <td align="right">304kB</td>
   <td><tt>4bc12312946991f960175a8828bd64719d3da1c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ksudoku-22.12.1.tar.xz">ksudoku-22.12.1</a></td>
   <td align="right">1661kB</td>
   <td><tt>ef72141c0830d9775c3bc6e5d259ff84704d19a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ksystemlog-22.12.1.tar.xz">ksystemlog-22.12.1</a></td>
   <td align="right">1950kB</td>
   <td><tt>e5f84071439c692af1a1221f1ea19f8b587149a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kteatime-22.12.1.tar.xz">kteatime-22.12.1</a></td>
   <td align="right">305kB</td>
   <td><tt>4762a09d83d3329e0ad206c7b7823fe5a7dcdf1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ktimer-22.12.1.tar.xz">ktimer-22.12.1</a></td>
   <td align="right">392kB</td>
   <td><tt>d7cfde538ee32bd0c41f57f767c27852da026606</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ktnef-22.12.1.tar.xz">ktnef-22.12.1</a></td>
   <td align="right">301kB</td>
   <td><tt>c54a2fcceae6ffd3ebf2d198b556f7460f782340</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ktorrent-22.12.1.tar.xz">ktorrent-22.12.1</a></td>
   <td align="right">2085kB</td>
   <td><tt>e9134fd0a7d0e6eb8fe5158299d83dfd7fe5fed2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ktouch-22.12.1.tar.xz">ktouch-22.12.1</a></td>
   <td align="right">4917kB</td>
   <td><tt>bae826f7c47f88b9b45ec0ab91569f822bab9b3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ktp-accounts-kcm-22.12.1.tar.xz">ktp-accounts-kcm-22.12.1</a></td>
   <td align="right">270kB</td>
   <td><tt>44b7d07d6ca458385d0d2fec0241700560bb74c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ktp-approver-22.12.1.tar.xz">ktp-approver-22.12.1</a></td>
   <td align="right">38kB</td>
   <td><tt>adc5f9afa844498eab1fd4637cb2fed5694e232b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ktp-auth-handler-22.12.1.tar.xz">ktp-auth-handler-22.12.1</a></td>
   <td align="right">47kB</td>
   <td><tt>d9ca92d662a5b093a73d0b8b3b56a5e430ac7151</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ktp-call-ui-22.12.1.tar.xz">ktp-call-ui-22.12.1</a></td>
   <td align="right">101kB</td>
   <td><tt>776d43b049e70763a63823a3cf2cfdd36dfc9093</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ktp-common-internals-22.12.1.tar.xz">ktp-common-internals-22.12.1</a></td>
   <td align="right">448kB</td>
   <td><tt>897f5accfb817f34d1e54b3669e0f383b815c06d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ktp-contact-list-22.12.1.tar.xz">ktp-contact-list-22.12.1</a></td>
   <td align="right">156kB</td>
   <td><tt>c66da7ce6fcb7ab4b9a5f08cc7590a78e50df309</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ktp-contact-runner-22.12.1.tar.xz">ktp-contact-runner-22.12.1</a></td>
   <td align="right">44kB</td>
   <td><tt>2f9f83fddd891d1a63d08467ee847981468713cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ktp-desktop-applets-22.12.1.tar.xz">ktp-desktop-applets-22.12.1</a></td>
   <td align="right">43kB</td>
   <td><tt>9573b6f93c06a759d811e59d82c99d7c1c969cb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ktp-filetransfer-handler-22.12.1.tar.xz">ktp-filetransfer-handler-22.12.1</a></td>
   <td align="right">46kB</td>
   <td><tt>cdd4b91d6139228cd6f0dca3ef5a79843beadfc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ktp-kded-module-22.12.1.tar.xz">ktp-kded-module-22.12.1</a></td>
   <td align="right">101kB</td>
   <td><tt>9c816b40953ef77965d8b6094aea9ffad74a65f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ktp-send-file-22.12.1.tar.xz">ktp-send-file-22.12.1</a></td>
   <td align="right">28kB</td>
   <td><tt>6e2f811078438bdd817d4a576cd8b571c9b3d5b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ktp-text-ui-22.12.1.tar.xz">ktp-text-ui-22.12.1</a></td>
   <td align="right">475kB</td>
   <td><tt>575984ec8c6568356415483f9dbe38f6ec7877f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/ktuberling-22.12.1.tar.xz">ktuberling-22.12.1</a></td>
   <td align="right">69760kB</td>
   <td><tt>787a993a6cbd93838672e1376307737fdc616615</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kturtle-22.12.1.tar.xz">kturtle-22.12.1</a></td>
   <td align="right">1951kB</td>
   <td><tt>7ecea3d9ae4b64c1d1fb715b022f9923f7578886</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kubrick-22.12.1.tar.xz">kubrick-22.12.1</a></td>
   <td align="right">339kB</td>
   <td><tt>a3391ca071637433e0b81cd5a874398d780511db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kwalletmanager-22.12.1.tar.xz">kwalletmanager-22.12.1</a></td>
   <td align="right">818kB</td>
   <td><tt>4973c4cd564bf765a96d26464105db568f9b81e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kwave-22.12.1.tar.xz">kwave-22.12.1</a></td>
   <td align="right">6802kB</td>
   <td><tt>294e3623e568d99cc5d9664438cbf3d1462558fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/kwordquiz-22.12.1.tar.xz">kwordquiz-22.12.1</a></td>
   <td align="right">4157kB</td>
   <td><tt>d7c3f65abfdfed3b12ace63812c2cbced3d2be25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/libgravatar-22.12.1.tar.xz">libgravatar-22.12.1</a></td>
   <td align="right">35kB</td>
   <td><tt>1b2819fbe3913e4f1cc8b7f6183fe97bca566faa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/libkcddb-22.12.1.tar.xz">libkcddb-22.12.1</a></td>
   <td align="right">447kB</td>
   <td><tt>37fb47ed9dd27550e20c7ee6b7828b9d18f28b36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/libkcompactdisc-22.12.1.tar.xz">libkcompactdisc-22.12.1</a></td>
   <td align="right">96kB</td>
   <td><tt>08d6997a5169d0893f2e2a31987183ef6eb299fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/libkdcraw-22.12.1.tar.xz">libkdcraw-22.12.1</a></td>
   <td align="right">36kB</td>
   <td><tt>346651c0445b89dab35d206a8e30e8c62089ac6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/libkdegames-22.12.1.tar.xz">libkdegames-22.12.1</a></td>
   <td align="right">5845kB</td>
   <td><tt>a81a5ce4291809546f8131658faa92845cccea2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/libkdepim-22.12.1.tar.xz">libkdepim-22.12.1</a></td>
   <td align="right">279kB</td>
   <td><tt>673e4480993d98238807db5be234159547b3eddd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/libkeduvocdocument-22.12.1.tar.xz">libkeduvocdocument-22.12.1</a></td>
   <td align="right">224kB</td>
   <td><tt>79325d08972aa0a6a452377bbdf8b30726d5c7b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/libkexiv2-22.12.1.tar.xz">libkexiv2-22.12.1</a></td>
   <td align="right">58kB</td>
   <td><tt>855e11dab506bb4b1f37a0c52531916093944f58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/libkgapi-22.12.1.tar.xz">libkgapi-22.12.1</a></td>
   <td align="right">238kB</td>
   <td><tt>aa1d3e24b9c170fcf48213f4d5a6cee722cb6df1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/libkipi-22.12.1.tar.xz">libkipi-22.12.1</a></td>
   <td align="right">86kB</td>
   <td><tt>32cd0b5c91c82efc6e0e4d3702357c1dc3d49bd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/libkleo-22.12.1.tar.xz">libkleo-22.12.1</a></td>
   <td align="right">495kB</td>
   <td><tt>e26cc00675a7c8cea480901fad29880ba0fedf32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/libkmahjongg-22.12.1.tar.xz">libkmahjongg-22.12.1</a></td>
   <td align="right">1646kB</td>
   <td><tt>0daf381488f8fdb31e84973c53f4ca1f9ae582b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/libkomparediff2-22.12.1.tar.xz">libkomparediff2-22.12.1</a></td>
   <td align="right">181kB</td>
   <td><tt>822bf2d9dff4b46f88a09e72fb2a805af834dbd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/libksane-22.12.1.tar.xz">libksane-22.12.1</a></td>
   <td align="right">149kB</td>
   <td><tt>0d2936b1f4089903338bc008ddecfcb3e71c0f85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/libksieve-22.12.1.tar.xz">libksieve-22.12.1</a></td>
   <td align="right">538kB</td>
   <td><tt>879200169b83bac30aa6262ca75ac69c3606e119</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/libktorrent-22.12.1.tar.xz">libktorrent-22.12.1</a></td>
   <td align="right">602kB</td>
   <td><tt>808e935e38adebf81811804182fa81b00076f621</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/lokalize-22.12.1.tar.xz">lokalize-22.12.1</a></td>
   <td align="right">2065kB</td>
   <td><tt>7c94ec2d0c016bfead6b7ccb4c2530c5b792a517</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/lskat-22.12.1.tar.xz">lskat-22.12.1</a></td>
   <td align="right">1220kB</td>
   <td><tt>eb5b87ebf536358c851786ba6e37a00294dcd900</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/mailcommon-22.12.1.tar.xz">mailcommon-22.12.1</a></td>
   <td align="right">739kB</td>
   <td><tt>528f5da95625ab602617b8e85ee1570208476733</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/mailimporter-22.12.1.tar.xz">mailimporter-22.12.1</a></td>
   <td align="right">574kB</td>
   <td><tt>b5b490416fcca1e5338c4f96fe8b9d97cc816866</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/marble-22.12.1.tar.xz">marble-22.12.1</a></td>
   <td align="right">52488kB</td>
   <td><tt>4f326bf48d920793a2a453f7710d56070eaee3dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/markdownpart-22.12.1.tar.xz">markdownpart-22.12.1</a></td>
   <td align="right">30kB</td>
   <td><tt>bc483ec9b2e59c834b8e4923ebe10b8fd134a991</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/mbox-importer-22.12.1.tar.xz">mbox-importer-22.12.1</a></td>
   <td align="right">29kB</td>
   <td><tt>f85ca73583f89914884b8da1dc3c9f2f693d933b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/messagelib-22.12.1.tar.xz">messagelib-22.12.1</a></td>
   <td align="right">11074kB</td>
   <td><tt>38ec0fb76ab53514bfa70e496d26315edcd48fe3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/minuet-22.12.1.tar.xz">minuet-22.12.1</a></td>
   <td align="right">27032kB</td>
   <td><tt>f4515f93b8f1f6befec761251bba236b9ea5b619</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/okular-22.12.1.tar.xz">okular-22.12.1</a></td>
   <td align="right">8182kB</td>
   <td><tt>38e1abfb51ac1cd122878a96c7f3f078074d1dc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/palapeli-22.12.1.tar.xz">palapeli-22.12.1</a></td>
   <td align="right">2060kB</td>
   <td><tt>89f9d50ab797e845bfeea00301afb56f7c5e0b38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/parley-22.12.1.tar.xz">parley-22.12.1</a></td>
   <td align="right">8391kB</td>
   <td><tt>9e5c942cb034d946c12a4b1fc07799a4ab139bc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/partitionmanager-22.12.1.tar.xz">partitionmanager-22.12.1</a></td>
   <td align="right">2077kB</td>
   <td><tt>dfd3e5ac0c260e10c71cd3be417ec52ebbd81b5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/picmi-22.12.1.tar.xz">picmi-22.12.1</a></td>
   <td align="right">1503kB</td>
   <td><tt>89d98c508654d06b548187817dac710824a4bff0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/pimcommon-22.12.1.tar.xz">pimcommon-22.12.1</a></td>
   <td align="right">410kB</td>
   <td><tt>1139eae4f8b163d362775ff52812247513c7526e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/pim-data-exporter-22.12.1.tar.xz">pim-data-exporter-22.12.1</a></td>
   <td align="right">413kB</td>
   <td><tt>130bb79023bb1744709542b033060c7224d0f99d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/pim-sieve-editor-22.12.1.tar.xz">pim-sieve-editor-22.12.1</a></td>
   <td align="right">451kB</td>
   <td><tt>7b398244af35c6a0795b0af7714f84a6a8c31ce0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/poxml-22.12.1.tar.xz">poxml-22.12.1</a></td>
   <td align="right">43kB</td>
   <td><tt>46ecb07012b944730e7d2232e714216c22bd6f79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/print-manager-22.12.1.tar.xz">print-manager-22.12.1</a></td>
   <td align="right">280kB</td>
   <td><tt>3366ef4085fb71b8be2cc3ddc033edfb67905440</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/rocs-22.12.1.tar.xz">rocs-22.12.1</a></td>
   <td align="right">1528kB</td>
   <td><tt>1dac6def1a54dc2a31a9551d3c592f6323b55002</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/signon-kwallet-extension-22.12.1.tar.xz">signon-kwallet-extension-22.12.1</a></td>
   <td align="right">10kB</td>
   <td><tt>9783b897f6062b15e209a01e5028eee42409cacb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/skanlite-22.12.1.tar.xz">skanlite-22.12.1</a></td>
   <td align="right">2391kB</td>
   <td><tt>a79a00aabe5cf19137427730be4720527a41d936</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/skanpage-22.12.1.tar.xz">skanpage-22.12.1</a></td>
   <td align="right">1264kB</td>
   <td><tt>3657222427d60ccb16b4ad98fed10ab7226e202e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/spectacle-22.12.1.tar.xz">spectacle-22.12.1</a></td>
   <td align="right">1242kB</td>
   <td><tt>991df1f618528b338fbd8709da0ba9d7edf44937</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/step-22.12.1.tar.xz">step-22.12.1</a></td>
   <td align="right">957kB</td>
   <td><tt>4f6837218042dc5a77641eff788d80d71ab36dfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/svgpart-22.12.1.tar.xz">svgpart-22.12.1</a></td>
   <td align="right">27kB</td>
   <td><tt>8ec3a9fd5262f9c5d5cb45af6a10ec0ab61f54c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/sweeper-22.12.1.tar.xz">sweeper-22.12.1</a></td>
   <td align="right">388kB</td>
   <td><tt>15d0194051222a01420daee898dd0bf69554dc5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/umbrello-22.12.1.tar.xz">umbrello-22.12.1</a></td>
   <td align="right">5655kB</td>
   <td><tt>9fe5844f598182e18a5904ae33ac23ce74739973</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/yakuake-22.12.1.tar.xz">yakuake-22.12.1</a></td>
   <td align="right">416kB</td>
   <td><tt>71b88674f5c32575ac0c01b518ec9cf6278203da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.1/src/zanshin-22.12.1.tar.xz">zanshin-22.12.1</a></td>
   <td align="right">345kB</td>
   <td><tt>61654e5f050273bda2a819c3c80dd7c3dabec1b6</tt></td>
</tr>

</table>
