
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/attica-5.2.0.tar.xz">attica-5.2.0</a></td>
   <td align="right">58kB</td>
   <td><tt>31b7071ff750c5830e3125be5ed7ddff24c3d534</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/extra-cmake-modules-1.2.0.tar.xz">extra-cmake-modules-1.2.0</a></td>
   <td align="right">114kB</td>
   <td><tt>18baa0476298053024770bd19f29d708a2df4e9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/frameworkintegration-5.2.0.tar.xz">frameworkintegration-5.2.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>13212a7326cff45afd1919039ed66822a2e5144e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kactivities-5.2.0.tar.xz">kactivities-5.2.0</a></td>
   <td align="right">108kB</td>
   <td><tt>809e34781d4d1e313da5c35a12978913a31b7630</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kapidox-5.2.0.tar.xz">kapidox-5.2.0</a></td>
   <td align="right">125kB</td>
   <td><tt>c7b09dd889d96b74a758b5d37ecea64cf68fcf16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/karchive-5.2.0.tar.xz">karchive-5.2.0</a></td>
   <td align="right">103kB</td>
   <td><tt>65ececa03ff826d0e3732e598fcb45eeea68d42f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kauth-5.2.0.tar.xz">kauth-5.2.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>c2453489159a8cb7d52fbabaf0e33012eba8cf6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kbookmarks-5.2.0.tar.xz">kbookmarks-5.2.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>1908e34f5c606e296c5ea66b4b427e64fba472df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kcmutils-5.2.0.tar.xz">kcmutils-5.2.0</a></td>
   <td align="right">224kB</td>
   <td><tt>2d93f0bf36a260fcb1f8ad09e66475840f9ae57a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kcodecs-5.2.0.tar.xz">kcodecs-5.2.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>a1ae509285a53456c67352330ec09e98855d1ad8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kcompletion-5.2.0.tar.xz">kcompletion-5.2.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>b8dd43f249a0b9813b787eb5b79f3e4119d69011</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kconfig-5.2.0.tar.xz">kconfig-5.2.0</a></td>
   <td align="right">209kB</td>
   <td><tt>7afe072336ca52edf6bb32117c5620d1d6c00f63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kconfigwidgets-5.2.0.tar.xz">kconfigwidgets-5.2.0</a></td>
   <td align="right">283kB</td>
   <td><tt>250633de45b6bb1c514e62024f927f0089ec41c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kcoreaddons-5.2.0.tar.xz">kcoreaddons-5.2.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>e26a5631cd03654d5fb962e08d91927b95e27664</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kcrash-5.2.0.tar.xz">kcrash-5.2.0</a></td>
   <td align="right">19kB</td>
   <td><tt>71e18cfca1860034dea0bcea33358902d316559b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kdbusaddons-5.2.0.tar.xz">kdbusaddons-5.2.0</a></td>
   <td align="right">31kB</td>
   <td><tt>eb2757e94767c3ff01f1cb4dacf2f83e77bc0607</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kdeclarative-5.2.0.tar.xz">kdeclarative-5.2.0</a></td>
   <td align="right">95kB</td>
   <td><tt>e2af8ed98daf78730ced76eacd248498222ef6b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kded-5.2.0.tar.xz">kded-5.2.0</a></td>
   <td align="right">23kB</td>
   <td><tt>db26123236c45df557c4c0422c51e52eb56d978f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kdesignerplugin-5.2.0.tar.xz">kdesignerplugin-5.2.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>c0f55f1b2014c216bebc162d8f52d8c49f5a3db8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kdesu-5.2.0.tar.xz">kdesu-5.2.0</a></td>
   <td align="right">35kB</td>
   <td><tt>3c928da8d61c621d9a1719012c1d30aaa72cbf89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kdewebkit-5.2.0.tar.xz">kdewebkit-5.2.0</a></td>
   <td align="right">28kB</td>
   <td><tt>f219ff1439aa1ee584ce0e1bf795024cc8181888</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kdnssd-5.2.0.tar.xz">kdnssd-5.2.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>1b1a4e964e7ea365001c7b4489b9ed41fb7dc8a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kdoctools-5.2.0.tar.xz">kdoctools-5.2.0</a></td>
   <td align="right">353kB</td>
   <td><tt>38d3f10584a72ee28bb8cd956003ff35624c24e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kemoticons-5.2.0.tar.xz">kemoticons-5.2.0</a></td>
   <td align="right">69kB</td>
   <td><tt>4eb7a493f26722240db808f20d73f2ab070b5256</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kglobalaccel-5.2.0.tar.xz">kglobalaccel-5.2.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>cdf3ebb0daf777308e3b8c29ad97abf265ddc809</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kguiaddons-5.2.0.tar.xz">kguiaddons-5.2.0</a></td>
   <td align="right">37kB</td>
   <td><tt>05904fc6de3c0a4c61807169cc50e5558e7eca9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/ki18n-5.2.0.tar.xz">ki18n-5.2.0</a></td>
   <td align="right">559kB</td>
   <td><tt>80f5a99be62be78f388eb4bf5c4d4b840d3de760</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kiconthemes-5.2.0.tar.xz">kiconthemes-5.2.0</a></td>
   <td align="right">189kB</td>
   <td><tt>3942add93bba4fa828a19c80435f47693d965a33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kidletime-5.2.0.tar.xz">kidletime-5.2.0</a></td>
   <td align="right">22kB</td>
   <td><tt>15c283134ca647a586757c2a5fae4b2e74460c1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kimageformats-5.2.0.tar.xz">kimageformats-5.2.0</a></td>
   <td align="right">90kB</td>
   <td><tt>a4155ae9361bd874de58abe1ecb4ee1804b70851</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kinit-5.2.0.tar.xz">kinit-5.2.0</a></td>
   <td align="right">104kB</td>
   <td><tt>62038fb57450892758cbf13de908f3ef2c9f24b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kio-5.2.0.tar.xz">kio-5.2.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>46d0be12a733f7a9c9291bd3a5bf96a74439d6d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kitemmodels-5.2.0.tar.xz">kitemmodels-5.2.0</a></td>
   <td align="right">361kB</td>
   <td><tt>50320bd5016a108741b8375d270c243f116abfad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kitemviews-5.2.0.tar.xz">kitemviews-5.2.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>e3aadf19f525ba69f268dd79f328843233cdf779</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kjobwidgets-5.2.0.tar.xz">kjobwidgets-5.2.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>1ac11a991a56b11b5c4eb80f150ffb92ed821f12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/knewstuff-5.2.0.tar.xz">knewstuff-5.2.0</a></td>
   <td align="right">406kB</td>
   <td><tt>6fb07550820061069895f5ed2f7f8305160f31ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/knotifications-5.2.0.tar.xz">knotifications-5.2.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>568e82af4491d513a968d9e286493f7f84ee179c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/knotifyconfig-5.2.0.tar.xz">knotifyconfig-5.2.0</a></td>
   <td align="right">76kB</td>
   <td><tt>7cf52fc1f1ba6aaa4fb5fcc5bba701d7d2c4765e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kparts-5.2.0.tar.xz">kparts-5.2.0</a></td>
   <td align="right">149kB</td>
   <td><tt>8828ce6f2f813484d8723f8d275b287de11a4432</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kplotting-5.2.0.tar.xz">kplotting-5.2.0</a></td>
   <td align="right">28kB</td>
   <td><tt>ac6927fe2fac56715e6ecdb7d2feaad9a0f32efb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kpty-5.2.0.tar.xz">kpty-5.2.0</a></td>
   <td align="right">54kB</td>
   <td><tt>ab95518d71c3e22fafaa7ca1346000b7eb5baeda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kservice-5.2.0.tar.xz">kservice-5.2.0</a></td>
   <td align="right">241kB</td>
   <td><tt>255a42c9d648f8594fba8b2a139b5136d8e9a2b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/ktexteditor-5.2.0.tar.xz">ktexteditor-5.2.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>d14a331296d384d2c2f81f8b7f95c62fb7518fd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/ktextwidgets-5.2.0.tar.xz">ktextwidgets-5.2.0</a></td>
   <td align="right">295kB</td>
   <td><tt>9e6da7ecc9fc2824fd7965ed8eb159dbf00e86ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kunitconversion-5.2.0.tar.xz">kunitconversion-5.2.0</a></td>
   <td align="right">587kB</td>
   <td><tt>f90fcd925556626d24705d57e087a202aebbfc76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kwallet-5.2.0.tar.xz">kwallet-5.2.0</a></td>
   <td align="right">80kB</td>
   <td><tt>c07dec2ff0cac96187af618425fb32e324f320db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kwidgetsaddons-5.2.0.tar.xz">kwidgetsaddons-5.2.0</a></td>
   <td align="right">4.1MB</td>
   <td><tt>404851f2f7b5f6301f1dded3cb3d7dd4fe45152b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kwindowsystem-5.2.0.tar.xz">kwindowsystem-5.2.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>bcbd529aca5000fd9989799461efb4a091bc993a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/kxmlgui-5.2.0.tar.xz">kxmlgui-5.2.0</a></td>
   <td align="right">867kB</td>
   <td><tt>a4391ce9528fe5dca89bb76d1edf4da08e0e02f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/plasma-framework-5.2.0.tar.xz">plasma-framework-5.2.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>9005fdd21d088f17cc3640cb704410e1bf730cae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/solid-5.2.0.tar.xz">solid-5.2.0</a></td>
   <td align="right">284kB</td>
   <td><tt>16a7f48d209d1d1a7b05ebcb29f3559c198fffa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/sonnet-5.2.0.tar.xz">sonnet-5.2.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>041493366236079b52fdf41e6dbed3aacb59893e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.2.0/threadweaver-5.2.0.tar.xz">threadweaver-5.2.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>18b13f67939e0c7f3d96f1e66109c1400439ebf8</tt></td>
</tr>

</table>
