<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/aura-browser-5.27.8.tar.xz">aura-browser-5.27.8</a></td>
   <td align="right">2.9MB</td>
   <td><tt>1081be5dd4493f3670967f4c05672214ee361b2e7fc4ea0c0d8d76c81368c324</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/bluedevil-5.27.8.tar.xz">bluedevil-5.27.8</a></td>
   <td align="right">357kB</td>
   <td><tt>3b0b6fd0a047a5a890f8858ccdcc346e995f49496e6674e737bab2027b0a7825</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/breeze-5.27.8.tar.xz">breeze-5.27.8</a></td>
   <td align="right">83MB</td>
   <td><tt>cda48253cb74a4f18c0edbc3065a61055cafcb167362c4e90be52182b0e73e44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/breeze-grub-5.27.8.tar.xz">breeze-grub-5.27.8</a></td>
   <td align="right">3.0MB</td>
   <td><tt>e0b380379207321676cab160bc0e92a2519673189aaae275f73844c6c2d05c22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/breeze-gtk-5.27.8.tar.xz">breeze-gtk-5.27.8</a></td>
   <td align="right">39kB</td>
   <td><tt>400f452b73dbe4afa3ce346e4769fed13798bf6413edd5e74a2504c20eefeace</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/breeze-plymouth-5.27.8.tar.xz">breeze-plymouth-5.27.8</a></td>
   <td align="right">108kB</td>
   <td><tt>0eddb064c228f990f05ed632c5c50f21534de4ed8fefaa37e449bcb669ad3b5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/discover-5.27.8.tar.xz">discover-5.27.8</a></td>
   <td align="right">848kB</td>
   <td><tt>f1c5fcbbae52bdcba4745c154ef2a900fb7eafbe88d2d769837bb38ad9020fd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/drkonqi-5.27.8.tar.xz">drkonqi-5.27.8</a></td>
   <td align="right">841kB</td>
   <td><tt>8b8fcc506de14eccd1b57aa96541fdfea885db875e7a42feec702acd14d1db2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/flatpak-kcm-5.27.8.tar.xz">flatpak-kcm-5.27.8</a></td>
   <td align="right">225kB</td>
   <td><tt>dc8661005102c822531fa53266f9a800c95dac3693bfcde7d07fcf0fd6aaed55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/kactivitymanagerd-5.27.8.tar.xz">kactivitymanagerd-5.27.8</a></td>
   <td align="right">124kB</td>
   <td><tt>d44b6ce1e7839fde5b05b745875f282ee0ce54267f0a4459aa74b6dbede832d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/kde-cli-tools-5.27.8.tar.xz">kde-cli-tools-5.27.8</a></td>
   <td align="right">651kB</td>
   <td><tt>a2ba02957ba9077f4d097b2aa1c5c3f7f4f25ffd72a18c14a2d8371e941467a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/kdecoration-5.27.8.tar.xz">kdecoration-5.27.8</a></td>
   <td align="right">51kB</td>
   <td><tt>dead3e3fc6fa4a596ad3398a95f1f7e190c43d57f9cb7d6af4497a3d3cb0c889</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/kde-gtk-config-5.27.8.tar.xz">kde-gtk-config-5.27.8</a></td>
   <td align="right">75kB</td>
   <td><tt>977c694383e32bc8f233d942f6165d640b91051b68aae9c1409466322aa6d9d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/kdeplasma-addons-5.27.8.tar.xz">kdeplasma-addons-5.27.8</a></td>
   <td align="right">802kB</td>
   <td><tt>6b35868ab1e12d9910f0025cc2b5cf820c8be80a39212a0d982650b59c4f6546</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/kgamma5-5.27.8.tar.xz">kgamma5-5.27.8</a></td>
   <td align="right">86kB</td>
   <td><tt>483f0c271acff8c3851e275674a705ca09a5269f50a1d2d509990f58c1f03416</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/khotkeys-5.27.8.tar.xz">khotkeys-5.27.8</a></td>
   <td align="right">1.8MB</td>
   <td><tt>8ce2238043e1914802a6c4b3c5ed472133df725dc3264d93c0f1759a8662a11e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/kinfocenter-5.27.8.tar.xz">kinfocenter-5.27.8</a></td>
   <td align="right">992kB</td>
   <td><tt>af6f629f68bab369721977f0e1749cf1d2d1b11234dfd4c7329a42120faad9cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/kmenuedit-5.27.8.tar.xz">kmenuedit-5.27.8</a></td>
   <td align="right">910kB</td>
   <td><tt>ae080a93f4300612d3f7832a903c4473b49ae40f880c944d1a7c2f399614f39f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/kpipewire-5.27.8.tar.xz">kpipewire-5.27.8</a></td>
   <td align="right">58kB</td>
   <td><tt>5ae64c6d494634f86aa87d550b6548ef0ac19ed67c24dd9fe1b5cf5387504780</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/kscreen-5.27.8.tar.xz">kscreen-5.27.8</a></td>
   <td align="right">180kB</td>
   <td><tt>14cb2b399ea056c2551382b53e45652386f6b7e9dfa99615ab15bc7aac8f041b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/kscreenlocker-5.27.8.tar.xz">kscreenlocker-5.27.8</a></td>
   <td align="right">157kB</td>
   <td><tt>9a3f938328ecb4c5368bbcb7e3f5a79cafee3df47a56de6853d4a87bf52cfd16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/ksshaskpass-5.27.8.tar.xz">ksshaskpass-5.27.8</a></td>
   <td align="right">27kB</td>
   <td><tt>67c419ba55942866db51d70a88995f6713aaa0c3a0ccad28322fee386d8599ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/ksystemstats-5.27.8.tar.xz">ksystemstats-5.27.8</a></td>
   <td align="right">113kB</td>
   <td><tt>2e1655434afabb9a2b46b7ad4b8811d2d81941fa3ba90589a4a3fe5ade08915a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/kwallet-pam-5.27.8.tar.xz">kwallet-pam-5.27.8</a></td>
   <td align="right">22kB</td>
   <td><tt>ba77fab2422aaf7c0eec59cd529093678ac8933d72db433cc866e0efe912fb55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/kwayland-integration-5.27.8.tar.xz">kwayland-integration-5.27.8</a></td>
   <td align="right">25kB</td>
   <td><tt>7a7db7a37c1d61fc33cf0ae814ad832e8755911021fc8d3caf366b5343687385</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/kwin-5.27.8.tar.xz">kwin-5.27.8</a></td>
   <td align="right">7.2MB</td>
   <td><tt>e726cd68648805af3ce98b6b360eadd7ba681e6cf4358b1ab57863cd270732e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/kwrited-5.27.8.tar.xz">kwrited-5.27.8</a></td>
   <td align="right">22kB</td>
   <td><tt>4917b9d333119cb9929e0fda0ed4b2c679af986a778692d19202eaf6099c8578</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/layer-shell-qt-5.27.8.tar.xz">layer-shell-qt-5.27.8</a></td>
   <td align="right">18kB</td>
   <td><tt>772f2aba1710bab59f4c948a8e9628f205a7c6a4dabeb418b3249c5990c688ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/libkscreen-5.27.8.tar.xz">libkscreen-5.27.8</a></td>
   <td align="right">113kB</td>
   <td><tt>94562fd58de297a310295e1f71ba19ce91c3a4104eae40b2b3212ce3c66a8320</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/libksysguard-5.27.8.tar.xz">libksysguard-5.27.8</a></td>
   <td align="right">863kB</td>
   <td><tt>a024c0183b0aed1e2fb4661ba0e31942f54a4a630ceb14ca745ac5f76245fd7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/milou-5.27.8.tar.xz">milou-5.27.8</a></td>
   <td align="right">57kB</td>
   <td><tt>4d9c76a8d32a22020a023f0edf04f1360bf4a9011766082a63c02660e69c08e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/oxygen-5.27.8.tar.xz">oxygen-5.27.8</a></td>
   <td align="right">2.6MB</td>
   <td><tt>5f2b85d84fbf815310e09c352ef9be925ebf6a00bdf9a01901609ff6bc83c48b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/oxygen-sounds-5.27.8.tar.xz">oxygen-sounds-5.27.8</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d697d7e971e019fd7a9855a0cf3d3dd5d1c6a96c55b522bb3bdfdfec9da5a405</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/plank-player-5.27.8.tar.xz">plank-player-5.27.8</a></td>
   <td align="right">155kB</td>
   <td><tt>93180c8c2293190de55ab4171cda85af8961ae21a56d216547c0ff657cacedad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/plasma-bigscreen-5.27.8.tar.xz">plasma-bigscreen-5.27.8</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d44db47f53781608ed8223ac494ee6cc82b2ea55c87aca4fd32e5f0975532f2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/plasma-browser-integration-5.27.8.tar.xz">plasma-browser-integration-5.27.8</a></td>
   <td align="right">206kB</td>
   <td><tt>9c4aecad9dcae379eee7b13cb1aae1d4bfe12dc93504d90a4b5114c7e7b495e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/plasma-desktop-5.27.8.tar.xz">plasma-desktop-5.27.8</a></td>
   <td align="right">14MB</td>
   <td><tt>df660a0a9ad6834112add599982fd0c6b991c36b6d3c27e1309028c4d03ebcae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/plasma-disks-5.27.8.tar.xz">plasma-disks-5.27.8</a></td>
   <td align="right">91kB</td>
   <td><tt>987c0bd99cd2f78234755925d3074aafe194218fc4f55b04d74773862d5ae279</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/plasma-firewall-5.27.8.tar.xz">plasma-firewall-5.27.8</a></td>
   <td align="right">354kB</td>
   <td><tt>6eb92cb9ae73b50a02febf69a5570790bee68bdfc616b48d08d009bd4c388917</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/plasma-integration-5.27.8.tar.xz">plasma-integration-5.27.8</a></td>
   <td align="right">87kB</td>
   <td><tt>fb1cfbe75b4536fb57cc91ed7dcad49e0e00414fc29576b5c3905562b418c791</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/plasma-mobile-5.27.8.tar.xz">plasma-mobile-5.27.8</a></td>
   <td align="right">3.2MB</td>
   <td><tt>169e9c36387c4390899b09731f436f93b1352fa12aac836169f4e62b078dfa77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/plasma-nano-5.27.8.tar.xz">plasma-nano-5.27.8</a></td>
   <td align="right">72kB</td>
   <td><tt>c2f255819f56b7da27d2d060585c7d2cdc413c887ef2b0a4205ab2d14d88a694</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/plasma-nm-5.27.8.tar.xz">plasma-nm-5.27.8</a></td>
   <td align="right">1.1MB</td>
   <td><tt>a75493c3299a48aa0c86d8208ba2c0696057b4d6ca43d866de0b22ac14643a66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/plasma-pa-5.27.8.tar.xz">plasma-pa-5.27.8</a></td>
   <td align="right">159kB</td>
   <td><tt>69234132db1aba794c165d71490c158b099680fa5021aaffed103ef9fd3ed70b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/plasma-remotecontrollers-5.27.8.tar.xz">plasma-remotecontrollers-5.27.8</a></td>
   <td align="right">79kB</td>
   <td><tt>a296f31c7c3eb1a29e6d60301795881ca9c08d30d0852045507b39eee423faf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/plasma-sdk-5.27.8.tar.xz">plasma-sdk-5.27.8</a></td>
   <td align="right">313kB</td>
   <td><tt>9f961d5ce3a5fe7e945eb397d103435954669baba521f04a81a40345f47490bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/plasma-systemmonitor-5.27.8.tar.xz">plasma-systemmonitor-5.27.8</a></td>
   <td align="right">169kB</td>
   <td><tt>bdc6ebfc61f9078319827295bb90465c8b8b5b216a002bdb0a869fd00c350c27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/plasma-thunderbolt-5.27.8.tar.xz">plasma-thunderbolt-5.27.8</a></td>
   <td align="right">70kB</td>
   <td><tt>b35da4ccec24ec2a1514e262024bbb4423d322a3919548f60a3a2c692e988715</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/plasma-vault-5.27.8.tar.xz">plasma-vault-5.27.8</a></td>
   <td align="right">182kB</td>
   <td><tt>8907a8a86529cecdf3e1a8c7b2c7ba5986701c9fd4324e80a78031707bdadee4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/plasma-welcome-5.27.8.tar.xz">plasma-welcome-5.27.8</a></td>
   <td align="right">816kB</td>
   <td><tt>1b5f78ad72262592b28543b5a69a40d7cc6aad0ab25866ed8eba4212006c58d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/plasma-workspace-5.27.8.tar.xz">plasma-workspace-5.27.8</a></td>
   <td align="right">18MB</td>
   <td><tt>a565d29851f28e0003018562c929b7d4ac8f00836923c12d199b4964d3b60ef0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/plasma-workspace-wallpapers-5.27.8.tar.xz">plasma-workspace-wallpapers-5.27.8</a></td>
   <td align="right">89MB</td>
   <td><tt>af96fa89c2685251b97baec6351c004fa1e2978f5a71bebba0e96490facb7fe2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/plymouth-kcm-5.27.8.tar.xz">plymouth-kcm-5.27.8</a></td>
   <td align="right">44kB</td>
   <td><tt>125ffba700f13eb529f09301659fc94c5856293c8bd3a499b8f19784cd49fbea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/polkit-kde-agent-1-5.27.8.tar.xz">polkit-kde-agent-1-5.27.8</a></td>
   <td align="right">51kB</td>
   <td><tt>58973715cca7789caa1c6ffa1d5f7de988b952aa9317caf75119ce800ff9cf8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/powerdevil-5.27.8.tar.xz">powerdevil-5.27.8</a></td>
   <td align="right">769kB</td>
   <td><tt>c567e9410cba327845d236ea13ecdd415c2976360780018724b36769aa36774b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/qqc2-breeze-style-5.27.8.tar.xz">qqc2-breeze-style-5.27.8</a></td>
   <td align="right">64kB</td>
   <td><tt>bb94352223e0bc239e2b0277492094c2f6868b3109b02c82447e99927d1df1c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/sddm-kcm-5.27.8.tar.xz">sddm-kcm-5.27.8</a></td>
   <td align="right">91kB</td>
   <td><tt>46ea7c501251a6f9ba50d0611c2a6f33a6676a2358e7ed068849f11ceda3eeb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/systemsettings-5.27.8.tar.xz">systemsettings-5.27.8</a></td>
   <td align="right">220kB</td>
   <td><tt>3e9411715a2dfb202961110b671d207175056c22af51bdffce01336eb8743fb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.8/xdg-desktop-portal-kde-5.27.8.tar.xz">xdg-desktop-portal-kde-5.27.8</a></td>
   <td align="right">139kB</td>
   <td><tt>7e1fdf244c6363a73f487c5e9f854b08885cda74aa7f429bd9ceb4c35c273f53</tt></td>
</tr>

</table>
