
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/attica-5.110.0.tar.xz">attica-5.110.0</a></td>
   <td align="right">67kB</td>
   <td><tt>31131fac8ab4f327385075915137d036abdd9d58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/baloo-5.110.0.tar.xz">baloo-5.110.0</a></td>
   <td align="right">302kB</td>
   <td><tt>92ad6093944f3b2e90654d545f3f1cef4d1b2db0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/bluez-qt-5.110.0.tar.xz">bluez-qt-5.110.0</a></td>
   <td align="right">112kB</td>
   <td><tt>5f83ac91de879b117a8cf88f229a764d808c4baf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/breeze-icons-5.110.0.tar.xz">breeze-icons-5.110.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>a98d338551b33caca25d0be352c59e00969290ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/extra-cmake-modules-5.110.0.tar.xz">extra-cmake-modules-5.110.0</a></td>
   <td align="right">323kB</td>
   <td><tt>ee6f4bb30f33b1a70cba2659cf781d004384c3bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/frameworkintegration-5.110.0.tar.xz">frameworkintegration-5.110.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>773fd8857076d840127ad6c6e65d85d81b45aa6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kactivities-5.110.0.tar.xz">kactivities-5.110.0</a></td>
   <td align="right">71kB</td>
   <td><tt>8014c47ec287adb3890e85d3bc95b91a7bed628c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kactivities-stats-5.110.0.tar.xz">kactivities-stats-5.110.0</a></td>
   <td align="right">82kB</td>
   <td><tt>2c7602f7a7fc6d29c254d41e1117c7caa41b524e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kapidox-5.110.0.tar.xz">kapidox-5.110.0</a></td>
   <td align="right">194kB</td>
   <td><tt>82a4a3fb7d48b368a9869e6cbf2f336971ef39cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/karchive-5.110.0.tar.xz">karchive-5.110.0</a></td>
   <td align="right">998kB</td>
   <td><tt>05e0fd84e97fa175743c10451a7a70231722483b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kauth-5.110.0.tar.xz">kauth-5.110.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>fa199ea5ebe6bc9a1549979052d5881b55e4d16c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kbookmarks-5.110.0.tar.xz">kbookmarks-5.110.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e41a8c144ca8168c883da7872ee1e90a9127e1d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kcalendarcore-5.110.0.tar.xz">kcalendarcore-5.110.0</a></td>
   <td align="right">262kB</td>
   <td><tt>2ca69f65bdc748a387c64f81156cfe7e8ec2e41e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kcmutils-5.110.0.tar.xz">kcmutils-5.110.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>cf05c1dce75bb3ac4504639699d19ef701591e83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kcodecs-5.110.0.tar.xz">kcodecs-5.110.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>a9fe637e3a5c91b333d06ffac26be458de5aa096</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kcompletion-5.110.0.tar.xz">kcompletion-5.110.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>f1646dd94a790358c716d9a2331e1ebf95ecf49e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kconfig-5.110.0.tar.xz">kconfig-5.110.0</a></td>
   <td align="right">287kB</td>
   <td><tt>671fb081145e34b74ec3509dc141967c43646605</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kconfigwidgets-5.110.0.tar.xz">kconfigwidgets-5.110.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>0d9b123ace6b900739f1a9557dda051573518b65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kcontacts-5.110.0.tar.xz">kcontacts-5.110.0</a></td>
   <td align="right">208kB</td>
   <td><tt>77990fa0fd250734933dbe524cdb471617f38345</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kcoreaddons-5.110.0.tar.xz">kcoreaddons-5.110.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>3a80194c0499d06abf913ce040029391e85b2d76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kcrash-5.110.0.tar.xz">kcrash-5.110.0</a></td>
   <td align="right">27kB</td>
   <td><tt>a2ae04fe5d64604802e5da841f13d6af5537b75a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kdav-5.110.0.tar.xz">kdav-5.110.0</a></td>
   <td align="right">64kB</td>
   <td><tt>fd8536446389bdd3f4304ee41a69157da5107758</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kdbusaddons-5.110.0.tar.xz">kdbusaddons-5.110.0</a></td>
   <td align="right">47kB</td>
   <td><tt>bb0833e6f3e18d3df64b437ef43a49e8a902dc9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kdeclarative-5.110.0.tar.xz">kdeclarative-5.110.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>5f34e431d29ff3b37891f4f77eb5c2d86e9c0631</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kded-5.110.0.tar.xz">kded-5.110.0</a></td>
   <td align="right">40kB</td>
   <td><tt>ddf51eb578d382d2455b7914767b172928a89228</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kdesu-5.110.0.tar.xz">kdesu-5.110.0</a></td>
   <td align="right">55kB</td>
   <td><tt>06bd51ff966ab84bbaf1bc73a0c2a7fce37cabe3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kdnssd-5.110.0.tar.xz">kdnssd-5.110.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>85b7d459aa43125b0c5682a37a39290354aa716a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kdoctools-5.110.0.tar.xz">kdoctools-5.110.0</a></td>
   <td align="right">454kB</td>
   <td><tt>bd8178e1090c816c979b9523e1812b2dc6a36842</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kemoticons-5.110.0.tar.xz">kemoticons-5.110.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>cc4ae3d3b5320a310448b0944a79b593c0d750d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kfilemetadata-5.110.0.tar.xz">kfilemetadata-5.110.0</a></td>
   <td align="right">461kB</td>
   <td><tt>006235f13ce961b01e1f0fff880420f634612b3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kglobalaccel-5.110.0.tar.xz">kglobalaccel-5.110.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>b73b6f48c7960fbeca1b1ff9b1a05ea599042d68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kguiaddons-5.110.0.tar.xz">kguiaddons-5.110.0</a></td>
   <td align="right">76kB</td>
   <td><tt>dd4ccf76714ccb6995692ef7393b59c2af63c7f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kholidays-5.110.0.tar.xz">kholidays-5.110.0</a></td>
   <td align="right">249kB</td>
   <td><tt>0bca67bb4632bca3300d9639bf22e92d29a543d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/ki18n-5.110.0.tar.xz">ki18n-5.110.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>67a384811ea1dde531c71a9b61a29680d1b7e6fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kiconthemes-5.110.0.tar.xz">kiconthemes-5.110.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>efae60940fdef86181ac7b627a78844655a716d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kidletime-5.110.0.tar.xz">kidletime-5.110.0</a></td>
   <td align="right">30kB</td>
   <td><tt>b57fb651f934906c395bbfb3b488ca725710f3cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kimageformats-5.110.0.tar.xz">kimageformats-5.110.0</a></td>
   <td align="right">14MB</td>
   <td><tt>d8c4ac2e352c063e3ec28f1dee6aec408d1c02ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kinit-5.110.0.tar.xz">kinit-5.110.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>a74f853c9f625c3f8fb4dc2b90bd88a702b1dcbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kio-5.110.0.tar.xz">kio-5.110.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>ff878adddcbb7e0594f63e5fd99940723b14aefc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kirigami2-5.110.0.tar.xz">kirigami2-5.110.0</a></td>
   <td align="right">373kB</td>
   <td><tt>83f14bd4300488cdad949e4cffa765265f956277</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kitemmodels-5.110.0.tar.xz">kitemmodels-5.110.0</a></td>
   <td align="right">397kB</td>
   <td><tt>50a241174a3b2921805edd24a6b7cb9c2d88de1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kitemviews-5.110.0.tar.xz">kitemviews-5.110.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>8f32a58d3f2e903726d5d90bbeb7634695dc9492</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kjobwidgets-5.110.0.tar.xz">kjobwidgets-5.110.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>a9c2ee714fb807ae8a518a1ab97436dc6c3c49d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/knewstuff-5.110.0.tar.xz">knewstuff-5.110.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>63b04fb63c467a72819c641643f1e02d2aac203d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/knotifications-5.110.0.tar.xz">knotifications-5.110.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>64c75286ed4f18368f50787b397308da4085a505</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/knotifyconfig-5.110.0.tar.xz">knotifyconfig-5.110.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>a375a15dd35169885a2a993a96d9412d7aaf934d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kpackage-5.110.0.tar.xz">kpackage-5.110.0</a></td>
   <td align="right">183kB</td>
   <td><tt>beb3d6d95442da31f4853e00c4d7ccaecd5412d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kparts-5.110.0.tar.xz">kparts-5.110.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>452a9f8e8b1586fc328dcd78e7b4841f58a32628</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kpeople-5.110.0.tar.xz">kpeople-5.110.0</a></td>
   <td align="right">61kB</td>
   <td><tt>2f31514eef5004224407c1bf511025e142c397a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kplotting-5.110.0.tar.xz">kplotting-5.110.0</a></td>
   <td align="right">32kB</td>
   <td><tt>6bc1e51e39279c65b9370c927876ab060b0892f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kpty-5.110.0.tar.xz">kpty-5.110.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>fe2066ce9823f004c18f1cfaa474ec2fad257d83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kquickcharts-5.110.0.tar.xz">kquickcharts-5.110.0</a></td>
   <td align="right">110kB</td>
   <td><tt>9aa628da1a178cafab108977eb7f28141890bc19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/krunner-5.110.0.tar.xz">krunner-5.110.0</a></td>
   <td align="right">86kB</td>
   <td><tt>2849ba11adfb3542967eef9b02a1e4e67ea1e0d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kservice-5.110.0.tar.xz">kservice-5.110.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>18e86850cf8034ee1a3dc307b1c0ea0992b0540b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/ktexteditor-5.110.0.tar.xz">ktexteditor-5.110.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>1a0415ca8fb7bc7842a846d892703934f4d92923</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/ktextwidgets-5.110.0.tar.xz">ktextwidgets-5.110.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>d85a2e94b2fc3dbada5e6a898ee637e6ba4d26de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kunitconversion-5.110.0.tar.xz">kunitconversion-5.110.0</a></td>
   <td align="right">909kB</td>
   <td><tt>03cffdf9f17fcef715005515f04c557fec25ea12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kwallet-5.110.0.tar.xz">kwallet-5.110.0</a></td>
   <td align="right">341kB</td>
   <td><tt>2f352e7374b20598e5af1d9ce490f921cfc23082</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kwayland-5.110.0.tar.xz">kwayland-5.110.0</a></td>
   <td align="right">329kB</td>
   <td><tt>fa4b8a6b053a873afd2d3d32f3fe20afc7f93cb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kwidgetsaddons-5.110.0.tar.xz">kwidgetsaddons-5.110.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>16e05adf567920902ad2f08be8ed9b97813b4e44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kwindowsystem-5.110.0.tar.xz">kwindowsystem-5.110.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>452a759cbe9d12c2b3d57c4cd341d05779a7e3f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/kxmlgui-5.110.0.tar.xz">kxmlgui-5.110.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>dd002510d1914765a19a8475dfb1d80244b3dc3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/modemmanager-qt-5.110.0.tar.xz">modemmanager-qt-5.110.0</a></td>
   <td align="right">118kB</td>
   <td><tt>d31dcfa51b27f6f9c015dee4d531de805bfce0c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/networkmanager-qt-5.110.0.tar.xz">networkmanager-qt-5.110.0</a></td>
   <td align="right">193kB</td>
   <td><tt>b04e0579e055dcc3566c7b3fa7e922375940a187</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/oxygen-icons5-5.110.0.tar.xz">oxygen-icons5-5.110.0</a></td>
   <td align="right">227MB</td>
   <td><tt>0c9821b0488ad1f9ac30080f064cf82d6f935a66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/plasma-framework-5.110.0.tar.xz">plasma-framework-5.110.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>2bfb02b7a12559930faa27c42ed68692ea2a6744</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/prison-5.110.0.tar.xz">prison-5.110.0</a></td>
   <td align="right">53kB</td>
   <td><tt>3e5c6e5e76e0d68c293f12443c725d258f6d24aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/purpose-5.110.0.tar.xz">purpose-5.110.0</a></td>
   <td align="right">176kB</td>
   <td><tt>c5d0c96418608bd7a7b4685ac8692ed83ef49f38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/qqc2-desktop-style-5.110.0.tar.xz">qqc2-desktop-style-5.110.0</a></td>
   <td align="right">67kB</td>
   <td><tt>eda63648b8f71cb651d4e030f893182775854c8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/solid-5.110.0.tar.xz">solid-5.110.0</a></td>
   <td align="right">298kB</td>
   <td><tt>0f8ec66d5be4023a4a7b525eb204276020c2872d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/sonnet-5.110.0.tar.xz">sonnet-5.110.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>2ea735af075b8e91a39507542e472caf5b88b232</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/syndication-5.110.0.tar.xz">syndication-5.110.0</a></td>
   <td align="right">498kB</td>
   <td><tt>239d7d1a9381def9a8739a0258616248e04c86df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/syntax-highlighting-5.110.0.tar.xz">syntax-highlighting-5.110.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>8ca72cd6fdfdbe17d37cc915e1b80bdf4cbc2910</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.110/threadweaver-5.110.0.tar.xz">threadweaver-5.110.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>02c98a04642a45b635c01c4ee88a5d514c4066fd</tt></td>
</tr>

</table>
