@font-face {
  font-family: "Bebas";
  src: local("Bebas"), url("/fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("opentype");
}

h1 {
	font-family: "Bebas", "Noto Sans", serif;
	font-size: 6rem;
	margin-top: 4rem;
	.blue {
		color: #1D99F3
	}

	@media (max-width: 992px) {
		font-size: 4rem;
		margin-top: 2rem;
	}
}

h2 {
	font-family: "Bebas", "Noto Sans", serif;
	font-size: 4rem;
}

h3 {
	font-family: "Bebas", "Noto Sans", serif;
	font-size: 3rem;
}

#main li {
	font-size: 1.7rem;
	@media (max-width: 992px) {
		font-size: 1.2rem;
	}
}

.bluefriday p {
	font-size: 1.7rem;
	@media (max-width: 992px) {
		font-size: 1.2rem;
	}
}

.kde-logo-rotate {
	max-height: none!important;
	margin-top: 4rem;
	transform: rotate(10deg);
	position: relative;
	display: block;
	border-radius: 20px;
	display: block;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.plasma-screenshot {
	max-height: none!important;
	margin-top: 4rem;
	position: relative;
	display: block;
	display: block;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.bluefriday-image {
	max-width: 70vw;
}

.donorbox {
	max-width: 500px;
	min-width: 250px;
	max-height: none !important;
	margin-top: 4rem;

	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 8px;
}

.hof { /* hof = Hall of Fame */
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
}

.hof p {
    font-size: 1rem;
}

/**********************
/* PROGRESS BAR STUFF
/**********************/

#bar {
  font-family: sans-serif;
  font-weight: bolder;
}

#bar_fill {
  background-color: DarkSlateGray;
}

#bar_outline {
  border: thin solid;
}

#bar_inline {
  background-color: lightgray;
  border: thin solid white;
}

#bar_goal {
  text-align: right;
  border-right: thin solid;
}

#bar_amount {
  text-align: right;
  border-right: thin solid;
}

#bar_text {
  text-align: center;
  color: white;
}

