<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/akonadi-16.04.1.tar.xz">akonadi-16.04.1</a></td>
   <td align="right">997kB</td>
   <td><tt>5333bd250b20ec372d1891d33c230335f0ee40dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/akonadi-calendar-16.04.1.tar.xz">akonadi-calendar-16.04.1</a></td>
   <td align="right">112kB</td>
   <td><tt>fc2b2ebbcab570f9d7e055a8ac360b54df1d2d4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/akonadi-search-16.04.1.tar.xz">akonadi-search-16.04.1</a></td>
   <td align="right">68kB</td>
   <td><tt>969c81f802a8768e965250acf3b86142b559896b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/analitza-16.04.1.tar.xz">analitza-16.04.1</a></td>
   <td align="right">228kB</td>
   <td><tt>2c89e052df5ed1f394c74af2a0542df6454d332d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/ark-16.04.1.tar.xz">ark-16.04.1</a></td>
   <td align="right">947kB</td>
   <td><tt>e045bcc8e4de3b57b2e74b7cbea41485e357b1c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/artikulate-16.04.1.tar.xz">artikulate-16.04.1</a></td>
   <td align="right">3.5MB</td>
   <td><tt>3a2a43c8b1118e7f0f038fec1eba798989d83987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/audiocd-kio-16.04.1.tar.xz">audiocd-kio-16.04.1</a></td>
   <td align="right">50kB</td>
   <td><tt>f7de65f911f5c52c62e7b79afcedbe21190468c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/baloo-widgets-16.04.1.tar.xz">baloo-widgets-16.04.1</a></td>
   <td align="right">55kB</td>
   <td><tt>7c8a60e771483f851c1cd03ca64b222f203f1b8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/blinken-16.04.1.tar.xz">blinken-16.04.1</a></td>
   <td align="right">554kB</td>
   <td><tt>c188f6bf726844e3fb47bb9236237ff28089f80d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/bomber-16.04.1.tar.xz">bomber-16.04.1</a></td>
   <td align="right">384kB</td>
   <td><tt>bd84cb299f58909ff624a72b8cf281c5782fd36e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/bovo-16.04.1.tar.xz">bovo-16.04.1</a></td>
   <td align="right">103kB</td>
   <td><tt>fea93dbf8b6521e9bf295c576e03d8e44f07b049</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/calendarsupport-16.04.1.tar.xz">calendarsupport-16.04.1</a></td>
   <td align="right">87kB</td>
   <td><tt>a7f0f6ecba47d2d52d900ae4e081834c88d27db5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/cantor-16.04.1.tar.xz">cantor-16.04.1</a></td>
   <td align="right">342kB</td>
   <td><tt>649f6c07b0f3bda8ee4417bb8ade0e191074e491</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/cervisia-16.04.1.tar.xz">cervisia-16.04.1</a></td>
   <td align="right">365kB</td>
   <td><tt>9014252ad65b4b830c0a9ab70e6dd6a5302555ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/dolphin-16.04.1.tar.xz">dolphin-16.04.1</a></td>
   <td align="right">644kB</td>
   <td><tt>843a1b818895b3a3fbb6a1ad57a0bc2a1d7df047</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/dolphin-plugins-16.04.1.tar.xz">dolphin-plugins-16.04.1</a></td>
   <td align="right">59kB</td>
   <td><tt>b0b62d609bdece35f68a83fa8162258a2d14d39b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/dragon-16.04.1.tar.xz">dragon-16.04.1</a></td>
   <td align="right">394kB</td>
   <td><tt>ce2c3e8c5df7cfef7c0d50eb9607e59e5a724b7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/eventviews-16.04.1.tar.xz">eventviews-16.04.1</a></td>
   <td align="right">133kB</td>
   <td><tt>cf2eaeca12865cc40950851c762a36fb4b5efc96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/ffmpegthumbs-16.04.1.tar.xz">ffmpegthumbs-16.04.1</a></td>
   <td align="right">19kB</td>
   <td><tt>4a9b4a93ea30bcd0199251c4cd48cb4514a4b803</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/filelight-16.04.1.tar.xz">filelight-16.04.1</a></td>
   <td align="right">280kB</td>
   <td><tt>a8ec578fc8f511c8d0da45218010c13fc3c672cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/gpgmepp-16.04.1.tar.xz">gpgmepp-16.04.1</a></td>
   <td align="right">66kB</td>
   <td><tt>0240f5fb88ddb8e87a47779090c0445d105150f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/granatier-16.04.1.tar.xz">granatier-16.04.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>5f37a4ffcaca3d50b769894018a3e8b7a04cfd2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/grantleetheme-16.04.1.tar.xz">grantleetheme-16.04.1</a></td>
   <td align="right">31kB</td>
   <td><tt>eabe23a9ef95a85c8bdbbc7fc049ded69e0342a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/gwenview-16.04.1.tar.xz">gwenview-16.04.1</a></td>
   <td align="right">2.7MB</td>
   <td><tt>c5ef2535d2afca34f08bd798862c1eeac5a940ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/incidenceeditor-16.04.1.tar.xz">incidenceeditor-16.04.1</a></td>
   <td align="right">107kB</td>
   <td><tt>dcae9d8b6a9db70c4e3c93cdb2d521b01cacad15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/jovie-16.04.1.tar.xz">jovie-16.04.1</a></td>
   <td align="right">384kB</td>
   <td><tt>39e97f4c13fc0a2c6b9a1af4f679263153864ec8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/juk-16.04.1.tar.xz">juk-16.04.1</a></td>
   <td align="right">435kB</td>
   <td><tt>4a57e64ecc272b39645e96ab9215ea478262ec75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kaccessible-16.04.1.tar.xz">kaccessible-16.04.1</a></td>
   <td align="right">20kB</td>
   <td><tt>5e3df4cf7317c423845cc9137397495c07698822</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kaccounts-integration-16.04.1.tar.xz">kaccounts-integration-16.04.1</a></td>
   <td align="right">44kB</td>
   <td><tt>dbe79d3f64975d96d599f0c187f64d15f058c586</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kaccounts-providers-16.04.1.tar.xz">kaccounts-providers-16.04.1</a></td>
   <td align="right">16kB</td>
   <td><tt>391c4b116a921caaf7ef8883c6b512d62bb21549</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kajongg-16.04.1.tar.xz">kajongg-16.04.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>ccf7a2c6ed8bd6eb47e1c942aef18f1673205abe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kalarmcal-16.04.1.tar.xz">kalarmcal-16.04.1</a></td>
   <td align="right">85kB</td>
   <td><tt>0b14877a6f4f969de78b0172811e79505e213ecc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kalgebra-16.04.1.tar.xz">kalgebra-16.04.1</a></td>
   <td align="right">250kB</td>
   <td><tt>e803007fd049c9a17ea02cfedf304f634ecfc134</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kalzium-16.04.1.tar.xz">kalzium-16.04.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>b25be4fc94e0a729c5ec010a45cd747ad2d82c59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kamera-16.04.1.tar.xz">kamera-16.04.1</a></td>
   <td align="right">36kB</td>
   <td><tt>bd92f0a68c723f7149c09877af7bacc693fd4697</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kanagram-16.04.1.tar.xz">kanagram-16.04.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>719b7c28ee144620ffd4c5478e5cd231d11bc97a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kapman-16.04.1.tar.xz">kapman-16.04.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f9010d0ed1212885cc57b914610feb84cc694efb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kapptemplate-16.04.1.tar.xz">kapptemplate-16.04.1</a></td>
   <td align="right">463kB</td>
   <td><tt>233163f5cb4a13e731a7f4cf60796f81c37aa365</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kate-16.04.1.tar.xz">kate-16.04.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ba9a31b7293f9b31f55090287804a8d0e9196a36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/katomic-16.04.1.tar.xz">katomic-16.04.1</a></td>
   <td align="right">645kB</td>
   <td><tt>3806fd6337d039fbbfd40bf86d0571b7a3cc98df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kblackbox-16.04.1.tar.xz">kblackbox-16.04.1</a></td>
   <td align="right">255kB</td>
   <td><tt>2fad003d1ef2c17e7bf08da2a46ae0597c63eb7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kblocks-16.04.1.tar.xz">kblocks-16.04.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>807e796eaaa772db1283a19eaf11100f06d01b33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kblog-16.04.1.tar.xz">kblog-16.04.1</a></td>
   <td align="right">42kB</td>
   <td><tt>03593772ee7c1ad1fef49b7ec9cca90a694c5fcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kbounce-16.04.1.tar.xz">kbounce-16.04.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>cf7f7a06f13c1700dee53420893c77bcb3d2d975</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kbreakout-16.04.1.tar.xz">kbreakout-16.04.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>1b5bc40da3c0b77ce4448dd9db0dca1ee9d52176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kbruch-16.04.1.tar.xz">kbruch-16.04.1</a></td>
   <td align="right">884kB</td>
   <td><tt>f9f4b9ea1bd5705c5a42e0f5d882bc434032402a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kcachegrind-16.04.1.tar.xz">kcachegrind-16.04.1</a></td>
   <td align="right">232kB</td>
   <td><tt>de88a181ba29edfeb3e74d0efd34be1f33a03b34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kcalc-16.04.1.tar.xz">kcalc-16.04.1</a></td>
   <td align="right">81kB</td>
   <td><tt>e1ca79ecae6f54b35c151ff1b127912dc267d01f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kcalcore-16.04.1.tar.xz">kcalcore-16.04.1</a></td>
   <td align="right">289kB</td>
   <td><tt>aa26e13e59b93c20cf6cec40d97d828dbfebd3c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kcalutils-16.04.1.tar.xz">kcalutils-16.04.1</a></td>
   <td align="right">68kB</td>
   <td><tt>5278936d93dd8a27cbdb8d3acc23466166bbdcc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kcharselect-16.04.1.tar.xz">kcharselect-16.04.1</a></td>
   <td align="right">70kB</td>
   <td><tt>6248e7f6d619344dc11d7307e94182a113a5c6ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kcolorchooser-16.04.1.tar.xz">kcolorchooser-16.04.1</a></td>
   <td align="right">4kB</td>
   <td><tt>e5b002f4da8a4ba824211cb0408f240f04545b52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kcontacts-16.04.1.tar.xz">kcontacts-16.04.1</a></td>
   <td align="right">132kB</td>
   <td><tt>3848a94c43fd1a39b3e3c7d026a92a00a95089a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kcron-16.04.1.tar.xz">kcron-16.04.1</a></td>
   <td align="right">136kB</td>
   <td><tt>43d17a381df8717dbecf6f7925c5554549ee9098</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-baseapps-16.04.1.tar.xz">kde-baseapps-16.04.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>f2845875e5adf244ee8c61e4a18b0e24a161727e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kdebugsettings-16.04.1.tar.xz">kdebugsettings-16.04.1</a></td>
   <td align="right">22kB</td>
   <td><tt>a4a1cecb297254f1115d0159261fbee04809fff6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-dev-scripts-16.04.1.tar.xz">kde-dev-scripts-16.04.1</a></td>
   <td align="right">302kB</td>
   <td><tt>dca538725a5e5e1e8fc2527538ef937b8616d53a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-dev-utils-16.04.1.tar.xz">kde-dev-utils-16.04.1</a></td>
   <td align="right">50kB</td>
   <td><tt>1885d19a906b262c91f50dbdb96fe3755fa40057</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kdeedu-data-16.04.1.tar.xz">kdeedu-data-16.04.1</a></td>
   <td align="right">94kB</td>
   <td><tt>9bc69dd50eeef5447dbee7d8b20207c302834eda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kdegraphics-mobipocket-16.04.1.tar.xz">kdegraphics-mobipocket-16.04.1</a></td>
   <td align="right">14kB</td>
   <td><tt>b4e2838b7f174f8cb6dac69f6b3c0faf2f848562</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kdegraphics-strigi-analyzer-16.04.1.tar.xz">kdegraphics-strigi-analyzer-16.04.1</a></td>
   <td align="right">39kB</td>
   <td><tt>6542119f239b3f2934ac4ea70ebb82fc57b6cc60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kdegraphics-thumbnailers-16.04.1.tar.xz">kdegraphics-thumbnailers-16.04.1</a></td>
   <td align="right">40kB</td>
   <td><tt>2263e5597edb3c329155badde287e90edf57c547</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kdelibs-4.14.20.tar.xz">kdelibs-4.14.20</a></td>
   <td align="right">11MB</td>
   <td><tt>be5cf39d68ff43d01123e4926caf075ae7dc7a7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kdenetwork-filesharing-16.04.1.tar.xz">kdenetwork-filesharing-16.04.1</a></td>
   <td align="right">27kB</td>
   <td><tt>d9e749840512b703021a313b24da6479f1146a58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kdenetwork-strigi-analyzers-16.04.1.tar.xz">kdenetwork-strigi-analyzers-16.04.1</a></td>
   <td align="right">14kB</td>
   <td><tt>1630ee1fd8107cf26c766a8854a6ba9fd9647242</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kdenlive-16.04.1.tar.xz">kdenlive-16.04.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>9e63a472d2e6ea545038e86df2cb46c6ba4ea191</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kdepim-16.04.1.tar.xz">kdepim-16.04.1</a></td>
   <td align="right">5.7MB</td>
   <td><tt>29507cacca3bdf9a948c55ee6b8081a41abd4d80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kdepim-addons-16.04.1.tar.xz">kdepim-addons-16.04.1</a></td>
   <td align="right">206kB</td>
   <td><tt>03488b6d2a1bda844dced3b1c86c69cdce7d6cc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kdepim-apps-libs-16.04.1.tar.xz">kdepim-apps-libs-16.04.1</a></td>
   <td align="right">59kB</td>
   <td><tt>350fdfdc8cc6eb4c343b45ca058e9dcda7b62e90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kdepimlibs-16.04.1.tar.xz">kdepimlibs-16.04.1</a></td>
   <td align="right">286kB</td>
   <td><tt>25aa1d148c66615af4c7e678b4d614e515ab8046</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kdepim-runtime-16.04.1.tar.xz">kdepim-runtime-16.04.1</a></td>
   <td align="right">686kB</td>
   <td><tt>627d80853671be459ad80040738c6fd61f4801d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-runtime-16.04.1.tar.xz">kde-runtime-16.04.1</a></td>
   <td align="right">7.5MB</td>
   <td><tt>d91e7bbe5e7264b262916f11be1176aa7a54c7f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kdesdk-kioslaves-16.04.1.tar.xz">kdesdk-kioslaves-16.04.1</a></td>
   <td align="right">352kB</td>
   <td><tt>f13e1d65ead8ebca7ada53ec39710237214eefe1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kdesdk-strigi-analyzers-16.04.1.tar.xz">kdesdk-strigi-analyzers-16.04.1</a></td>
   <td align="right">17kB</td>
   <td><tt>2ecfcf1284762adc529120e2db2701330c9d2e99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kdesdk-thumbnailers-16.04.1.tar.xz">kdesdk-thumbnailers-16.04.1</a></td>
   <td align="right">11kB</td>
   <td><tt>f22b92d45c4cc97983b9a26638c966d137970c1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kdewebdev-16.04.1.tar.xz">kdewebdev-16.04.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>e9991311f08efab8187500b064d882525dc53dea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kdf-16.04.1.tar.xz">kdf-16.04.1</a></td>
   <td align="right">145kB</td>
   <td><tt>1215a78131408ef0b56e26dc04c3134a1fc30786</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kdgantt2-16.04.1.tar.xz">kdgantt2-16.04.1</a></td>
   <td align="right">43kB</td>
   <td><tt>c01b41d6d1bd986e9313c2e637c5eb998ffcaf4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kdiamond-16.04.1.tar.xz">kdiamond-16.04.1</a></td>
   <td align="right">3.9MB</td>
   <td><tt>bae00f1b0c8e2ba7edfe0fd799bbdb2eab46b7b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kfloppy-16.04.1.tar.xz">kfloppy-16.04.1</a></td>
   <td align="right">52kB</td>
   <td><tt>9bd084c7922c4d856e8ce3b0b8f112c3271a7143</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kfourinline-16.04.1.tar.xz">kfourinline-16.04.1</a></td>
   <td align="right">274kB</td>
   <td><tt>50c453c293bfde53b9672aba490a053b839b664f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kgeography-16.04.1.tar.xz">kgeography-16.04.1</a></td>
   <td align="right">6.4MB</td>
   <td><tt>55a12ab22794c469fb47e81f8565fa01f9ddf249</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kget-16.04.1.tar.xz">kget-16.04.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>cc3ec093282f222ff5a42cc9f12915ca7c882ccd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kgoldrunner-16.04.1.tar.xz">kgoldrunner-16.04.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>83a80dea766f49378fc04fd7ed7aea667d35c7a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kgpg-16.04.1.tar.xz">kgpg-16.04.1</a></td>
   <td align="right">790kB</td>
   <td><tt>e07ab468cb7527930226079d8cd3520a7c3679b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/khangman-16.04.1.tar.xz">khangman-16.04.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>a3dbc30bdcef5450539e35e16f9be163ed75df08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/khelpcenter-16.04.1.tar.xz">khelpcenter-16.04.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>5e528f9544cf7c76e310dccc5554ed6939f46aea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kholidays-16.04.1.tar.xz">kholidays-16.04.1</a></td>
   <td align="right">171kB</td>
   <td><tt>b8de7be0d1cecccbccb69574a3bbaf630a99fabb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kidentitymanagement-16.04.1.tar.xz">kidentitymanagement-16.04.1</a></td>
   <td align="right">35kB</td>
   <td><tt>ed362583646b455f6720a30797a2a8d76df24ed9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kig-16.04.1.tar.xz">kig-16.04.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>e60d47ecef9c370d9649b453b60d423b6293e2ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kigo-16.04.1.tar.xz">kigo-16.04.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ea4a2e9dcc69e7dcf6bac21a101e53f011a0736e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/killbots-16.04.1.tar.xz">killbots-16.04.1</a></td>
   <td align="right">940kB</td>
   <td><tt>a5b473e79f84da958b426ec1d5dcb62fb4441433</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kimap-16.04.1.tar.xz">kimap-16.04.1</a></td>
   <td align="right">88kB</td>
   <td><tt>f62ab6595e1279f08cffc8590a4868ad9ad1fd71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kio-extras-16.04.1.tar.xz">kio-extras-16.04.1</a></td>
   <td align="right">271kB</td>
   <td><tt>3167a4234fbb322446b35a2e8ebf7fceaa065640</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kiriki-16.04.1.tar.xz">kiriki-16.04.1</a></td>
   <td align="right">117kB</td>
   <td><tt>5d9a8f7d552cbb1171737945d11a873aad53380c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kiten-16.04.1.tar.xz">kiten-16.04.1</a></td>
   <td align="right">11MB</td>
   <td><tt>2219e63521528fee69c6e5a6ee207a25bb577657</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kjumpingcube-16.04.1.tar.xz">kjumpingcube-16.04.1</a></td>
   <td align="right">161kB</td>
   <td><tt>7908d1919ec7720a75473648fbee041fdefd3942</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kldap-16.04.1.tar.xz">kldap-16.04.1</a></td>
   <td align="right">52kB</td>
   <td><tt>38b243b62af93dc7ab52d9f41acaa682c555af89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kleopatra-16.04.1.tar.xz">kleopatra-16.04.1</a></td>
   <td align="right">695kB</td>
   <td><tt>e00e8973d5d902a4ca4a6c2389cb9124e7d7b598</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/klettres-16.04.1.tar.xz">klettres-16.04.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>fa11f2844f562312494327f23e937fceaaf9f08c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/klickety-16.04.1.tar.xz">klickety-16.04.1</a></td>
   <td align="right">805kB</td>
   <td><tt>f60388766d3ae596cd6e67f603d4b27bc6ebd7bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/klines-16.04.1.tar.xz">klines-16.04.1</a></td>
   <td align="right">985kB</td>
   <td><tt>0b150c6dc93abb44b603ca8b420922d4e47cd9a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kmag-16.04.1.tar.xz">kmag-16.04.1</a></td>
   <td align="right">84kB</td>
   <td><tt>8a10ec461ba2ede5e80740ab80a8af78c7c17355</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kmahjongg-16.04.1.tar.xz">kmahjongg-16.04.1</a></td>
   <td align="right">988kB</td>
   <td><tt>b22f217a60b946995113ec102e698909ffa404c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kmailtransport-16.04.1.tar.xz">kmailtransport-16.04.1</a></td>
   <td align="right">63kB</td>
   <td><tt>671d9d26c3a72c01af0bf2ce0a475d34727d0eb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kmbox-16.04.1.tar.xz">kmbox-16.04.1</a></td>
   <td align="right">23kB</td>
   <td><tt>505b8c1b50e3cb5fac7f2b134516697641443f8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kmime-16.04.1.tar.xz">kmime-16.04.1</a></td>
   <td align="right">119kB</td>
   <td><tt>d2fbf75c82b98b4a07fd710f79d1b18a5bf73b9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kmines-16.04.1.tar.xz">kmines-16.04.1</a></td>
   <td align="right">608kB</td>
   <td><tt>fda71b098209023eb1f6ae8db7b5e60a43c5efb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kmix-16.04.1.tar.xz">kmix-16.04.1</a></td>
   <td align="right">380kB</td>
   <td><tt>7fbb4c1ca605e330769f07b9275c752438deb66b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kmousetool-16.04.1.tar.xz">kmousetool-16.04.1</a></td>
   <td align="right">34kB</td>
   <td><tt>deb0c5442f88c4db426205f9f8d6508733de15f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kmouth-16.04.1.tar.xz">kmouth-16.04.1</a></td>
   <td align="right">270kB</td>
   <td><tt>33b28b365b30ec67dae739082c052f664dde7efc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kmplot-16.04.1.tar.xz">kmplot-16.04.1</a></td>
   <td align="right">647kB</td>
   <td><tt>12782e36af725771b3fdc95011682d74a3b6e3e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/knavalbattle-16.04.1.tar.xz">knavalbattle-16.04.1</a></td>
   <td align="right">889kB</td>
   <td><tt>22cb3a822a1f56a2ce39507d237c6b94021cdbbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/knetwalk-16.04.1.tar.xz">knetwalk-16.04.1</a></td>
   <td align="right">765kB</td>
   <td><tt>405368708d925eedb6446c04a68f1a1d71984610</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kolf-16.04.1.tar.xz">kolf-16.04.1</a></td>
   <td align="right">749kB</td>
   <td><tt>384ea24cf9d043f3cd26ddb24f8f1ef9eb314ae1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kollision-16.04.1.tar.xz">kollision-16.04.1</a></td>
   <td align="right">204kB</td>
   <td><tt>530a98a730e3256e9bbff20277fdc7af5e5f3182</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kolourpaint-16.04.1.tar.xz">kolourpaint-16.04.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>4e550efefcb2668a5f5666a645a825fa8df3cd40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kompare-16.04.1.tar.xz">kompare-16.04.1</a></td>
   <td align="right">336kB</td>
   <td><tt>c767bb78de5d655e867447b1ade06f416247011e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/konquest-16.04.1.tar.xz">konquest-16.04.1</a></td>
   <td align="right">396kB</td>
   <td><tt>085e215932631e594161709c185597ee94bb7fee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/konsole-16.04.1.tar.xz">konsole-16.04.1</a></td>
   <td align="right">449kB</td>
   <td><tt>181b00bd63e314292b68b6ec0e39518ba23fcda8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kontactinterface-16.04.1.tar.xz">kontactinterface-16.04.1</a></td>
   <td align="right">24kB</td>
   <td><tt>071dd3ca22afc4c8a695c7f8722d7f3e6833988f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kopete-16.04.1.tar.xz">kopete-16.04.1</a></td>
   <td align="right">6.0MB</td>
   <td><tt>bbf5c00dbbdc14be87b88757d472f0651040fe7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kpat-16.04.1.tar.xz">kpat-16.04.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>2c8c8bd04126538ce53542d8cd83541f547d7dfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kpimtextedit-16.04.1.tar.xz">kpimtextedit-16.04.1</a></td>
   <td align="right">76kB</td>
   <td><tt>8614d73816de58892101e972b503c93428de6f2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kppp-16.04.1.tar.xz">kppp-16.04.1</a></td>
   <td align="right">683kB</td>
   <td><tt>dd4d0bff671f7b22298755c2f62e4e0f8fe65b55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kqtquickcharts-16.04.1.tar.xz">kqtquickcharts-16.04.1</a></td>
   <td align="right">20kB</td>
   <td><tt>c977fc6ff563d238f78161551b2decbf30e20103</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/krdc-16.04.1.tar.xz">krdc-16.04.1</a></td>
   <td align="right">388kB</td>
   <td><tt>2069c576804884b7e9a515ef44d8b00c70b7e5d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kremotecontrol-16.04.1.tar.xz">kremotecontrol-16.04.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>f93669232140dad906ac4216951dbda0842b2754</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kreversi-16.04.1.tar.xz">kreversi-16.04.1</a></td>
   <td align="right">464kB</td>
   <td><tt>63b648659dc4c5f3c7cb7e2884f7290437634ecb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/krfb-16.04.1.tar.xz">krfb-16.04.1</a></td>
   <td align="right">317kB</td>
   <td><tt>1db6aefce10ab10495446eeb16706e6d4fd818d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kross-interpreters-16.04.1.tar.xz">kross-interpreters-16.04.1</a></td>
   <td align="right">129kB</td>
   <td><tt>e70e39c097d409e4b2420520c85fe055a2ffae66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kruler-16.04.1.tar.xz">kruler-16.04.1</a></td>
   <td align="right">120kB</td>
   <td><tt>17fc56a8e29833d5392ffced1c34c79705756f91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/ksaneplugin-16.04.1.tar.xz">ksaneplugin-16.04.1</a></td>
   <td align="right">12kB</td>
   <td><tt>60cb9a4d062ff6e55964c4d23619bcfa229237ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kscd-16.04.1.tar.xz">kscd-16.04.1</a></td>
   <td align="right">90kB</td>
   <td><tt>1b5ced0cd4e984df4acc59f817a960b70a941ded</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kshisen-16.04.1.tar.xz">kshisen-16.04.1</a></td>
   <td align="right">135kB</td>
   <td><tt>6170e1697e1da3f7f6cde87a58f9176ee0e17d4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/ksirk-16.04.1.tar.xz">ksirk-16.04.1</a></td>
   <td align="right">4.7MB</td>
   <td><tt>1602813691396a10f08e6ff6da1e2e3e2e0c8ca9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/ksnakeduel-16.04.1.tar.xz">ksnakeduel-16.04.1</a></td>
   <td align="right">290kB</td>
   <td><tt>c9a88ac30f615d4ed884b5d29899515e6b771979</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kspaceduel-16.04.1.tar.xz">kspaceduel-16.04.1</a></td>
   <td align="right">247kB</td>
   <td><tt>dbd212fdcd7871aaad0bdff7e7f6ac1eb14c53b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/ksquares-16.04.1.tar.xz">ksquares-16.04.1</a></td>
   <td align="right">78kB</td>
   <td><tt>9c9b4f4764edc5852973044a595d5b1e186666bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kstars-16.04.1.tar.xz">kstars-16.04.1</a></td>
   <td align="right">16MB</td>
   <td><tt>6740841e1cd7c002ffd351f277fca00ab67ba735</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/ksudoku-16.04.1.tar.xz">ksudoku-16.04.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>52a4396aa4885356d833e1f313955e2ebfa28c0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/ksystemlog-16.04.1.tar.xz">ksystemlog-16.04.1</a></td>
   <td align="right">386kB</td>
   <td><tt>160409b1bb55cea5ff33a16eca9804519adb6ba0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kteatime-16.04.1.tar.xz">kteatime-16.04.1</a></td>
   <td align="right">102kB</td>
   <td><tt>5d29408441f18281922388772d207ff4c7a429dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/ktimer-16.04.1.tar.xz">ktimer-16.04.1</a></td>
   <td align="right">157kB</td>
   <td><tt>523aef00cb6ddceac2f51477a0aece2224e21015</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/ktnef-16.04.1.tar.xz">ktnef-16.04.1</a></td>
   <td align="right">227kB</td>
   <td><tt>3138452c42b6e4b9056f5244cff50247c25f20c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/ktouch-16.04.1.tar.xz">ktouch-16.04.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>d3a634c7a8673552b8d9ac65967310fb76efb695</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/ktp-accounts-kcm-16.04.1.tar.xz">ktp-accounts-kcm-16.04.1</a></td>
   <td align="right">86kB</td>
   <td><tt>baabf2b29113615e943e4471c9813515c4ecb9d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/ktp-approver-16.04.1.tar.xz">ktp-approver-16.04.1</a></td>
   <td align="right">20kB</td>
   <td><tt>7c4324ce95d397333f11d34c75872233756f5e24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/ktp-auth-handler-16.04.1.tar.xz">ktp-auth-handler-16.04.1</a></td>
   <td align="right">25kB</td>
   <td><tt>560cd98b29541e02b274d9300cd4e36605b56ff7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/ktp-call-ui-16.04.1.tar.xz">ktp-call-ui-16.04.1</a></td>
   <td align="right">44kB</td>
   <td><tt>757875a3037e27fbfe4dfb94b71dbe21fae5e8e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/ktp-common-internals-16.04.1.tar.xz">ktp-common-internals-16.04.1</a></td>
   <td align="right">308kB</td>
   <td><tt>cbd3a20810d1dd463bdfad4cd4778352916993e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/ktp-contact-list-16.04.1.tar.xz">ktp-contact-list-16.04.1</a></td>
   <td align="right">47kB</td>
   <td><tt>8ec2612cdfd498338f6516333986bb422f414ba8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/ktp-contact-runner-16.04.1.tar.xz">ktp-contact-runner-16.04.1</a></td>
   <td align="right">16kB</td>
   <td><tt>f3c0ad4982470fc1630e2438a413d01d315d9e47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/ktp-desktop-applets-16.04.1.tar.xz">ktp-desktop-applets-16.04.1</a></td>
   <td align="right">25kB</td>
   <td><tt>7eab012b2299e2628ec3ec17a4a648a39b19e90b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/ktp-filetransfer-handler-16.04.1.tar.xz">ktp-filetransfer-handler-16.04.1</a></td>
   <td align="right">22kB</td>
   <td><tt>e8e9e8b5040899c55cbbcbe659ecfe0da955027e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/ktp-kded-module-16.04.1.tar.xz">ktp-kded-module-16.04.1</a></td>
   <td align="right">37kB</td>
   <td><tt>3cbd0921079c0c7f97de8e74b02c2199dc52e3e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/ktp-send-file-16.04.1.tar.xz">ktp-send-file-16.04.1</a></td>
   <td align="right">14kB</td>
   <td><tt>aa37b976b540d3a00a9fb7e952db7ef3634858af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/ktp-text-ui-16.04.1.tar.xz">ktp-text-ui-16.04.1</a></td>
   <td align="right">287kB</td>
   <td><tt>14fdad423fa901a99ccc6b07b04e2e4a4a8810d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/ktuberling-16.04.1.tar.xz">ktuberling-16.04.1</a></td>
   <td align="right">4.0MB</td>
   <td><tt>30d6413e426f15ffa756d037949653c6803c03f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kturtle-16.04.1.tar.xz">kturtle-16.04.1</a></td>
   <td align="right">189kB</td>
   <td><tt>b8d7b26ab6129e7f7b3d03627a156c3b630e008c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kubrick-16.04.1.tar.xz">kubrick-16.04.1</a></td>
   <td align="right">104kB</td>
   <td><tt>fa6408028d47ae5212e04ccd06f127344aeaaf32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kuser-16.04.1.tar.xz">kuser-16.04.1</a></td>
   <td align="right">132kB</td>
   <td><tt>91636337d08c57b76ad65647ee9060ba620f502f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kwalletmanager-16.04.1.tar.xz">kwalletmanager-16.04.1</a></td>
   <td align="right">446kB</td>
   <td><tt>0deb36d9966da62a188323adcb7fe8a01eb0f924</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kwordquiz-16.04.1.tar.xz">kwordquiz-16.04.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>87366c86ee79e4e8b1292a750003a40045c4a709</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/libgravatar-16.04.1.tar.xz">libgravatar-16.04.1</a></td>
   <td align="right">10kB</td>
   <td><tt>1c73bc6936bff826e1b966191cea7dd80f965122</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/libkcddb-16.04.1.tar.xz">libkcddb-16.04.1</a></td>
   <td align="right">154kB</td>
   <td><tt>769486c00ad2d2fd82afe6cab0a9fda98202bf89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/libkcompactdisc-16.04.1.tar.xz">libkcompactdisc-16.04.1</a></td>
   <td align="right">74kB</td>
   <td><tt>61f90ee3c48c51d1491b33758ffd98db4c12efe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/libkdcraw-16.04.1.tar.xz">libkdcraw-16.04.1</a></td>
   <td align="right">41kB</td>
   <td><tt>ec1136fe6f1ba061b6d20a1074a79c98d678871e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/libkdeedu-16.04.1.tar.xz">libkdeedu-16.04.1</a></td>
   <td align="right">128kB</td>
   <td><tt>495e363f1d6950ce7772b20e18ade478df3bc4ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/libkdegames-16.04.1.tar.xz">libkdegames-16.04.1</a></td>
   <td align="right">5.5MB</td>
   <td><tt>7925212d2412ff01ba0de17c9d3f202245c869ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/libkdepim-16.04.1.tar.xz">libkdepim-16.04.1</a></td>
   <td align="right">101kB</td>
   <td><tt>c4da9afbf9f1d5f09d7d1578845b22725466bf26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/libkeduvocdocument-16.04.1.tar.xz">libkeduvocdocument-16.04.1</a></td>
   <td align="right">87kB</td>
   <td><tt>a02b8a306687b018aeb0e48141e00611627a9f28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/libkexiv2-16.04.1.tar.xz">libkexiv2-16.04.1</a></td>
   <td align="right">63kB</td>
   <td><tt>6a04e696e8b39a13b79ffb4652d07714da59c7e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/libkface-16.04.1.tar.xz">libkface-16.04.1</a></td>
   <td align="right">8.5MB</td>
   <td><tt>770fe6427bde0c12408233aaa2a8820e2598ca8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/libkgeomap-16.04.1.tar.xz">libkgeomap-16.04.1</a></td>
   <td align="right">122kB</td>
   <td><tt>517e4328f6c6773e93eaa2f8db4665f304e259f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/libkipi-16.04.1.tar.xz">libkipi-16.04.1</a></td>
   <td align="right">101kB</td>
   <td><tt>37c2ec8525db1667ca61f42814db5964119c812f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/libkleo-16.04.1.tar.xz">libkleo-16.04.1</a></td>
   <td align="right">127kB</td>
   <td><tt>4c9d5573706f6cd2a3934e41d9e8799d6dd44322</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/libkmahjongg-16.04.1.tar.xz">libkmahjongg-16.04.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>2cd8ec664da82cde7388b73404bf55a7ccdbcf44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/libkomparediff2-16.04.1.tar.xz">libkomparediff2-16.04.1</a></td>
   <td align="right">55kB</td>
   <td><tt>a1bbb469fa5df7514c468b3a33836d025349f5d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/libksane-16.04.1.tar.xz">libksane-16.04.1</a></td>
   <td align="right">79kB</td>
   <td><tt>171df41eaa9913c5c6d8ea929a368262e664861c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/libksieve-16.04.1.tar.xz">libksieve-16.04.1</a></td>
   <td align="right">136kB</td>
   <td><tt>faac0bcb699dc58755e47b6e3cc7cd32ff6332fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/lokalize-16.04.1.tar.xz">lokalize-16.04.1</a></td>
   <td align="right">934kB</td>
   <td><tt>6579482c06479393f922f54f4aee2b576bd9492e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/lskat-16.04.1.tar.xz">lskat-16.04.1</a></td>
   <td align="right">906kB</td>
   <td><tt>d97e1914364b6f7e96ea9c93404b172108cc08c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/mailcommon-16.04.1.tar.xz">mailcommon-16.04.1</a></td>
   <td align="right">168kB</td>
   <td><tt>80bdf8204b10dad1493f2044efe6887c2604d175</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/mailimporter-16.04.1.tar.xz">mailimporter-16.04.1</a></td>
   <td align="right">363kB</td>
   <td><tt>47e7bd936bd25495f44ea6048d52257af1474bdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/marble-16.04.1.tar.xz">marble-16.04.1</a></td>
   <td align="right">22MB</td>
   <td><tt>7af7b2a88c6a31995a4424da0493a14171af537f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/messagelib-16.04.1.tar.xz">messagelib-16.04.1</a></td>
   <td align="right">4.3MB</td>
   <td><tt>3c09b4c5f84db3f4dae67d9248148754abe4ca61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/minuet-16.04.1.tar.xz">minuet-16.04.1</a></td>
   <td align="right">499kB</td>
   <td><tt>38e936362a714167d09ba7685af2656ac5d8730d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/mplayerthumbs-16.04.1.tar.xz">mplayerthumbs-16.04.1</a></td>
   <td align="right">26kB</td>
   <td><tt>e6e651572c3e3ffe5ad776ea9aa9cac7e83cfa5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/okteta-16.04.1.tar.xz">okteta-16.04.1</a></td>
   <td align="right">492kB</td>
   <td><tt>f3ed62e92c4565f2a3c35b96afa73da479a9f308</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/okular-16.04.1.tar.xz">okular-16.04.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b68cb5906441ab05e54c3372434319fbdbef6587</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/palapeli-16.04.1.tar.xz">palapeli-16.04.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0e5ea580a21bd1b1d7c2b22f3a08978355c4ce40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/parley-16.04.1.tar.xz">parley-16.04.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>c7840c56681d8496152b34aeb57b068735401dd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/picmi-16.04.1.tar.xz">picmi-16.04.1</a></td>
   <td align="right">717kB</td>
   <td><tt>2507d05264dedba8abe02963380e2d837eb492f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/pimcommon-16.04.1.tar.xz">pimcommon-16.04.1</a></td>
   <td align="right">140kB</td>
   <td><tt>1d56c2b95f9288eb7640a37a55e813764de2f6d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/poxml-16.04.1.tar.xz">poxml-16.04.1</a></td>
   <td align="right">31kB</td>
   <td><tt>64957248702dfab901b298a9bd164c4add40bad4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/print-manager-16.04.1.tar.xz">print-manager-16.04.1</a></td>
   <td align="right">91kB</td>
   <td><tt>f9bd5544e6849391b965327888aca859acbe0ae2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/rocs-16.04.1.tar.xz">rocs-16.04.1</a></td>
   <td align="right">521kB</td>
   <td><tt>ce983727c46036d235fcab1f24472a03d92ccba9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/signon-kwallet-extension-16.04.1.tar.xz">signon-kwallet-extension-16.04.1</a></td>
   <td align="right">10kB</td>
   <td><tt>9328e042307768118d63fe5fccd4baba12860486</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/spectacle-16.04.1.tar.xz">spectacle-16.04.1</a></td>
   <td align="right">973kB</td>
   <td><tt>f44186e46d157c773f3adfc0512e0415816bdfc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/step-16.04.1.tar.xz">step-16.04.1</a></td>
   <td align="right">379kB</td>
   <td><tt>ca652881c63f0bec2ad839ad8197e86ee12c92e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/svgpart-16.04.1.tar.xz">svgpart-16.04.1</a></td>
   <td align="right">8kB</td>
   <td><tt>e1f0826c35b93d197c60468ad48cf27e81c718dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/sweeper-16.04.1.tar.xz">sweeper-16.04.1</a></td>
   <td align="right">80kB</td>
   <td><tt>9fb6209e9becdd7b5d07df5830d934a0b6ba2b15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/syndication-16.04.1.tar.xz">syndication-16.04.1</a></td>
   <td align="right">156kB</td>
   <td><tt>3a3b5f1fa35b85138aafb53636ee639a9cebdf07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/umbrello-16.04.1.tar.xz">umbrello-16.04.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>12f6abc9b65781092401cd56f7170dbb5e52379e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/zeroconf-ioslave-16.04.1.tar.xz">zeroconf-ioslave-16.04.1</a></td>
   <td align="right">25kB</td>
   <td><tt>6c7263ea0cfd47f87698db03e5ad4858544ffb5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-ar-16.04.1.tar.xz">kde-l10n-ar-16.04.1</a></td>
   <td align="right">3.2MB</td>
   <td><tt>40d142c17d12810b8135dcfd7f7f578d058c8892</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-ast-16.04.1.tar.xz">kde-l10n-ast-16.04.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>436bfbd546e4304ff5bb570e8515b38327474394</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-bg-16.04.1.tar.xz">kde-l10n-bg-16.04.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>f03210b95f5b9d0d41cd6456ec781eacb8bd5cad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-bs-16.04.1.tar.xz">kde-l10n-bs-16.04.1</a></td>
   <td align="right">2.2MB</td>
   <td><tt>f40d7bf88d61ab42aee2dc0b475207e2f98d15a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-ca-16.04.1.tar.xz">kde-l10n-ca-16.04.1</a></td>
   <td align="right">11MB</td>
   <td><tt>43a746e3d60983194781dd3557ddffa3477b0603</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-ca@valencia-16.04.1.tar.xz">kde-l10n-ca@valencia-16.04.1</a></td>
   <td align="right">2.2MB</td>
   <td><tt>63c74ccec5390cc0b661cdb428266ed772065fb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-cs-16.04.1.tar.xz">kde-l10n-cs-16.04.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>b4e2c9031adf52cfcdc67ddaaf0377bdf2dbf5e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-da-16.04.1.tar.xz">kde-l10n-da-16.04.1</a></td>
   <td align="right">12MB</td>
   <td><tt>852fc0c9308e265e6d4df658a191d582d9bef0e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-de-16.04.1.tar.xz">kde-l10n-de-16.04.1</a></td>
   <td align="right">33MB</td>
   <td><tt>6606d78b9143c5a79ad355a9e0cf83ded7570f59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-el-16.04.1.tar.xz">kde-l10n-el-16.04.1</a></td>
   <td align="right">4.6MB</td>
   <td><tt>78dfdc528fce5cc444e4e445a01902bef1db0a2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-en_GB-16.04.1.tar.xz">kde-l10n-en_GB-16.04.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>21b2b045471e43b1e671aa4f0fcfd5e0a8e4f5cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-eo-16.04.1.tar.xz">kde-l10n-eo-16.04.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2e8629f167e451f05d741898167bb1df18706a9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-es-16.04.1.tar.xz">kde-l10n-es-16.04.1</a></td>
   <td align="right">20MB</td>
   <td><tt>aa47b63d52b57e9844ba992c155001e2be43e6db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-et-16.04.1.tar.xz">kde-l10n-et-16.04.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>aa82a8b3754fe5e1eae492e8974281bd8f78c525</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-eu-16.04.1.tar.xz">kde-l10n-eu-16.04.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>fd52eff2c2eee04efb0a883068f3422b70ffedca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-fa-16.04.1.tar.xz">kde-l10n-fa-16.04.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c21ee8d542267cb1338c26d87f6def053543fa42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-fi-16.04.1.tar.xz">kde-l10n-fi-16.04.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>54523791518b4ebbbd33d060d410027227b6f204</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-fr-16.04.1.tar.xz">kde-l10n-fr-16.04.1</a></td>
   <td align="right">45MB</td>
   <td><tt>b9851c00ebfdbc4534c57f201e751bcd2ea71647</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-ga-16.04.1.tar.xz">kde-l10n-ga-16.04.1</a></td>
   <td align="right">2.7MB</td>
   <td><tt>801fcc2f17ac817fe09697b810f94f9cf8629495</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-gl-16.04.1.tar.xz">kde-l10n-gl-16.04.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>f26c1db6666b94bea37da1433f487b0b07251e02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-he-16.04.1.tar.xz">kde-l10n-he-16.04.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>8e18b60cef57743fdebbfa68bbb90e5aeb932f38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-hi-16.04.1.tar.xz">kde-l10n-hi-16.04.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>552c9b6fbaf315cd73817b0e30b5859be95ac2d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-hr-16.04.1.tar.xz">kde-l10n-hr-16.04.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>aaa976bf003e29872486216e8191382d7ac5d81f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-hu-16.04.1.tar.xz">kde-l10n-hu-16.04.1</a></td>
   <td align="right">4.1MB</td>
   <td><tt>226bf78f97509d0509fbffa8f9e94a7b691442d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-ia-16.04.1.tar.xz">kde-l10n-ia-16.04.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>616fdc1b7d8786653141c2f6dbd5c1f1955dfcf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-id-16.04.1.tar.xz">kde-l10n-id-16.04.1</a></td>
   <td align="right">547kB</td>
   <td><tt>ae667fb30ed917bddf0a5beec56e6ce2b6ca42ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-is-16.04.1.tar.xz">kde-l10n-is-16.04.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e6d9c1ab2bf02a5d2144019feea3af88299671c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-it-16.04.1.tar.xz">kde-l10n-it-16.04.1</a></td>
   <td align="right">8.3MB</td>
   <td><tt>79f8a7d2b77d7e29ee4a621bafed34b39cc4b3ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-ja-16.04.1.tar.xz">kde-l10n-ja-16.04.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>943bdab08647fcb7f2f1931e3da0bda683aac178</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-kk-16.04.1.tar.xz">kde-l10n-kk-16.04.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>e94dd0fb250f52735e55cd05c33cf5a8a6f82c4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-km-16.04.1.tar.xz">kde-l10n-km-16.04.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>3ca6cc94d97a49e95ec294f90e226bb5794f0e5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-ko-16.04.1.tar.xz">kde-l10n-ko-16.04.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>2186d5ab3f1559dc893f544988da806818b94deb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-lt-16.04.1.tar.xz">kde-l10n-lt-16.04.1</a></td>
   <td align="right">12MB</td>
   <td><tt>4f83d8139eaf185ed67a6510cd7737d0554d09c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-lv-16.04.1.tar.xz">kde-l10n-lv-16.04.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>d91da68d0a751dc47993e574cfa14d883303730b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-mr-16.04.1.tar.xz">kde-l10n-mr-16.04.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2154f700769e4788870d568ceb10a0a7b2d5dfc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-nb-16.04.1.tar.xz">kde-l10n-nb-16.04.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>a265340ad3cd984687e27920efa90bec04c45819</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-nds-16.04.1.tar.xz">kde-l10n-nds-16.04.1</a></td>
   <td align="right">3.1MB</td>
   <td><tt>fe117e34ac607e507fdc9178bfe55f813dbfb608</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-nl-16.04.1.tar.xz">kde-l10n-nl-16.04.1</a></td>
   <td align="right">13MB</td>
   <td><tt>f8421d14c1c87c2ccb91300281e3e00cbb6f87db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-nn-16.04.1.tar.xz">kde-l10n-nn-16.04.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>cb0f2810b8f0f0e64cd7e00ecd388a2b6f6b391c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-pa-16.04.1.tar.xz">kde-l10n-pa-16.04.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>59e43158c8b609ace7a01d7d1f92c28aa8d68778</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-pl-16.04.1.tar.xz">kde-l10n-pl-16.04.1</a></td>
   <td align="right">18MB</td>
   <td><tt>33c8783b27298250c08015b36db27060cf4d36de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-pt-16.04.1.tar.xz">kde-l10n-pt-16.04.1</a></td>
   <td align="right">3.5MB</td>
   <td><tt>22156cdc08bacc17cf2439d244df726a8a0ec82b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-pt_BR-16.04.1.tar.xz">kde-l10n-pt_BR-16.04.1</a></td>
   <td align="right">20MB</td>
   <td><tt>4d43e5e0b147fc4282f94202d36c020c8cc31846</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-ro-16.04.1.tar.xz">kde-l10n-ro-16.04.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>fe8c00f1098d4c7c381d7156aeee5f50cf3c1020</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-ru-16.04.1.tar.xz">kde-l10n-ru-16.04.1</a></td>
   <td align="right">22MB</td>
   <td><tt>abf56f2e93f16f4fcd116849467cd5fc3c2d2d84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-sk-16.04.1.tar.xz">kde-l10n-sk-16.04.1</a></td>
   <td align="right">4.3MB</td>
   <td><tt>67459ffd909c97b633b086af89d7d3de3b6f9766</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-sl-16.04.1.tar.xz">kde-l10n-sl-16.04.1</a></td>
   <td align="right">3.0MB</td>
   <td><tt>296de10331d5ea3872a8e760ff7606b9ac40bca7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-sr-16.04.1.tar.xz">kde-l10n-sr-16.04.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>270a2a324a446971e894364cf3fc9901f77ca4e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-sv-16.04.1.tar.xz">kde-l10n-sv-16.04.1</a></td>
   <td align="right">10MB</td>
   <td><tt>3f11061ddc606602a2606b2264ffb1501c615d71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-tr-16.04.1.tar.xz">kde-l10n-tr-16.04.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>53c811bf16969ea7e7391a807a5a93182b3cca0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-ug-16.04.1.tar.xz">kde-l10n-ug-16.04.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>5da0c371e52ecb8e8f7caddeb41ba0264d076f48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-uk-16.04.1.tar.xz">kde-l10n-uk-16.04.1</a></td>
   <td align="right">25MB</td>
   <td><tt>db52dc1d197c20a75d2e5c709c913a0c65525ed3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-wa-16.04.1.tar.xz">kde-l10n-wa-16.04.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>23cf53339a023e151c3de8f7120a6cbd06c05592</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-zh_CN-16.04.1.tar.xz">kde-l10n-zh_CN-16.04.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>3f226bdf25eff4442a915b2b62028289e1d56d96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.1/src/kde-l10n/kde-l10n-zh_TW-16.04.1.tar.xz">kde-l10n-zh_TW-16.04.1</a></td>
   <td align="right">2.5MB</td>
   <td><tt>5df89cd9e79cff82277b187855dafadd7f51cb8b</tt></td>
</tr>

</table>
