<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/akonadi-17.11.90.tar.xz">akonadi-17.11.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>4b1f7049f3611c119fdafe27a8190d5e6707671b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/akonadi-calendar-17.11.90.tar.xz">akonadi-calendar-17.11.90</a></td>
   <td align="right">273kB</td>
   <td><tt>cd55a77fc169dfeaffeb11d8fbf877b2e9b2258c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/akonadi-calendar-tools-17.11.90.tar.xz">akonadi-calendar-tools-17.11.90</a></td>
   <td align="right">219kB</td>
   <td><tt>a484ac2834c0c069d9e9e55b90b7cd161b8a8d94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/akonadiconsole-17.11.90.tar.xz">akonadiconsole-17.11.90</a></td>
   <td align="right">181kB</td>
   <td><tt>9ac0e525c909003bd97d9bd34c9006ff46ed385e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/akonadi-contacts-17.11.90.tar.xz">akonadi-contacts-17.11.90</a></td>
   <td align="right">335kB</td>
   <td><tt>3635fb0182ed4b363c8884582ebffd4fc8b66309</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/akonadi-import-wizard-17.11.90.tar.xz">akonadi-import-wizard-17.11.90</a></td>
   <td align="right">426kB</td>
   <td><tt>b4d125d2f41b53ffaf98cfebedec2c260c412f16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/akonadi-mime-17.11.90.tar.xz">akonadi-mime-17.11.90</a></td>
   <td align="right">127kB</td>
   <td><tt>b4244f22a6246d1a7ccd79ef90ecf3254916c2cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/akonadi-notes-17.11.90.tar.xz">akonadi-notes-17.11.90</a></td>
   <td align="right">23kB</td>
   <td><tt>99be55076c034bafc9f739a0db38b4266628686c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/akonadi-search-17.11.90.tar.xz">akonadi-search-17.11.90</a></td>
   <td align="right">79kB</td>
   <td><tt>285e8b37470fbbdbef3533a10cd8370d032493b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/akregator-17.11.90.tar.xz">akregator-17.11.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>1630046f8aa9ee0246a449cd923ce647c595f077</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/analitza-17.11.90.tar.xz">analitza-17.11.90</a></td>
   <td align="right">323kB</td>
   <td><tt>a396d9942a471fd3472f75c4137dfaba990e0769</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/ark-17.11.90.tar.xz">ark-17.11.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>0654692e83d0c648818f4e8868a94811166fd0c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/artikulate-17.11.90.tar.xz">artikulate-17.11.90</a></td>
   <td align="right">3.5MB</td>
   <td><tt>6e6c0000ca494fa83f461322cb68ec71356980d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/audiocd-kio-17.11.90.tar.xz">audiocd-kio-17.11.90</a></td>
   <td align="right">241kB</td>
   <td><tt>8defd54e19337fe590f9a046c871b609aca02eae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/baloo-widgets-17.11.90.tar.xz">baloo-widgets-17.11.90</a></td>
   <td align="right">148kB</td>
   <td><tt>9e9b921ad18fa49424f458aabfbbd0b5853eb173</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/blinken-17.11.90.tar.xz">blinken-17.11.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>5318283f1493a087cb9b6d9b02be892a52b7a189</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/bomber-17.11.90.tar.xz">bomber-17.11.90</a></td>
   <td align="right">736kB</td>
   <td><tt>3c20d30698e2fa083ae52fe17821ad50a0b96b7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/bovo-17.11.90.tar.xz">bovo-17.11.90</a></td>
   <td align="right">182kB</td>
   <td><tt>31aa95c9cdc3522ee3a8bbcd3f1d33275a8103bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/calendarsupport-17.11.90.tar.xz">calendarsupport-17.11.90</a></td>
   <td align="right">629kB</td>
   <td><tt>12ed9d70dc0cb123cc3f26b4fdd3f8fde02cc5a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/cantor-17.11.90.tar.xz">cantor-17.11.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>2bd15c392b2f42e0fd769bb2639e9f720e23f964</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/cervisia-17.11.90.tar.xz">cervisia-17.11.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>cab2e8a9f988d319009c2d9b42d39a95fe135425</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/dolphin-17.11.90.tar.xz">dolphin-17.11.90</a></td>
   <td align="right">4.6MB</td>
   <td><tt>eff31e9e5dda478368b72b9277b40e14d00d7c81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/dolphin-plugins-17.11.90.tar.xz">dolphin-plugins-17.11.90</a></td>
   <td align="right">182kB</td>
   <td><tt>e4d7a2b4af0e07f1e6e39794cbb20ddc3eab5b04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/dragon-17.11.90.tar.xz">dragon-17.11.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a61ef1c95e45038e1259768bac26f4daf9c42fad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/eventviews-17.11.90.tar.xz">eventviews-17.11.90</a></td>
   <td align="right">422kB</td>
   <td><tt>e20282cef77b93996d0dde001718ae8816201881</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/ffmpegthumbs-17.11.90.tar.xz">ffmpegthumbs-17.11.90</a></td>
   <td align="right">20kB</td>
   <td><tt>b4017642dcd265c5fc962574e96fabfa7214ea8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/filelight-17.11.90.tar.xz">filelight-17.11.90</a></td>
   <td align="right">638kB</td>
   <td><tt>959335d54ded76c68ad6c3390871d74b9414dd87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/granatier-17.11.90.tar.xz">granatier-17.11.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>4cedde98ef0895f1f8085110c6e77763f5d6be19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/grantlee-editor-17.11.90.tar.xz">grantlee-editor-17.11.90</a></td>
   <td align="right">108kB</td>
   <td><tt>c1906624c47eb916724dee20bdc54fa68888abcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/grantleetheme-17.11.90.tar.xz">grantleetheme-17.11.90</a></td>
   <td align="right">50kB</td>
   <td><tt>3578f2fc8dcc661b5abf38df8cc2a165c5d15043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/gwenview-17.11.90.tar.xz">gwenview-17.11.90</a></td>
   <td align="right">5.7MB</td>
   <td><tt>ca2735dd3d753ad9b0de222d5b7650d5eb18e2a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/incidenceeditor-17.11.90.tar.xz">incidenceeditor-17.11.90</a></td>
   <td align="right">506kB</td>
   <td><tt>2cf665103d2a99e0bdeb2315324baafe3450d608</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/juk-17.11.90.tar.xz">juk-17.11.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>6c6a99d47c9635bfa6cb3921d46000459817e96c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/k3b-17.11.90.tar.xz">k3b-17.11.90</a></td>
   <td align="right">10MB</td>
   <td><tt>9def17daf0b9b043ab8f0d4b6c68739f7b1435bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kaccounts-integration-17.11.90.tar.xz">kaccounts-integration-17.11.90</a></td>
   <td align="right">69kB</td>
   <td><tt>81f17bec8e1c718a0e724d8b7178745fc9603a0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kaccounts-providers-17.11.90.tar.xz">kaccounts-providers-17.11.90</a></td>
   <td align="right">31kB</td>
   <td><tt>1df3668331442c4c67aca85397bd6c1cb10886cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kaddressbook-17.11.90.tar.xz">kaddressbook-17.11.90</a></td>
   <td align="right">533kB</td>
   <td><tt>9551fc3aef5ef72a36f131916074ae09770d233c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kajongg-17.11.90.tar.xz">kajongg-17.11.90</a></td>
   <td align="right">4.0MB</td>
   <td><tt>84e92297ea8ec17613dcf7deb4d6959dd88a1db4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kalarm-17.11.90.tar.xz">kalarm-17.11.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>05f778080769b93cedb971da361a953e3367c800</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kalarmcal-17.11.90.tar.xz">kalarmcal-17.11.90</a></td>
   <td align="right">483kB</td>
   <td><tt>b599c40560438feb8009e4be08cc6add258099e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kalgebra-17.11.90.tar.xz">kalgebra-17.11.90</a></td>
   <td align="right">674kB</td>
   <td><tt>bbe1acc435958ec72ce80d440e36426cc251a557</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kalzium-17.11.90.tar.xz">kalzium-17.11.90</a></td>
   <td align="right">23MB</td>
   <td><tt>dc60126b5ebb946f6aaa5c3e3e353b7f49b6dc73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kamera-17.11.90.tar.xz">kamera-17.11.90</a></td>
   <td align="right">94kB</td>
   <td><tt>b4c104bc646b21bb15b49048866a9a47bdbdf960</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kanagram-17.11.90.tar.xz">kanagram-17.11.90</a></td>
   <td align="right">7.1MB</td>
   <td><tt>f3ec3a5b58113c2000e71782dcfcc2b6072631fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kapman-17.11.90.tar.xz">kapman-17.11.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>fd750479ecb8813e3dc1e49a4521559d43c370c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kapptemplate-17.11.90.tar.xz">kapptemplate-17.11.90</a></td>
   <td align="right">344kB</td>
   <td><tt>76328de0ef128239566d66876bb1c4fbb441caf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kate-17.11.90.tar.xz">kate-17.11.90</a></td>
   <td align="right">5.3MB</td>
   <td><tt>f9a69f9a38abf63d2baa552cbba26f15008b534b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/katomic-17.11.90.tar.xz">katomic-17.11.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>fe461438eb1e20f3f5fe335db6c04bb19298a754</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kblackbox-17.11.90.tar.xz">kblackbox-17.11.90</a></td>
   <td align="right">392kB</td>
   <td><tt>7dc65f20ac7fd332cf0dd2c948d86d0ed24afce9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kblocks-17.11.90.tar.xz">kblocks-17.11.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>131f12cd692cb6731b16e76ec9009982cc40c5f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kblog-17.11.90.tar.xz">kblog-17.11.90</a></td>
   <td align="right">70kB</td>
   <td><tt>d7944657ddd75c91d7a37828a85ebbe7fbc5246a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kbounce-17.11.90.tar.xz">kbounce-17.11.90</a></td>
   <td align="right">3.3MB</td>
   <td><tt>291516f6c0c44fda10b896af614a0cac6f8e16d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kbreakout-17.11.90.tar.xz">kbreakout-17.11.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>212416b4cae1a6641d4e0cdaaa2a62c8fef1c4fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kbruch-17.11.90.tar.xz">kbruch-17.11.90</a></td>
   <td align="right">5.3MB</td>
   <td><tt>c0e8ea821e0f0b0c0c408ce99feeaf985b1920fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kcachegrind-17.11.90.tar.xz">kcachegrind-17.11.90</a></td>
   <td align="right">794kB</td>
   <td><tt>23074802ac6450428821611a1395f780833445b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kcalc-17.11.90.tar.xz">kcalc-17.11.90</a></td>
   <td align="right">351kB</td>
   <td><tt>1d2fc3fc91723849edcbdcdf2427eaea38e15f1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kcalcore-17.11.90.tar.xz">kcalcore-17.11.90</a></td>
   <td align="right">270kB</td>
   <td><tt>d584a31d1dc028322a8ba8cf3cfe0bca31a180be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kcalutils-17.11.90.tar.xz">kcalutils-17.11.90</a></td>
   <td align="right">318kB</td>
   <td><tt>cb4bb08633017d01b05f30cdbdd68892b605fb39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kcharselect-17.11.90.tar.xz">kcharselect-17.11.90</a></td>
   <td align="right">342kB</td>
   <td><tt>94f5d9adbb25d18b74c86714655923b0db7cfb6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kcolorchooser-17.11.90.tar.xz">kcolorchooser-17.11.90</a></td>
   <td align="right">16kB</td>
   <td><tt>ab31d4a28262ffddbef4a031f6384f1f24840d5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kcontacts-17.11.90.tar.xz">kcontacts-17.11.90</a></td>
   <td align="right">202kB</td>
   <td><tt>f338841a024940a089c5da528362cbba07596124</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kcron-17.11.90.tar.xz">kcron-17.11.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>779cd057136c047dbfe5d7791a0b3f7d1f90993e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kdav-17.11.90.tar.xz">kdav-17.11.90</a></td>
   <td align="right">36kB</td>
   <td><tt>542202e0abcc37e8e4f2b15083be0bef16cab96d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kdebugsettings-17.11.90.tar.xz">kdebugsettings-17.11.90</a></td>
   <td align="right">47kB</td>
   <td><tt>3a42a05abeaa170569eacec768783e1d003ce579</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kde-dev-scripts-17.11.90.tar.xz">kde-dev-scripts-17.11.90</a></td>
   <td align="right">367kB</td>
   <td><tt>136823765ae7c203281681a386fc3d869d63da9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kde-dev-utils-17.11.90.tar.xz">kde-dev-utils-17.11.90</a></td>
   <td align="right">59kB</td>
   <td><tt>5522455a2819589bfd3a1444741e958e515a55cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kdeedu-data-17.11.90.tar.xz">kdeedu-data-17.11.90</a></td>
   <td align="right">319kB</td>
   <td><tt>1213d5de4a558bab8c85a3d3fca4beb2ef9f4a9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kdegraphics-mobipocket-17.11.90.tar.xz">kdegraphics-mobipocket-17.11.90</a></td>
   <td align="right">13kB</td>
   <td><tt>19d520be6c8c928810c35883383cbbc8bfaf6e3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kdegraphics-thumbnailers-17.11.90.tar.xz">kdegraphics-thumbnailers-17.11.90</a></td>
   <td align="right">40kB</td>
   <td><tt>56436c8679222ae9227ffde768fe5c4a2f1535fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kdenetwork-filesharing-17.11.90.tar.xz">kdenetwork-filesharing-17.11.90</a></td>
   <td align="right">315kB</td>
   <td><tt>0cba17973de0f1c584644bda15555a0ddf51e625</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kdenlive-17.11.90.tar.xz">kdenlive-17.11.90</a></td>
   <td align="right">8.9MB</td>
   <td><tt>6f7c167a440d372a105272c9c4f71e50ab179812</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kdepim-addons-17.11.90.tar.xz">kdepim-addons-17.11.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>3c4f2a091cf006cf1c88326b483974248de1c592</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kdepim-apps-libs-17.11.90.tar.xz">kdepim-apps-libs-17.11.90</a></td>
   <td align="right">71kB</td>
   <td><tt>a643b7b781c105b34fa5a1725bb437d89266275f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kdepim-runtime-17.11.90.tar.xz">kdepim-runtime-17.11.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2203357a4cbd1034e7441212b760008535230710</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kdesdk-kioslaves-17.11.90.tar.xz">kdesdk-kioslaves-17.11.90</a></td>
   <td align="right">36kB</td>
   <td><tt>01827734a692ff34b80c9bedabb174f3b939d37d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kdesdk-thumbnailers-17.11.90.tar.xz">kdesdk-thumbnailers-17.11.90</a></td>
   <td align="right">16kB</td>
   <td><tt>c49d7bc5744b3fbe17d21caed97d0bb0b5139e21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kdf-17.11.90.tar.xz">kdf-17.11.90</a></td>
   <td align="right">518kB</td>
   <td><tt>424a75bbc7adb7047cb02ec508403eae9b1e5ef1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kdialog-17.11.90.tar.xz">kdialog-17.11.90</a></td>
   <td align="right">93kB</td>
   <td><tt>0865e4905083fc728f4209d17f4e03f5894f607b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kdiamond-17.11.90.tar.xz">kdiamond-17.11.90</a></td>
   <td align="right">4.3MB</td>
   <td><tt>6962413f27b0d175c03259848c2a5a62c88e3f3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/keditbookmarks-17.11.90.tar.xz">keditbookmarks-17.11.90</a></td>
   <td align="right">178kB</td>
   <td><tt>8f595e057524bca7743b3c6c911239c1a0275bcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kfind-17.11.90.tar.xz">kfind-17.11.90</a></td>
   <td align="right">204kB</td>
   <td><tt>a259f4d25faf5968d7cf2dff116f9682d182f783</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kfloppy-17.11.90.tar.xz">kfloppy-17.11.90</a></td>
   <td align="right">194kB</td>
   <td><tt>2c0302933d7d9f52fc1f592b856f5c924ef3ecd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kfourinline-17.11.90.tar.xz">kfourinline-17.11.90</a></td>
   <td align="right">559kB</td>
   <td><tt>3bbd4b2ec98f21f927a5c355f92d94a55b510e52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kgeography-17.11.90.tar.xz">kgeography-17.11.90</a></td>
   <td align="right">10MB</td>
   <td><tt>971b5d32a278941394873579def8460022bda5e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kget-17.11.90.tar.xz">kget-17.11.90</a></td>
   <td align="right">5.1MB</td>
   <td><tt>4f970b860a35c38cef662074edcf4d628b44cd88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kgoldrunner-17.11.90.tar.xz">kgoldrunner-17.11.90</a></td>
   <td align="right">4.1MB</td>
   <td><tt>6e5904d2be460e6b51976f295307529c9a41d11f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kgpg-17.11.90.tar.xz">kgpg-17.11.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>4392e5088a31b21ac9f9ab769cc02591cdb42b82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/khangman-17.11.90.tar.xz">khangman-17.11.90</a></td>
   <td align="right">6.1MB</td>
   <td><tt>eabc44e181b7a490e92d8f353ec261420ae244e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/khelpcenter-17.11.90.tar.xz">khelpcenter-17.11.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>12b03aeab63ab0c777fe0e40087494b5e0a016cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kholidays-17.11.90.tar.xz">kholidays-17.11.90</a></td>
   <td align="right">197kB</td>
   <td><tt>1054ee14a478152c9efb0560c02dd03bcf127ecc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kidentitymanagement-17.11.90.tar.xz">kidentitymanagement-17.11.90</a></td>
   <td align="right">144kB</td>
   <td><tt>8f3c3b4962f94cd23c3de8b677326d2e1bfc0e6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kig-17.11.90.tar.xz">kig-17.11.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>0721d1c36e6e00082b8b686671b0a68ad87c94e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kigo-17.11.90.tar.xz">kigo-17.11.90</a></td>
   <td align="right">4.9MB</td>
   <td><tt>41d218235f18b7f7007355ac52c2fe4dd6e0f528</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/killbots-17.11.90.tar.xz">killbots-17.11.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>e4dee78edfdecb9e35c3d3c01082187160bc38b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kimagemapeditor-17.11.90.tar.xz">kimagemapeditor-17.11.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8221ab0998da54076775f500a6b3856e8fba0bf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kimap-17.11.90.tar.xz">kimap-17.11.90</a></td>
   <td align="right">116kB</td>
   <td><tt>09db934573a6287cfc63c08759a7a25d360f80a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kio-extras-17.11.90.tar.xz">kio-extras-17.11.90</a></td>
   <td align="right">542kB</td>
   <td><tt>89dc56cb4a7231db917541448b6fef5c8e972e45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kiriki-17.11.90.tar.xz">kiriki-17.11.90</a></td>
   <td align="right">318kB</td>
   <td><tt>525e21f3cf3ccfd4a2a9ea78c60861f7c53100d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kiten-17.11.90.tar.xz">kiten-17.11.90</a></td>
   <td align="right">11MB</td>
   <td><tt>c693e56a0da473249029ddb122490577183fea5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kjumpingcube-17.11.90.tar.xz">kjumpingcube-17.11.90</a></td>
   <td align="right">286kB</td>
   <td><tt>0bcd72d18065382b0be133f39ec9653463e356f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kldap-17.11.90.tar.xz">kldap-17.11.90</a></td>
   <td align="right">151kB</td>
   <td><tt>9d359e30599c5b80664ef9a87a0c0eeaab90f1b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kleopatra-17.11.90.tar.xz">kleopatra-17.11.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>9e42d2a28563e064e45d09b963efa820893e9db6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/klettres-17.11.90.tar.xz">klettres-17.11.90</a></td>
   <td align="right">20MB</td>
   <td><tt>956b3cce8c312719eee078c24529fe499e0c31d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/klickety-17.11.90.tar.xz">klickety-17.11.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>06f768fbb3a20f6464cf6574e89562219298736f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/klines-17.11.90.tar.xz">klines-17.11.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>4cf9fe4a3d42998978388cc2e154556004466f30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kmag-17.11.90.tar.xz">kmag-17.11.90</a></td>
   <td align="right">574kB</td>
   <td><tt>86eb42ed1d6e984b980bd76d15967ca965a58ca3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kmahjongg-17.11.90.tar.xz">kmahjongg-17.11.90</a></td>
   <td align="right">3.8MB</td>
   <td><tt>06236a4f8245ddb18e0bcef5f8ebf0beb42a0efd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kmail-17.11.90.tar.xz">kmail-17.11.90</a></td>
   <td align="right">4.5MB</td>
   <td><tt>718521f09ef6b65d107545fcbbdf0ab31433633d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kmail-account-wizard-17.11.90.tar.xz">kmail-account-wizard-17.11.90</a></td>
   <td align="right">148kB</td>
   <td><tt>2216996eaae05e05d7fcbe35168a39eb8c0c2484</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kmailtransport-17.11.90.tar.xz">kmailtransport-17.11.90</a></td>
   <td align="right">161kB</td>
   <td><tt>7c9e8a26a6cbac0662ed51713ff52f8bbd7fb874</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kmbox-17.11.90.tar.xz">kmbox-17.11.90</a></td>
   <td align="right">23kB</td>
   <td><tt>bda61a83bd82d3a632b85a9853b64a538aa7bbb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kmime-17.11.90.tar.xz">kmime-17.11.90</a></td>
   <td align="right">142kB</td>
   <td><tt>35d90fe52a4a67a99782031164c85b92c3ceab52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kmines-17.11.90.tar.xz">kmines-17.11.90</a></td>
   <td align="right">861kB</td>
   <td><tt>c20df7db89550dbb158ede8ae2fab37c84551177</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kmix-17.11.90.tar.xz">kmix-17.11.90</a></td>
   <td align="right">1.2MB</td>
   <td><tt>7ddd5e678a447d8f842e321a890ed19827f996db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kmousetool-17.11.90.tar.xz">kmousetool-17.11.90</a></td>
   <td align="right">108kB</td>
   <td><tt>5d0079904601fd4f6dd021cc205af9755f1be4dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kmouth-17.11.90.tar.xz">kmouth-17.11.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a76305faedac17ec0844010d62a047d7996b8572</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kmplot-17.11.90.tar.xz">kmplot-17.11.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>46325722f7ddc0a21f981cfac2221d595b6cfe7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/knavalbattle-17.11.90.tar.xz">knavalbattle-17.11.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>7fb7723ca9f6c0f669cfd76d0a3dd3b794995b10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/knetwalk-17.11.90.tar.xz">knetwalk-17.11.90</a></td>
   <td align="right">958kB</td>
   <td><tt>bbd1ad93a63338bf4eed5aed1cee133d85cd38f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/knotes-17.11.90.tar.xz">knotes-17.11.90</a></td>
   <td align="right">328kB</td>
   <td><tt>0838f4c7d7cb89813e4ca3b0f68abc958939fae0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kolf-17.11.90.tar.xz">kolf-17.11.90</a></td>
   <td align="right">902kB</td>
   <td><tt>eaccd730833ab150e07ed634ae60684981f3ede5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kollision-17.11.90.tar.xz">kollision-17.11.90</a></td>
   <td align="right">265kB</td>
   <td><tt>e98a5807868c449717565333f329714441850d0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kolourpaint-17.11.90.tar.xz">kolourpaint-17.11.90</a></td>
   <td align="right">5.2MB</td>
   <td><tt>603554fd295923ae204eaf99eaaf7b003451e5e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kompare-17.11.90.tar.xz">kompare-17.11.90</a></td>
   <td align="right">695kB</td>
   <td><tt>ddcfaaf3df212364346a6309da4be3acc4c582ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/konqueror-17.11.90.tar.xz">konqueror-17.11.90</a></td>
   <td align="right">7.3MB</td>
   <td><tt>c07ccf35cc974566795263d565d532b56ac79ceb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/konquest-17.11.90.tar.xz">konquest-17.11.90</a></td>
   <td align="right">642kB</td>
   <td><tt>b1dcf34ec1056363fcaeb04e4e43e51d644f83d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/konsole-17.11.90.tar.xz">konsole-17.11.90</a></td>
   <td align="right">1001kB</td>
   <td><tt>ae44df8f869f6bfa9cd1390ec6407e8a2e8af9a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kontact-17.11.90.tar.xz">kontact-17.11.90</a></td>
   <td align="right">845kB</td>
   <td><tt>6ffad653dabcb0f0095f54ea1e0ffe04074dc080</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kontactinterface-17.11.90.tar.xz">kontactinterface-17.11.90</a></td>
   <td align="right">31kB</td>
   <td><tt>2f6ac99b46390c8dba30622645afaa796caa27ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/korganizer-17.11.90.tar.xz">korganizer-17.11.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>18fda868aba899348ba4e41f6e6099698eb7f72f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kpat-17.11.90.tar.xz">kpat-17.11.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>5f964c14fcc18ed1e1d07ff279ad1f54f2fbefbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kpimtextedit-17.11.90.tar.xz">kpimtextedit-17.11.90</a></td>
   <td align="right">137kB</td>
   <td><tt>2f548b899c354f222b36e76c5b384eb15ac28293</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kqtquickcharts-17.11.90.tar.xz">kqtquickcharts-17.11.90</a></td>
   <td align="right">24kB</td>
   <td><tt>209c6c5f40700e41371584ff108e26499b6e1691</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/krdc-17.11.90.tar.xz">krdc-17.11.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>4ae9c0edd3533874a1a8a8e5ddefa07357bfb152</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kreversi-17.11.90.tar.xz">kreversi-17.11.90</a></td>
   <td align="right">889kB</td>
   <td><tt>025a5c7c3634f70cd71e4238536c7f283817639a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/krfb-17.11.90.tar.xz">krfb-17.11.90</a></td>
   <td align="right">970kB</td>
   <td><tt>d5c137c15e3685a9a95896e2f8cf0765f6f00dcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kross-interpreters-17.11.90.tar.xz">kross-interpreters-17.11.90</a></td>
   <td align="right">141kB</td>
   <td><tt>0de83815342ec824659cf45d52516d5d2e1af4fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kruler-17.11.90.tar.xz">kruler-17.11.90</a></td>
   <td align="right">253kB</td>
   <td><tt>232bdcc3bad1eccfaecb35e95910cf138ef159de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kshisen-17.11.90.tar.xz">kshisen-17.11.90</a></td>
   <td align="right">691kB</td>
   <td><tt>1e55252ae155aa2f158c9d0973ec86dc99b99e21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/ksirk-17.11.90.tar.xz">ksirk-17.11.90</a></td>
   <td align="right">5.8MB</td>
   <td><tt>598ccb6c5c49d817ea8850808b12a3ee7804c1d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/ksmtp-17.11.90.tar.xz">ksmtp-17.11.90</a></td>
   <td align="right">36kB</td>
   <td><tt>29bc9d7edee5c1c4743c515c7668533f8893f5fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/ksnakeduel-17.11.90.tar.xz">ksnakeduel-17.11.90</a></td>
   <td align="right">591kB</td>
   <td><tt>2d2711a3b055f2eca42ea02ac7d16c781e3203b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kspaceduel-17.11.90.tar.xz">kspaceduel-17.11.90</a></td>
   <td align="right">595kB</td>
   <td><tt>653cf18cfe9e229350d530f628f94a8493cf12c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/ksquares-17.11.90.tar.xz">ksquares-17.11.90</a></td>
   <td align="right">210kB</td>
   <td><tt>c27935d99b63ffee0887a68cd847933962b2ab03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/ksudoku-17.11.90.tar.xz">ksudoku-17.11.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>7d5c8e38879f0840596df4f587b41b728c415114</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/ksystemlog-17.11.90.tar.xz">ksystemlog-17.11.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>bad9d63902f849c2f8cfab23bf81ab73a55213bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kteatime-17.11.90.tar.xz">kteatime-17.11.90</a></td>
   <td align="right">290kB</td>
   <td><tt>d52e60fd741c84f29b3e9d320eaf760014b7b614</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/ktimer-17.11.90.tar.xz">ktimer-17.11.90</a></td>
   <td align="right">441kB</td>
   <td><tt>be7955eb7538ef51a06a02e1f7000560df8b6234</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/ktnef-17.11.90.tar.xz">ktnef-17.11.90</a></td>
   <td align="right">292kB</td>
   <td><tt>20b907bad5c46701119f037edec188edb0d042da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/ktouch-17.11.90.tar.xz">ktouch-17.11.90</a></td>
   <td align="right">4.8MB</td>
   <td><tt>ef3f0d8ebe9be925443465a93cf141dcf236e999</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/ktp-accounts-kcm-17.11.90.tar.xz">ktp-accounts-kcm-17.11.90</a></td>
   <td align="right">256kB</td>
   <td><tt>51d410eb203278503759004f26663813d929c282</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/ktp-approver-17.11.90.tar.xz">ktp-approver-17.11.90</a></td>
   <td align="right">36kB</td>
   <td><tt>818a7531036123ba485390766cab9b788c3631b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/ktp-auth-handler-17.11.90.tar.xz">ktp-auth-handler-17.11.90</a></td>
   <td align="right">45kB</td>
   <td><tt>b522dd494d6c123fefe234ad77f90ae46475a2ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/ktp-call-ui-17.11.90.tar.xz">ktp-call-ui-17.11.90</a></td>
   <td align="right">94kB</td>
   <td><tt>aa6013fb58f04944348ae8cdde26e8c1a29fa734</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/ktp-common-internals-17.11.90.tar.xz">ktp-common-internals-17.11.90</a></td>
   <td align="right">431kB</td>
   <td><tt>a979eda2100591308bf7351ff2998a6f2bec9e08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/ktp-contact-list-17.11.90.tar.xz">ktp-contact-list-17.11.90</a></td>
   <td align="right">128kB</td>
   <td><tt>bbc7885c563b145a90099d61b09f13cc47f5636d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/ktp-contact-runner-17.11.90.tar.xz">ktp-contact-runner-17.11.90</a></td>
   <td align="right">39kB</td>
   <td><tt>91d138794f70473ee67a884b5f69c9b75a8b5b6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/ktp-desktop-applets-17.11.90.tar.xz">ktp-desktop-applets-17.11.90</a></td>
   <td align="right">42kB</td>
   <td><tt>7594e512899f1e6f3873c6870ed8d62c281691d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/ktp-filetransfer-handler-17.11.90.tar.xz">ktp-filetransfer-handler-17.11.90</a></td>
   <td align="right">44kB</td>
   <td><tt>f5847b20cded0fc570afb67868e72c89ca983537</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/ktp-kded-module-17.11.90.tar.xz">ktp-kded-module-17.11.90</a></td>
   <td align="right">79kB</td>
   <td><tt>2d48a43e24e2db2f1f2ffcb1a6d5f32ad8f3ba9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/ktp-send-file-17.11.90.tar.xz">ktp-send-file-17.11.90</a></td>
   <td align="right">28kB</td>
   <td><tt>e13c23acf385d9ed99cee4b14a714c84f32970de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/ktp-text-ui-17.11.90.tar.xz">ktp-text-ui-17.11.90</a></td>
   <td align="right">457kB</td>
   <td><tt>2678815427a34048cbb438f124cee2e59a344237</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/ktuberling-17.11.90.tar.xz">ktuberling-17.11.90</a></td>
   <td align="right">31MB</td>
   <td><tt>2c3a9dc958a001fcecca4bbe1cabc5f1b8a4bf1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kturtle-17.11.90.tar.xz">kturtle-17.11.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>d5b05d3d0967453c8a01a38c51ddb0c749ad3f14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kubrick-17.11.90.tar.xz">kubrick-17.11.90</a></td>
   <td align="right">299kB</td>
   <td><tt>65b903d204249d4ef202add1edc370c2adbd099d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kwalletmanager-17.11.90.tar.xz">kwalletmanager-17.11.90</a></td>
   <td align="right">760kB</td>
   <td><tt>14bef93828f830da56fb7b6fe757372b8ca497cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kwave-17.11.90.tar.xz">kwave-17.11.90</a></td>
   <td align="right">4.5MB</td>
   <td><tt>4e6943592b4bcbb0570efcf85d6ca32344293990</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/kwordquiz-17.11.90.tar.xz">kwordquiz-17.11.90</a></td>
   <td align="right">3.9MB</td>
   <td><tt>59fd57ce726062cb363f4fc597117c36e606ad70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/libgravatar-17.11.90.tar.xz">libgravatar-17.11.90</a></td>
   <td align="right">29kB</td>
   <td><tt>2ab2976383adec8bac2153310a20f9340bf019db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/libkcddb-17.11.90.tar.xz">libkcddb-17.11.90</a></td>
   <td align="right">414kB</td>
   <td><tt>ef6395e1a516dc122653018d98859ecb07589e85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/libkcompactdisc-17.11.90.tar.xz">libkcompactdisc-17.11.90</a></td>
   <td align="right">86kB</td>
   <td><tt>f91982e782e1b02e5c846bd65271888c850f0759</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/libkdcraw-17.11.90.tar.xz">libkdcraw-17.11.90</a></td>
   <td align="right">40kB</td>
   <td><tt>0f2ee6a2e13f0e6260372fe99b528a33fdb76a98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/libkdegames-17.11.90.tar.xz">libkdegames-17.11.90</a></td>
   <td align="right">5.6MB</td>
   <td><tt>4d7e220e527a9d43e7b5dd0843e139a5bd07e623</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/libkdepim-17.11.90.tar.xz">libkdepim-17.11.90</a></td>
   <td align="right">331kB</td>
   <td><tt>fb04b512ac98cb4af8f0998b0376c9173d347ae3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/libkeduvocdocument-17.11.90.tar.xz">libkeduvocdocument-17.11.90</a></td>
   <td align="right">204kB</td>
   <td><tt>2a9bb527a2f58234031f6be4907a79a580f2a364</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/libkexiv2-17.11.90.tar.xz">libkexiv2-17.11.90</a></td>
   <td align="right">62kB</td>
   <td><tt>e451ed880fca5ab288d47e0599001f5d40de7329</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/libkgapi-17.11.90.tar.xz">libkgapi-17.11.90</a></td>
   <td align="right">170kB</td>
   <td><tt>a9a88dde31de5b5767adf18281a011485d8f368b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/libkgeomap-17.11.90.tar.xz">libkgeomap-17.11.90</a></td>
   <td align="right">146kB</td>
   <td><tt>d07f522f43d3b595886a7d7b5ebaa0db78bfbd46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/libkipi-17.11.90.tar.xz">libkipi-17.11.90</a></td>
   <td align="right">101kB</td>
   <td><tt>312a5163463c0bc3faab86227722730158b33246</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/libkleo-17.11.90.tar.xz">libkleo-17.11.90</a></td>
   <td align="right">308kB</td>
   <td><tt>dfc3bd9680ff2787d6b5c863146587cf2ab725c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/libkmahjongg-17.11.90.tar.xz">libkmahjongg-17.11.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>7d00050d02b16163d2fc7442b1088630cb007d01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/libkomparediff2-17.11.90.tar.xz">libkomparediff2-17.11.90</a></td>
   <td align="right">172kB</td>
   <td><tt>9e2367ce78747652c91f839b0b874956e88d1759</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/libksane-17.11.90.tar.xz">libksane-17.11.90</a></td>
   <td align="right">133kB</td>
   <td><tt>42053f3d2f632b567b46e2bf2ece338b199bffe1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/libksieve-17.11.90.tar.xz">libksieve-17.11.90</a></td>
   <td align="right">534kB</td>
   <td><tt>3f1aa2c112161f52a53afacba034eb8cea89d4c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/lokalize-17.11.90.tar.xz">lokalize-17.11.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>840b4221267a6e235055941b03aa377330b82b95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/lskat-17.11.90.tar.xz">lskat-17.11.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>4191650c21cb68efcb93d196ca407c7529ee782f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/mailcommon-17.11.90.tar.xz">mailcommon-17.11.90</a></td>
   <td align="right">668kB</td>
   <td><tt>faa8b82495d2d62c56e621c8ea3c9f098021f995</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/mailimporter-17.11.90.tar.xz">mailimporter-17.11.90</a></td>
   <td align="right">528kB</td>
   <td><tt>767faa453435972e439ebe037ef7e2fb0aecb849</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/marble-17.11.90.tar.xz">marble-17.11.90</a></td>
   <td align="right">49MB</td>
   <td><tt>690d852632d40ff9ffe736fa28f695d8c545e64f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/mbox-importer-17.11.90.tar.xz">mbox-importer-17.11.90</a></td>
   <td align="right">32kB</td>
   <td><tt>772e60b03b6cb19276465ce1b313f2ccd958df5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/messagelib-17.11.90.tar.xz">messagelib-17.11.90</a></td>
   <td align="right">9.9MB</td>
   <td><tt>b221251fe43c3dc26c809c3bdeb90d4b514639fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/minuet-17.11.90.tar.xz">minuet-17.11.90</a></td>
   <td align="right">26MB</td>
   <td><tt>4137908bbf89d9fb65254f9c0a76b214feb56030</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/okteta-17.11.90.tar.xz">okteta-17.11.90</a></td>
   <td align="right">940kB</td>
   <td><tt>7d75e614d51008ec750decab2533f1880b36ac7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/okular-17.11.90.tar.xz">okular-17.11.90</a></td>
   <td align="right">5.4MB</td>
   <td><tt>8a27138a3cfdae79819cc3c8bf1bddbc85f2f86a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/palapeli-17.11.90.tar.xz">palapeli-17.11.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>dc6273803643124a0ffc616e7f872276fc40889e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/parley-17.11.90.tar.xz">parley-17.11.90</a></td>
   <td align="right">8.4MB</td>
   <td><tt>2b27d74832a221e08d87b50e80d21fd9aebf2522</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/picmi-17.11.90.tar.xz">picmi-17.11.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8df598df9047e7e4ab767cf16992bccb2ccb47a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/pimcommon-17.11.90.tar.xz">pimcommon-17.11.90</a></td>
   <td align="right">281kB</td>
   <td><tt>ba56f72826257574c78201734c2dfe0a9c78354b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/pim-data-exporter-17.11.90.tar.xz">pim-data-exporter-17.11.90</a></td>
   <td align="right">261kB</td>
   <td><tt>919170bf1c0718b9f085890be06db90d1f7f5b2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/pim-sieve-editor-17.11.90.tar.xz">pim-sieve-editor-17.11.90</a></td>
   <td align="right">434kB</td>
   <td><tt>cf748c963cfe10be944f1cf69c1166f89f805b9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/poxml-17.11.90.tar.xz">poxml-17.11.90</a></td>
   <td align="right">41kB</td>
   <td><tt>30fd52f5edf9acc2a926a93cab79dbe3854d0c0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/print-manager-17.11.90.tar.xz">print-manager-17.11.90</a></td>
   <td align="right">231kB</td>
   <td><tt>82a3ea7d0a3a99f52554c18a8be2303687a654ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/rocs-17.11.90.tar.xz">rocs-17.11.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>19a66f1c4a8bb884d0db11b6bcd4973ee02ee9ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/signon-kwallet-extension-17.11.90.tar.xz">signon-kwallet-extension-17.11.90</a></td>
   <td align="right">10kB</td>
   <td><tt>a14af7c5465e3d9e438c7c43349b244862bb7c79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/spectacle-17.11.90.tar.xz">spectacle-17.11.90</a></td>
   <td align="right">744kB</td>
   <td><tt>4a3f5ed017847a556056a14436ebc5065127a1f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/step-17.11.90.tar.xz">step-17.11.90</a></td>
   <td align="right">842kB</td>
   <td><tt>95836a948813e5ddef341426425cfe111796a6e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/svgpart-17.11.90.tar.xz">svgpart-17.11.90</a></td>
   <td align="right">20kB</td>
   <td><tt>a4cd3b46a6027368c47c2a7d9d51edec705f80b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/sweeper-17.11.90.tar.xz">sweeper-17.11.90</a></td>
   <td align="right">373kB</td>
   <td><tt>9f9b3b2c080134bf33f3bedbd708af5425b1de1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/syndication-17.11.90.tar.xz">syndication-17.11.90</a></td>
   <td align="right">156kB</td>
   <td><tt>5c6ee354794fe9ea0258abb076c16bb2476f61da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/umbrello-17.11.90.tar.xz">umbrello-17.11.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>4888730a79268624d3ee356198f19a811f58bc6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.11.90/src/zeroconf-ioslave-17.11.90.tar.xz">zeroconf-ioslave-17.11.90</a></td>
   <td align="right">37kB</td>
   <td><tt>bab379d32bcc7be6b2ccedcf10798a8a1a7827f9</tt></td>
</tr>

</table>
