<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Digest</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/akonadi-19.04.2.tar.xz">akonadi-19.04.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>bcbea736892a5d87da16349e960b6a2d64ba863d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/akonadi-calendar-19.04.2.tar.xz">akonadi-calendar-19.04.2</a></td>
   <td align="right">323kB</td>
   <td><tt>c1cef05750946511aa9832507ea267e88fd8b38c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/akonadi-calendar-tools-19.04.2.tar.xz">akonadi-calendar-tools-19.04.2</a></td>
   <td align="right">218kB</td>
   <td><tt>f7c29aace599261ac007b581763315fe1a0e81d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/akonadiconsole-19.04.2.tar.xz">akonadiconsole-19.04.2</a></td>
   <td align="right">188kB</td>
   <td><tt>5723c960def0cb95b8f3f1fac86ca78e4c1a33ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/akonadi-contacts-19.04.2.tar.xz">akonadi-contacts-19.04.2</a></td>
   <td align="right">382kB</td>
   <td><tt>6ac5233a16eaa1b2b69967f38abd07a7909547b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/akonadi-import-wizard-19.04.2.tar.xz">akonadi-import-wizard-19.04.2</a></td>
   <td align="right">428kB</td>
   <td><tt>1a766dd380f1b8866b7c73ecb2644650caadd64b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/akonadi-mime-19.04.2.tar.xz">akonadi-mime-19.04.2</a></td>
   <td align="right">133kB</td>
   <td><tt>d650d88ec6a94b3d51d4a67ea835ae1f463edfe0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/akonadi-notes-19.04.2.tar.xz">akonadi-notes-19.04.2</a></td>
   <td align="right">23kB</td>
   <td><tt>0ae6106d20cfc53e3fce513ee01891b5afe0b5ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/akonadi-search-19.04.2.tar.xz">akonadi-search-19.04.2</a></td>
   <td align="right">80kB</td>
   <td><tt>ff98154667b0262ecdbd7aaf5c43ab497cf42cbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/akregator-19.04.2.tar.xz">akregator-19.04.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>192a0a9fc23725f2f2efc04cdd3a1bede9609e07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/analitza-19.04.2.tar.xz">analitza-19.04.2</a></td>
   <td align="right">323kB</td>
   <td><tt>14c24272eca932ce0692aeb3a5b9c3b0b3267c9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/ark-19.04.2.tar.xz">ark-19.04.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>adb46bd93a1372cc04b02ec233a6a4f9888e5d07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/artikulate-19.04.2.tar.xz">artikulate-19.04.2</a></td>
   <td align="right">3.7MB</td>
   <td><tt>af6f2554f50ad9ae9a7726e087c4ea98a665a0bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/audiocd-kio-19.04.2.tar.xz">audiocd-kio-19.04.2</a></td>
   <td align="right">345kB</td>
   <td><tt>bb3b7a2c1ad36c5097403e46489d82aa9873a3b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/baloo-widgets-19.04.2.tar.xz">baloo-widgets-19.04.2</a></td>
   <td align="right">243kB</td>
   <td><tt>4b1070a225abe3463c1c235cb8b16473c3c4adc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/blinken-19.04.2.tar.xz">blinken-19.04.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>113737dfdcb05c876ea6c20247d27e2f742fd899</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/bomber-19.04.2.tar.xz">bomber-19.04.2</a></td>
   <td align="right">800kB</td>
   <td><tt>a1c2c754bf8fa03e69d3c3cd0d23ecbdfe35266f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/bovo-19.04.2.tar.xz">bovo-19.04.2</a></td>
   <td align="right">194kB</td>
   <td><tt>6032378c090d4a241f6576783c24c95aadd5f997</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/calendarsupport-19.04.2.tar.xz">calendarsupport-19.04.2</a></td>
   <td align="right">631kB</td>
   <td><tt>fa03463d3c353d452c7e35ee9b1722eaee89aade</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/cantor-19.04.2.tar.xz">cantor-19.04.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>bfef7164bb2d64d2b47a20570b296d5a7ee2e521</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/cervisia-19.04.2.tar.xz">cervisia-19.04.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>34ff3fe4e177f59bf545258b6e7eeca598b52f7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/dolphin-19.04.2.tar.xz">dolphin-19.04.2</a></td>
   <td align="right">4.8MB</td>
   <td><tt>b77dbf453f259ced9a6ee2616de77ed14bffeaf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/dolphin-plugins-19.04.2.tar.xz">dolphin-plugins-19.04.2</a></td>
   <td align="right">187kB</td>
   <td><tt>b3b4770f330ea7e8669b4e6fdc5dc496bcd66858</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/dragon-19.04.2.tar.xz">dragon-19.04.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>354684a6476eedd878a48a6e06dc42ced8a5f586</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/eventviews-19.04.2.tar.xz">eventviews-19.04.2</a></td>
   <td align="right">432kB</td>
   <td><tt>716c36427ef88c4284fc6875deeddfb8b7f1e298</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/ffmpegthumbs-19.04.2.tar.xz">ffmpegthumbs-19.04.2</a></td>
   <td align="right">24kB</td>
   <td><tt>f386b3e92e5cda9c6a471ab432e22b81cdb352bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/filelight-19.04.2.tar.xz">filelight-19.04.2</a></td>
   <td align="right">645kB</td>
   <td><tt>70a938a23c0a40c2e309b7524a4dc475a8aceb72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/granatier-19.04.2.tar.xz">granatier-19.04.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c0973242f96d74a7922b86ca3d235e2c5236e25a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/grantlee-editor-19.04.2.tar.xz">grantlee-editor-19.04.2</a></td>
   <td align="right">108kB</td>
   <td><tt>0047511955cc6cc1d8d63a1c0c2328bcf277e150</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/grantleetheme-19.04.2.tar.xz">grantleetheme-19.04.2</a></td>
   <td align="right">50kB</td>
   <td><tt>ed46da3cdea585faa8b4e21431c940bc68b4e6f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/gwenview-19.04.2.tar.xz">gwenview-19.04.2</a></td>
   <td align="right">5.4MB</td>
   <td><tt>42bfae7d85d9da88ae908cb0e029dc5de7083caf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/incidenceeditor-19.04.2.tar.xz">incidenceeditor-19.04.2</a></td>
   <td align="right">536kB</td>
   <td><tt>7c339d8bba109b4d050d6997206da4b0b86edb9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/juk-19.04.2.tar.xz">juk-19.04.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c656733a002136acf9bbdb826c80c0f9266146b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/k3b-19.04.2.tar.xz">k3b-19.04.2</a></td>
   <td align="right">10MB</td>
   <td><tt>9cfd0b8d2ddd2d90f665f5d81ec21a04850cd21f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kaccounts-integration-19.04.2.tar.xz">kaccounts-integration-19.04.2</a></td>
   <td align="right">69kB</td>
   <td><tt>be09a5bacce58e06a99c9e8448b42e36f641ea9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kaccounts-providers-19.04.2.tar.xz">kaccounts-providers-19.04.2</a></td>
   <td align="right">30kB</td>
   <td><tt>4e6270ed9bef943bbc209bc078c4788e2b286a12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kaddressbook-19.04.2.tar.xz">kaddressbook-19.04.2</a></td>
   <td align="right">459kB</td>
   <td><tt>49009e044f02e281fc6369e3224f5681fb6d8155</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kajongg-19.04.2.tar.xz">kajongg-19.04.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>15ec3268243770f9a0bac3fa9cceece5ab02dcae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kalarm-19.04.2.tar.xz">kalarm-19.04.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d148b027a07ef2148f7a06eca2423c763c8a9f67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kalarmcal-19.04.2.tar.xz">kalarmcal-19.04.2</a></td>
   <td align="right">558kB</td>
   <td><tt>91c13aabc9cce3c49bc28c67c85ebe8f68d9484a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kalgebra-19.04.2.tar.xz">kalgebra-19.04.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>3f72668f587a100c1b7a91f2d8e979627a7b73df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kalzium-19.04.2.tar.xz">kalzium-19.04.2</a></td>
   <td align="right">25MB</td>
   <td><tt>fa6fedb28b962d91d3b5e57b864d0ac0fee3849d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kamera-19.04.2.tar.xz">kamera-19.04.2</a></td>
   <td align="right">96kB</td>
   <td><tt>ac52e3417403a031abfc664359f75bc7552b86ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kamoso-19.04.2.tar.xz">kamoso-19.04.2</a></td>
   <td align="right">195kB</td>
   <td><tt>ad46511da5332cf302afe10b3db1357df1130a3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kanagram-19.04.2.tar.xz">kanagram-19.04.2</a></td>
   <td align="right">7.6MB</td>
   <td><tt>2922ff2b483351dc4c5744545154f0f43d81f38f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kapman-19.04.2.tar.xz">kapman-19.04.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>d660641262765996e89bd1544e4bf1d048680b1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kapptemplate-19.04.2.tar.xz">kapptemplate-19.04.2</a></td>
   <td align="right">309kB</td>
   <td><tt>e2b6fd75789cf73acd970d1dd958192bfbe8ac81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kate-19.04.2.tar.xz">kate-19.04.2</a></td>
   <td align="right">5.5MB</td>
   <td><tt>c69532086eed3a842393e09e33f00856425dec05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/katomic-19.04.2.tar.xz">katomic-19.04.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>9209aada40450d63c50dd8e6c6da0d49918e5934</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kbackup-19.04.2.tar.xz">kbackup-19.04.2</a></td>
   <td align="right">349kB</td>
   <td><tt>1f4dfdafe0951eba464e6e59e0be6d8797fee218</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kblackbox-19.04.2.tar.xz">kblackbox-19.04.2</a></td>
   <td align="right">432kB</td>
   <td><tt>2db97d76a83099a6779138aca01965020663e954</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kblocks-19.04.2.tar.xz">kblocks-19.04.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>ca25a014124a1bdf2720de8fd2aa0f1ed88be046</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kblog-19.04.2.tar.xz">kblog-19.04.2</a></td>
   <td align="right">71kB</td>
   <td><tt>7b17e1e235ef356aec9ac2b6f8b45b390e28d156</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kbounce-19.04.2.tar.xz">kbounce-19.04.2</a></td>
   <td align="right">3.3MB</td>
   <td><tt>4ad2c0747b3c2530ddb21ff30c3ba58b00fcf8b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kbreakout-19.04.2.tar.xz">kbreakout-19.04.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>b8ad6b7fea9a7d198aea4d4e8f93fb8ab51a3ac8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kbruch-19.04.2.tar.xz">kbruch-19.04.2</a></td>
   <td align="right">5.3MB</td>
   <td><tt>ece3edc51b1b275e578501c9307bedd743216578</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kcachegrind-19.04.2.tar.xz">kcachegrind-19.04.2</a></td>
   <td align="right">788kB</td>
   <td><tt>6e2c94a1e024bc9edb3344efe3d8d37d2c3c1263</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kcalc-19.04.2.tar.xz">kcalc-19.04.2</a></td>
   <td align="right">359kB</td>
   <td><tt>b3c231a8330492a63a07ca0dcc2ae5b095cec6c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kcalcore-19.04.2.tar.xz">kcalcore-19.04.2</a></td>
   <td align="right">245kB</td>
   <td><tt>a63116cadc36181640003ca6abbf7c1ce5e7bc21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kcalutils-19.04.2.tar.xz">kcalutils-19.04.2</a></td>
   <td align="right">320kB</td>
   <td><tt>1a7056b80462d6e87f6fbbd376dacc7034c2f78c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kcharselect-19.04.2.tar.xz">kcharselect-19.04.2</a></td>
   <td align="right">326kB</td>
   <td><tt>d859ca35f2b5edc8403a46e51c0b3475e12cf17f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kcolorchooser-19.04.2.tar.xz">kcolorchooser-19.04.2</a></td>
   <td align="right">19kB</td>
   <td><tt>a1e868f0b771f6aaf7d64f80c69e7efa05b7d9c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kcontacts-19.04.2.tar.xz">kcontacts-19.04.2</a></td>
   <td align="right">589kB</td>
   <td><tt>0dd2b537da33ede852334cd061b69e74350f85f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kcron-19.04.2.tar.xz">kcron-19.04.2</a></td>
   <td align="right">904kB</td>
   <td><tt>0eec9224d02705e657c80b4bcbbe8a5e88100eaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kdav-19.04.2.tar.xz">kdav-19.04.2</a></td>
   <td align="right">48kB</td>
   <td><tt>e122c3d21e029c097d27c6551a773a2d95489f06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kdebugsettings-19.04.2.tar.xz">kdebugsettings-19.04.2</a></td>
   <td align="right">53kB</td>
   <td><tt>e9ba47f11c1d088d5a0e39ae1f31d917a4c5d2e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kde-dev-scripts-19.04.2.tar.xz">kde-dev-scripts-19.04.2</a></td>
   <td align="right">368kB</td>
   <td><tt>314041ba1ede1875bc997447bcc6f7bd8de6ef34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kde-dev-utils-19.04.2.tar.xz">kde-dev-utils-19.04.2</a></td>
   <td align="right">60kB</td>
   <td><tt>585a9d2b24ddd20a0cc6ad71855a9d01a6122ab3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kdeedu-data-19.04.2.tar.xz">kdeedu-data-19.04.2</a></td>
   <td align="right">319kB</td>
   <td><tt>aa6c273a72316cc599cfa8289873a28dbcd36a1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kdegraphics-mobipocket-19.04.2.tar.xz">kdegraphics-mobipocket-19.04.2</a></td>
   <td align="right">13kB</td>
   <td><tt>76a4ff320ae7f669effa5ba8625b838d67705be4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kdegraphics-thumbnailers-19.04.2.tar.xz">kdegraphics-thumbnailers-19.04.2</a></td>
   <td align="right">41kB</td>
   <td><tt>595aa25eaf160166513a1f9dd057206a0ae019a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kdenetwork-filesharing-19.04.2.tar.xz">kdenetwork-filesharing-19.04.2</a></td>
   <td align="right">305kB</td>
   <td><tt>fc3a320978504a4ad11d35fd401b0e69e958224f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kdenlive-19.04.2.tar.xz">kdenlive-19.04.2</a></td>
   <td align="right">10MB</td>
   <td><tt>d575ec98dde470830b89e59a324b743e5dbcc3c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kdepim-addons-19.04.2.tar.xz">kdepim-addons-19.04.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>a519ac93b10f9146ffccd937facd61905922d501</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kdepim-apps-libs-19.04.2.tar.xz">kdepim-apps-libs-19.04.2</a></td>
   <td align="right">83kB</td>
   <td><tt>b37d2fa013d07c29fbb238f05a32929f817a4d26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kdepim-runtime-19.04.2.tar.xz">kdepim-runtime-19.04.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>1516373a427ce67490deb926e293abe055c68904</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kdesdk-kioslaves-19.04.2.tar.xz">kdesdk-kioslaves-19.04.2</a></td>
   <td align="right">36kB</td>
   <td><tt>f76d529830c086106c540c5803431a77ca502ca2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kdesdk-thumbnailers-19.04.2.tar.xz">kdesdk-thumbnailers-19.04.2</a></td>
   <td align="right">16kB</td>
   <td><tt>b3a7656ac37d7e5ea7635fff0dcd90a60988e465</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kdf-19.04.2.tar.xz">kdf-19.04.2</a></td>
   <td align="right">528kB</td>
   <td><tt>b98b801a60fa1e283450a45a2485fe0d999b75fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kdialog-19.04.2.tar.xz">kdialog-19.04.2</a></td>
   <td align="right">95kB</td>
   <td><tt>d0042b7cb307e395826863f9f8a2e08f891ce569</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kdiamond-19.04.2.tar.xz">kdiamond-19.04.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>dd9ae735376aa3c7e45b2f3ff13fd1927153fcf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/keditbookmarks-19.04.2.tar.xz">keditbookmarks-19.04.2</a></td>
   <td align="right">179kB</td>
   <td><tt>7334484e6a148c450623d3c0cd23e1d198eda5a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kfind-19.04.2.tar.xz">kfind-19.04.2</a></td>
   <td align="right">260kB</td>
   <td><tt>7a88d52fff2de055d037be16001e8221f6fad541</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kfloppy-19.04.2.tar.xz">kfloppy-19.04.2</a></td>
   <td align="right">194kB</td>
   <td><tt>c4805cc50c627c82d8504f333e5b47fe178f059d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kfourinline-19.04.2.tar.xz">kfourinline-19.04.2</a></td>
   <td align="right">620kB</td>
   <td><tt>5cc32b3f8bc51beb9e62237d30733c5f70d58549</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kgeography-19.04.2.tar.xz">kgeography-19.04.2</a></td>
   <td align="right">10MB</td>
   <td><tt>8aaf20ede1934fcd53c0246cf78698a68c42b1ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kget-19.04.2.tar.xz">kget-19.04.2</a></td>
   <td align="right">4.9MB</td>
   <td><tt>b12a7b39f59d4a69039eac732da46f9e6dabfe72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kgoldrunner-19.04.2.tar.xz">kgoldrunner-19.04.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>f841f7711708dc571445acc2d82e19e277c40967</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kgpg-19.04.2.tar.xz">kgpg-19.04.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>6b9240ff8076a670ff0ba24752a72ec05b3f3876</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/khangman-19.04.2.tar.xz">khangman-19.04.2</a></td>
   <td align="right">6.7MB</td>
   <td><tt>787e0da4b31c81d516881ddb528047c26056d56b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/khelpcenter-19.04.2.tar.xz">khelpcenter-19.04.2</a></td>
   <td align="right">3.6MB</td>
   <td><tt>30614327cc94327eeecb8e192e8df312ec44a70c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kidentitymanagement-19.04.2.tar.xz">kidentitymanagement-19.04.2</a></td>
   <td align="right">145kB</td>
   <td><tt>f7fb8a76d6e9b0e36aecea8b7ff56c0ff1409960</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kig-19.04.2.tar.xz">kig-19.04.2</a></td>
   <td align="right">3.3MB</td>
   <td><tt>5b569b3f0bb1d872e0754d9f19df84d1d4820d9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kigo-19.04.2.tar.xz">kigo-19.04.2</a></td>
   <td align="right">4.9MB</td>
   <td><tt>526ada0050f75ad9f33e6c570da2a98b6dd9f631</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/killbots-19.04.2.tar.xz">killbots-19.04.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>e9456d54b54c336e1240147ec4f7a8f8e04770f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kimagemapeditor-19.04.2.tar.xz">kimagemapeditor-19.04.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>f85c59c37ea1a4da2c867d1b63e26a90488d7286</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kimap-19.04.2.tar.xz">kimap-19.04.2</a></td>
   <td align="right">116kB</td>
   <td><tt>c432a437720a92f5ba87b9d8c3e47a33d9316006</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kio-extras-19.04.2.tar.xz">kio-extras-19.04.2</a></td>
   <td align="right">557kB</td>
   <td><tt>b3a79e8aceb59953bad559e761eba543d1323033</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kirigami-gallery-19.04.2.tar.xz">kirigami-gallery-19.04.2</a></td>
   <td align="right">266kB</td>
   <td><tt>851cb00a36dee5023d2da19a21ebaaa99f472117</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kiriki-19.04.2.tar.xz">kiriki-19.04.2</a></td>
   <td align="right">364kB</td>
   <td><tt>53444457381d723b0407a7f7c56ba29c99fa4715</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kiten-19.04.2.tar.xz">kiten-19.04.2</a></td>
   <td align="right">10MB</td>
   <td><tt>802360866681ce0c1284da775fa735354ecc95d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kitinerary-19.04.2.tar.xz">kitinerary-19.04.2</a></td>
   <td align="right">674kB</td>
   <td><tt>21d95e8680707c524e47f632404bb994bb59fa7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kjumpingcube-19.04.2.tar.xz">kjumpingcube-19.04.2</a></td>
   <td align="right">281kB</td>
   <td><tt>81f0ea6ab198d6fc9ff3b207bb6f4262508b484e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kldap-19.04.2.tar.xz">kldap-19.04.2</a></td>
   <td align="right">151kB</td>
   <td><tt>905c716694f2463a6c2c0f6a5d6836fd1f7010b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kleopatra-19.04.2.tar.xz">kleopatra-19.04.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>30fa05cd99fab3bb728c7667287c39c06e8e8069</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/klettres-19.04.2.tar.xz">klettres-19.04.2</a></td>
   <td align="right">20MB</td>
   <td><tt>8de830eff503c51aef209a01a926be4415e53d20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/klickety-19.04.2.tar.xz">klickety-19.04.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>af69d8db4739830877f9a7ea55dec25025e93e34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/klines-19.04.2.tar.xz">klines-19.04.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c75b2af732a852b6ed49209f59fb587b6139e123</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kmag-19.04.2.tar.xz">kmag-19.04.2</a></td>
   <td align="right">722kB</td>
   <td><tt>0b1986e1b94a7361505e5ac47d63adbd5d668d2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kmahjongg-19.04.2.tar.xz">kmahjongg-19.04.2</a></td>
   <td align="right">3.8MB</td>
   <td><tt>caab57296c176392cef6f9f61e71142beb3a990c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kmail-19.04.2.tar.xz">kmail-19.04.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>aa7a6b811cc0f03a85337c73dbfe03d1a2ba0581</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kmail-account-wizard-19.04.2.tar.xz">kmail-account-wizard-19.04.2</a></td>
   <td align="right">151kB</td>
   <td><tt>465fbe65ce33c7d841fe4cbd1039ca6c4004ff80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kmailtransport-19.04.2.tar.xz">kmailtransport-19.04.2</a></td>
   <td align="right">162kB</td>
   <td><tt>3fdac9ae1519d32d95e401b36cd5c711e3d24dbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kmbox-19.04.2.tar.xz">kmbox-19.04.2</a></td>
   <td align="right">24kB</td>
   <td><tt>aa79924effb675c20d87495f3fd5c8cd5ec39711</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kmime-19.04.2.tar.xz">kmime-19.04.2</a></td>
   <td align="right">143kB</td>
   <td><tt>88f638a29510dd7ddc95e3be76bfd198d82e7bcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kmines-19.04.2.tar.xz">kmines-19.04.2</a></td>
   <td align="right">876kB</td>
   <td><tt>cb356167d48a5c6002e4c9aad4f19ae5091cb40c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kmix-19.04.2.tar.xz">kmix-19.04.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d915ca821601029a2b4520e693005f14e629eec9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kmousetool-19.04.2.tar.xz">kmousetool-19.04.2</a></td>
   <td align="right">109kB</td>
   <td><tt>21426cc43f148ac24d3b1b8e72cffe324cca5f75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kmouth-19.04.2.tar.xz">kmouth-19.04.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>985105520323bdc571aebd599a1e7bb6fd63aa52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kmplot-19.04.2.tar.xz">kmplot-19.04.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>654a1c33296ae84d5cf21a76568c689fcac74380</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/knavalbattle-19.04.2.tar.xz">knavalbattle-19.04.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>af34512115dc6fb0aae4ab8cc4d162f515f65249</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/knetwalk-19.04.2.tar.xz">knetwalk-19.04.2</a></td>
   <td align="right">1014kB</td>
   <td><tt>60e83bc69704b3702b2e0f8d38222b0be5635d60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/knights-19.04.2.tar.xz">knights-19.04.2</a></td>
   <td align="right">3.3MB</td>
   <td><tt>3f7d67c215219bc1276469b6befd97181bc7f1b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/knotes-19.04.2.tar.xz">knotes-19.04.2</a></td>
   <td align="right">312kB</td>
   <td><tt>4139bd4a4c9a8d6ee47586a60a5b0901886328ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kolf-19.04.2.tar.xz">kolf-19.04.2</a></td>
   <td align="right">1004kB</td>
   <td><tt>fb2442337ed15712a964279ea61b47177711a32c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kollision-19.04.2.tar.xz">kollision-19.04.2</a></td>
   <td align="right">274kB</td>
   <td><tt>fca9ba60b93221f4a04608a8a7314026b66ce690</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kolourpaint-19.04.2.tar.xz">kolourpaint-19.04.2</a></td>
   <td align="right">5.3MB</td>
   <td><tt>6afff4944f1002be89212e6bdaf9ff064821521c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kompare-19.04.2.tar.xz">kompare-19.04.2</a></td>
   <td align="right">782kB</td>
   <td><tt>fcb0391b441b26c70fbac11bd438d427e14f0151</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/konqueror-19.04.2.tar.xz">konqueror-19.04.2</a></td>
   <td align="right">7.3MB</td>
   <td><tt>c9b2fb014e60d357eb42748fa0e84121cb49e7e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/konquest-19.04.2.tar.xz">konquest-19.04.2</a></td>
   <td align="right">643kB</td>
   <td><tt>688f8f2ad987d6c1480d23ed34f46254d579b21a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/konsole-19.04.2.tar.xz">konsole-19.04.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>b0c2aed78e792074f8b1b47aff04731c58c79258</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kontact-19.04.2.tar.xz">kontact-19.04.2</a></td>
   <td align="right">774kB</td>
   <td><tt>c022edbb0779bd7bd708f6ad6c02e45ace4ecd78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kontactinterface-19.04.2.tar.xz">kontactinterface-19.04.2</a></td>
   <td align="right">32kB</td>
   <td><tt>9561a0fe67c279330c2aeed9218ae90077aecdc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kopete-19.04.2.tar.xz">kopete-19.04.2</a></td>
   <td align="right">8.9MB</td>
   <td><tt>b00df1c6bee3561688eb8fd8bbbe9da013a3f67b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/korganizer-19.04.2.tar.xz">korganizer-19.04.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>8bb77dbb9b17915e527f835034d2668eed4966da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kpat-19.04.2.tar.xz">kpat-19.04.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>a066cfeeb3417a8ec7e60cdb12924bb97ea6daf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kpimtextedit-19.04.2.tar.xz">kpimtextedit-19.04.2</a></td>
   <td align="right">148kB</td>
   <td><tt>2c5ac0cc2a723447600c066b1d171f4e8e71360b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kpkpass-19.04.2.tar.xz">kpkpass-19.04.2</a></td>
   <td align="right">22kB</td>
   <td><tt>fbd46360546ed428efa01b81da24562a28081919</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kqtquickcharts-19.04.2.tar.xz">kqtquickcharts-19.04.2</a></td>
   <td align="right">24kB</td>
   <td><tt>61a92708a415a1d39c7c2be05c20e8db08211818</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/krdc-19.04.2.tar.xz">krdc-19.04.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>171df6d4c8ed49a46c81ec07f217e3c0e6934048</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kreversi-19.04.2.tar.xz">kreversi-19.04.2</a></td>
   <td align="right">920kB</td>
   <td><tt>04700205d51712f0cfa9226beb457365415dba00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/krfb-19.04.2.tar.xz">krfb-19.04.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2dc2ebb02fef5d075fd32cd07774404c765dae68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kross-interpreters-19.04.2.tar.xz">kross-interpreters-19.04.2</a></td>
   <td align="right">146kB</td>
   <td><tt>8e556374f83c80f32f31a614c7dc3454cd264587</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kruler-19.04.2.tar.xz">kruler-19.04.2</a></td>
   <td align="right">243kB</td>
   <td><tt>a46d4562eb67f938a037e6e9128e872a2c100af5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kshisen-19.04.2.tar.xz">kshisen-19.04.2</a></td>
   <td align="right">803kB</td>
   <td><tt>04d7b4cfe93414385342054f71bac1073e73eb42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/ksirk-19.04.2.tar.xz">ksirk-19.04.2</a></td>
   <td align="right">6.6MB</td>
   <td><tt>bc8881ef7b59eb268705391aaa916efb5ec75c71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/ksmtp-19.04.2.tar.xz">ksmtp-19.04.2</a></td>
   <td align="right">39kB</td>
   <td><tt>65cd0ff8be7663f4c2414802ac082f04bf238d5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/ksnakeduel-19.04.2.tar.xz">ksnakeduel-19.04.2</a></td>
   <td align="right">590kB</td>
   <td><tt>c2124e46e355f0cd3a96e3b75d8196d446cfca14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kspaceduel-19.04.2.tar.xz">kspaceduel-19.04.2</a></td>
   <td align="right">597kB</td>
   <td><tt>00c1d3202148dc009dfa04077bae874fbe68cdb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/ksquares-19.04.2.tar.xz">ksquares-19.04.2</a></td>
   <td align="right">254kB</td>
   <td><tt>ac0c57494b57b5dfcb6c861039202910efec0850</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/ksudoku-19.04.2.tar.xz">ksudoku-19.04.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>5d17fe36e79e9aa4957178495785f6d4efa5e818</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/ksystemlog-19.04.2.tar.xz">ksystemlog-19.04.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>62bb5ec5ebe3c189430de4417d91d205059fb6f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kteatime-19.04.2.tar.xz">kteatime-19.04.2</a></td>
   <td align="right">291kB</td>
   <td><tt>74569fd10361c26b99a8f75545764afcddddb6dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/ktimer-19.04.2.tar.xz">ktimer-19.04.2</a></td>
   <td align="right">368kB</td>
   <td><tt>7267128d4fd678c2763bdc64b34252fd4d947352</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/ktnef-19.04.2.tar.xz">ktnef-19.04.2</a></td>
   <td align="right">292kB</td>
   <td><tt>bda29d36ea22877891861f1f343f04ce33245566</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/ktouch-19.04.2.tar.xz">ktouch-19.04.2</a></td>
   <td align="right">4.8MB</td>
   <td><tt>ceb48f12ce06c2cd8c90eeabff0fcf8a32d40d42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/ktp-accounts-kcm-19.04.2.tar.xz">ktp-accounts-kcm-19.04.2</a></td>
   <td align="right">253kB</td>
   <td><tt>e3e3d577ee53c8bb47da60032777cda599c25963</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/ktp-approver-19.04.2.tar.xz">ktp-approver-19.04.2</a></td>
   <td align="right">36kB</td>
   <td><tt>285699702c21e6858ae4955e08234246b9a4ce06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/ktp-auth-handler-19.04.2.tar.xz">ktp-auth-handler-19.04.2</a></td>
   <td align="right">44kB</td>
   <td><tt>58e484fd072b37f3aee63753a296a39d9cdef7ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/ktp-call-ui-19.04.2.tar.xz">ktp-call-ui-19.04.2</a></td>
   <td align="right">93kB</td>
   <td><tt>d41a79f33becc1974235d7f041ba27e9981ff7fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/ktp-common-internals-19.04.2.tar.xz">ktp-common-internals-19.04.2</a></td>
   <td align="right">430kB</td>
   <td><tt>ff3817de86ee49098112b98d2da12f689421ba81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/ktp-contact-list-19.04.2.tar.xz">ktp-contact-list-19.04.2</a></td>
   <td align="right">142kB</td>
   <td><tt>69f7c283ae08e4915970f6c2870bcce12a9c3bdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/ktp-contact-runner-19.04.2.tar.xz">ktp-contact-runner-19.04.2</a></td>
   <td align="right">41kB</td>
   <td><tt>e5ae460269256b1cf5cce2400a2e3fe581699b96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/ktp-desktop-applets-19.04.2.tar.xz">ktp-desktop-applets-19.04.2</a></td>
   <td align="right">41kB</td>
   <td><tt>ae1be0fba88732fd111b106caaca8480c376c65f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/ktp-filetransfer-handler-19.04.2.tar.xz">ktp-filetransfer-handler-19.04.2</a></td>
   <td align="right">44kB</td>
   <td><tt>08f11c822f2f978aec113213e647ed4ba2d4af11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/ktp-kded-module-19.04.2.tar.xz">ktp-kded-module-19.04.2</a></td>
   <td align="right">92kB</td>
   <td><tt>be0fc4bd5ba7d77ad95ff79f4744ed3944e021e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/ktp-send-file-19.04.2.tar.xz">ktp-send-file-19.04.2</a></td>
   <td align="right">27kB</td>
   <td><tt>bf70f37370c70d659c7de98948f43d33e8d280b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/ktp-text-ui-19.04.2.tar.xz">ktp-text-ui-19.04.2</a></td>
   <td align="right">453kB</td>
   <td><tt>54130d47a91a61563675b0fd75e4b8379d31b4cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/ktuberling-19.04.2.tar.xz">ktuberling-19.04.2</a></td>
   <td align="right">31MB</td>
   <td><tt>b4eeb83af8e31d99b66d238ff92c7dfadee4c3a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kturtle-19.04.2.tar.xz">kturtle-19.04.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>352ddda5ffecf7c3ffe111f39848d7ed0e12391a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kubrick-19.04.2.tar.xz">kubrick-19.04.2</a></td>
   <td align="right">305kB</td>
   <td><tt>ef2aea2f42f5df36d8c4a23ff0bf0db4feb1b498</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kwalletmanager-19.04.2.tar.xz">kwalletmanager-19.04.2</a></td>
   <td align="right">766kB</td>
   <td><tt>b33ef7536980fdd1b38d428887306628feb8d222</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kwave-19.04.2.tar.xz">kwave-19.04.2</a></td>
   <td align="right">5.9MB</td>
   <td><tt>8f348f4b79abe8c893782c0dffa74d18a9e88257</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/kwordquiz-19.04.2.tar.xz">kwordquiz-19.04.2</a></td>
   <td align="right">3.9MB</td>
   <td><tt>9ae6c6de3edf44afe58913cd98a88de5e165acba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/libgravatar-19.04.2.tar.xz">libgravatar-19.04.2</a></td>
   <td align="right">30kB</td>
   <td><tt>ffcb1310ea6601ee7076b0545865f2ff7950c4ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/libkcddb-19.04.2.tar.xz">libkcddb-19.04.2</a></td>
   <td align="right">414kB</td>
   <td><tt>2e5c3dd87a79e32f2cefc15a5f0311ae97b41dfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/libkcompactdisc-19.04.2.tar.xz">libkcompactdisc-19.04.2</a></td>
   <td align="right">86kB</td>
   <td><tt>bb590276c8f033960b1a79ad43d1f338822d535c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/libkdcraw-19.04.2.tar.xz">libkdcraw-19.04.2</a></td>
   <td align="right">41kB</td>
   <td><tt>53993cc2c50b0a80e4ea9be46eac25e3f22145ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/libkdegames-19.04.2.tar.xz">libkdegames-19.04.2</a></td>
   <td align="right">6.0MB</td>
   <td><tt>90d2e06d3c98bf3de33587759a9d77e1dff07468</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/libkdepim-19.04.2.tar.xz">libkdepim-19.04.2</a></td>
   <td align="right">328kB</td>
   <td><tt>04da775f378f0df0fdf435c065d83e9a3120a607</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/libkeduvocdocument-19.04.2.tar.xz">libkeduvocdocument-19.04.2</a></td>
   <td align="right">202kB</td>
   <td><tt>6f0d2ff85d35d719ee34054d2cf64fdd7c84b2fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/libkexiv2-19.04.2.tar.xz">libkexiv2-19.04.2</a></td>
   <td align="right">62kB</td>
   <td><tt>23a6ea1117779f2dd718d59604210f9658451649</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/libkgapi-19.04.2.tar.xz">libkgapi-19.04.2</a></td>
   <td align="right">219kB</td>
   <td><tt>c491b12aaaa764e6140817a01d2448dbe1bd6c14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/libkgeomap-19.04.2.tar.xz">libkgeomap-19.04.2</a></td>
   <td align="right">146kB</td>
   <td><tt>9db60af32455cf15b8ac81746a3a49c86cccf9fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/libkipi-19.04.2.tar.xz">libkipi-19.04.2</a></td>
   <td align="right">101kB</td>
   <td><tt>a331bb0af4127d5c74dd65d87a4ee564ac415e53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/libkleo-19.04.2.tar.xz">libkleo-19.04.2</a></td>
   <td align="right">326kB</td>
   <td><tt>b8b4ef4a10a05fe0c988ecbc45128cf5d55f3bf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/libkmahjongg-19.04.2.tar.xz">libkmahjongg-19.04.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>958c216472955f56feb49a933c5b165dfd0b658a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/libkomparediff2-19.04.2.tar.xz">libkomparediff2-19.04.2</a></td>
   <td align="right">169kB</td>
   <td><tt>4846b4524131c14903083ae35d58e804190327e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/libksane-19.04.2.tar.xz">libksane-19.04.2</a></td>
   <td align="right">135kB</td>
   <td><tt>98ac0c8d7fb8036626390bed3bb3d4f2f57e7911</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/libksieve-19.04.2.tar.xz">libksieve-19.04.2</a></td>
   <td align="right">536kB</td>
   <td><tt>a104e9832126e01793a79d6fe2c879cd9a21f60c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/lokalize-19.04.2.tar.xz">lokalize-19.04.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>c1d8f2319bc9d9d1cfad18ffa5d583e1f4a11159</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/lskat-19.04.2.tar.xz">lskat-19.04.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>3c57a2fa0f6e31ce6d04f5025de7752edee4dce9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/mailcommon-19.04.2.tar.xz">mailcommon-19.04.2</a></td>
   <td align="right">676kB</td>
   <td><tt>522c0a8b43dc2a88525d57e24629834e19443bc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/mailimporter-19.04.2.tar.xz">mailimporter-19.04.2</a></td>
   <td align="right">527kB</td>
   <td><tt>cc74358fb8eda1b80b837a481e1efa19b5b37363</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/marble-19.04.2.tar.xz">marble-19.04.2</a></td>
   <td align="right">49MB</td>
   <td><tt>dd6bb155a4be91d93f78fc72ea112dc3a9bcf069</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/mbox-importer-19.04.2.tar.xz">mbox-importer-19.04.2</a></td>
   <td align="right">32kB</td>
   <td><tt>555392058f1fafca4b3c8ae67d5a13e6a7059e4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/messagelib-19.04.2.tar.xz">messagelib-19.04.2</a></td>
   <td align="right">9.9MB</td>
   <td><tt>2d0a0f3097753eaecefc936f6f797715fd7aeb29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/minuet-19.04.2.tar.xz">minuet-19.04.2</a></td>
   <td align="right">26MB</td>
   <td><tt>ab4dafdd952c4e190258e0c41fa3810edf071e02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/okular-19.04.2.tar.xz">okular-19.04.2</a></td>
   <td align="right">6.3MB</td>
   <td><tt>bc5a4310cd6f8fe78df6e13ee59ee0e2e9ce1b0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/palapeli-19.04.2.tar.xz">palapeli-19.04.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>53f5ce00e426561ddf913a50a8004f0cfcb4a587</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/parley-19.04.2.tar.xz">parley-19.04.2</a></td>
   <td align="right">8.4MB</td>
   <td><tt>658b0c27172f39f688ffa3ed659b841fd5c6eaf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/picmi-19.04.2.tar.xz">picmi-19.04.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>7ea767ece3fdceba36121d7407969f5ba5533254</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/pimcommon-19.04.2.tar.xz">pimcommon-19.04.2</a></td>
   <td align="right">288kB</td>
   <td><tt>3b4e241e88dc2e05ffdbda92b2efd708663e6da9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/pim-data-exporter-19.04.2.tar.xz">pim-data-exporter-19.04.2</a></td>
   <td align="right">264kB</td>
   <td><tt>c8574bead703ac27b2a3272b0cfa3cf6f01f5b9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/pim-sieve-editor-19.04.2.tar.xz">pim-sieve-editor-19.04.2</a></td>
   <td align="right">440kB</td>
   <td><tt>0a13ce3e6eb7ab4f633075099cb8a23a87177405</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/poxml-19.04.2.tar.xz">poxml-19.04.2</a></td>
   <td align="right">42kB</td>
   <td><tt>7e4492675f8373ead53f8114f0488314c32d6e10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/print-manager-19.04.2.tar.xz">print-manager-19.04.2</a></td>
   <td align="right">234kB</td>
   <td><tt>67ebcc7ac7ca500cfbe51f9fef501d5e32932afb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/rocs-19.04.2.tar.xz">rocs-19.04.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>b25e1ead7eaeb3e59f4aea1640d9a98d75e56930</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/signon-kwallet-extension-19.04.2.tar.xz">signon-kwallet-extension-19.04.2</a></td>
   <td align="right">10kB</td>
   <td><tt>a4c3994007465d4d747e799ae3f692e0aa2602fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/spectacle-19.04.2.tar.xz">spectacle-19.04.2</a></td>
   <td align="right">935kB</td>
   <td><tt>c83fa5e336697762fb7a93cffa38b9eaa0996575</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/step-19.04.2.tar.xz">step-19.04.2</a></td>
   <td align="right">840kB</td>
   <td><tt>e5dd1a19544cb27fcc9b8199468054b904fc6938</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/svgpart-19.04.2.tar.xz">svgpart-19.04.2</a></td>
   <td align="right">20kB</td>
   <td><tt>f042347a739954cce0ef0cce845116158d9f682e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/sweeper-19.04.2.tar.xz">sweeper-19.04.2</a></td>
   <td align="right">359kB</td>
   <td><tt>e99674e8df586757f9f1e2685cd608c11fc07798</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/umbrello-19.04.2.tar.xz">umbrello-19.04.2</a></td>
   <td align="right">3.5MB</td>
   <td><tt>d32a9208529b3fb28b57ad07a2c7f63085bc91da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.2/src/zeroconf-ioslave-19.04.2.tar.xz">zeroconf-ioslave-19.04.2</a></td>
   <td align="right">37kB</td>
   <td><tt>00b22f70ca59385a0123db401536e5b99b9d39d3</tt></td>
</tr>

</table>
