{{/*
SPDX-FileCopyrightText: 2022 Carl Schwan <carlschwan@kde.org>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

<div class="d-flex gap-3 mb-5">
<div class="container">
<div class="row">
{{- range $index, $value := index .Page.Params (.Get "features") -}}
<div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
  <img src="{{ $value.src }}" alt="" width="256" height="256" class="rounded" />
  <h3>{{ $value.name }}</h3>
  <p>{{ $value.description }}</p>
</div>
{{- end -}}
</div>
</div>
</div>

