<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/akonadi-19.12.1.tar.xz">akonadi-19.12.1</a></td>
   <td align="right">1542kB</td>
   <td><tt>1f692481455e99c03ba627469c18767bcc99313e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/akonadi-calendar-19.12.1.tar.xz">akonadi-calendar-19.12.1</a></td>
   <td align="right">324kB</td>
   <td><tt>a90d5b94ea9e6ab335543c28b710015d901b3437</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/akonadi-calendar-tools-19.12.1.tar.xz">akonadi-calendar-tools-19.12.1</a></td>
   <td align="right">218kB</td>
   <td><tt>0c54b418af09eae2b354210caccda357665e851c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/akonadiconsole-19.12.1.tar.xz">akonadiconsole-19.12.1</a></td>
   <td align="right">189kB</td>
   <td><tt>29dd81a318e2c23db2b4f09f576397985fa60ce8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/akonadi-contacts-19.12.1.tar.xz">akonadi-contacts-19.12.1</a></td>
   <td align="right">385kB</td>
   <td><tt>f42245a43f91290b3572e214d0fad68b2297fd9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/akonadi-import-wizard-19.12.1.tar.xz">akonadi-import-wizard-19.12.1</a></td>
   <td align="right">428kB</td>
   <td><tt>265e27673fc89bbd71025499f76409227d0061e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/akonadi-mime-19.12.1.tar.xz">akonadi-mime-19.12.1</a></td>
   <td align="right">129kB</td>
   <td><tt>69f3f66a3a9932747fb3ed52099243616a71d14b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/akonadi-notes-19.12.1.tar.xz">akonadi-notes-19.12.1</a></td>
   <td align="right">24kB</td>
   <td><tt>aa7c25a2d25a275e18ee6f294bc9bc1224bc6cf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/akonadi-search-19.12.1.tar.xz">akonadi-search-19.12.1</a></td>
   <td align="right">81kB</td>
   <td><tt>fd649c296fda4a705d80a8354af95c9a6964a6a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/akregator-19.12.1.tar.xz">akregator-19.12.1</a></td>
   <td align="right">2143kB</td>
   <td><tt>1b30cb4569022e0e776e63d02efeaf6a70c2376e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/analitza-19.12.1.tar.xz">analitza-19.12.1</a></td>
   <td align="right">325kB</td>
   <td><tt>58c8b3a84230f62c6c402302d015cba7240fbff1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/ark-19.12.1.tar.xz">ark-19.12.1</a></td>
   <td align="right">2526kB</td>
   <td><tt>67f9401040ef704bbaf3e99bc2a05b83fa850004</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/artikulate-19.12.1.tar.xz">artikulate-19.12.1</a></td>
   <td align="right">3910kB</td>
   <td><tt>06d6db2ccb8a3ee581118bf8b26a89b739ead122</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/audiocd-kio-19.12.1.tar.xz">audiocd-kio-19.12.1</a></td>
   <td align="right">349kB</td>
   <td><tt>9f4d3f28db96ab1acc97434e6cdd3837eda0331e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/baloo-widgets-19.12.1.tar.xz">baloo-widgets-19.12.1</a></td>
   <td align="right">256kB</td>
   <td><tt>ede433e2d8da234e55361a55054e604225c9657a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/blinken-19.12.1.tar.xz">blinken-19.12.1</a></td>
   <td align="right">2754kB</td>
   <td><tt>c671ace41158860ad7a48bcc2545af9a8ec9f1f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/bomber-19.12.1.tar.xz">bomber-19.12.1</a></td>
   <td align="right">802kB</td>
   <td><tt>8f353df5c55d4a2adaab7e059e5185c1526612da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/bovo-19.12.1.tar.xz">bovo-19.12.1</a></td>
   <td align="right">195kB</td>
   <td><tt>fa11b18eacee33a15c8b45ab6c9cb441624575da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/calendarsupport-19.12.1.tar.xz">calendarsupport-19.12.1</a></td>
   <td align="right">631kB</td>
   <td><tt>1f2b4e68a8cdc20f7ea528839020ee5eaced6b8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/cantor-19.12.1.tar.xz">cantor-19.12.1</a></td>
   <td align="right">8799kB</td>
   <td><tt>d6cff361cca896973fcbfbb7d1876f68bd79c3a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/cervisia-19.12.1.tar.xz">cervisia-19.12.1</a></td>
   <td align="right">1851kB</td>
   <td><tt>14a3487b0de8363a4649ce0dcd4625c2ea0a5abb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/dolphin-19.12.1.tar.xz">dolphin-19.12.1</a></td>
   <td align="right">4666kB</td>
   <td><tt>b9449830764cfb7f05daf57c7f235468ed4f5abf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/dolphin-plugins-19.12.1.tar.xz">dolphin-plugins-19.12.1</a></td>
   <td align="right">190kB</td>
   <td><tt>48df3bf59daebefd92c415d4541e306f4c75cf44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/dragon-19.12.1.tar.xz">dragon-19.12.1</a></td>
   <td align="right">1319kB</td>
   <td><tt>e110e8e13ceae8ed86efbec0dc7db38c8da06345</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/elisa-19.12.1.tar.xz">elisa-19.12.1</a></td>
   <td align="right">1352kB</td>
   <td><tt>9763bf02f29556467b8f0ba7f6401c31d0272555</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/eventviews-19.12.1.tar.xz">eventviews-19.12.1</a></td>
   <td align="right">433kB</td>
   <td><tt>6b85da6168edc44427957289b0316201c3bac978</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/ffmpegthumbs-19.12.1.tar.xz">ffmpegthumbs-19.12.1</a></td>
   <td align="right">26kB</td>
   <td><tt>74a6862463d1da9337f1a6a9da352413f46b136c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/filelight-19.12.1.tar.xz">filelight-19.12.1</a></td>
   <td align="right">646kB</td>
   <td><tt>fc23203fd9a36c78b421e1a7ab6114838962cd2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/granatier-19.12.1.tar.xz">granatier-19.12.1</a></td>
   <td align="right">1897kB</td>
   <td><tt>ca91952a4e44c2c0ae789e8cea0a560b9a7c72fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/grantlee-editor-19.12.1.tar.xz">grantlee-editor-19.12.1</a></td>
   <td align="right">109kB</td>
   <td><tt>8740a60271b9489aa9901ff612b13979f60012b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/grantleetheme-19.12.1.tar.xz">grantleetheme-19.12.1</a></td>
   <td align="right">53kB</td>
   <td><tt>428bdcfcd683b18e4ba0315f905fde023907b5b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/gwenview-19.12.1.tar.xz">gwenview-19.12.1</a></td>
   <td align="right">5602kB</td>
   <td><tt>4a54b53f49128af7533ca2fd734c51fe0fbb018f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/incidenceeditor-19.12.1.tar.xz">incidenceeditor-19.12.1</a></td>
   <td align="right">537kB</td>
   <td><tt>b9c2ec772554dcdc4ab4431e10f4c19618d53dd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/juk-19.12.1.tar.xz">juk-19.12.1</a></td>
   <td align="right">1822kB</td>
   <td><tt>8a2b3a42011acea55f65fa21b354b3780b358003</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/k3b-19.12.1.tar.xz">k3b-19.12.1</a></td>
   <td align="right">10255kB</td>
   <td><tt>54ce09582564ca206c1963cf1bb19c349ef95481</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kaccounts-integration-19.12.1.tar.xz">kaccounts-integration-19.12.1</a></td>
   <td align="right">65kB</td>
   <td><tt>58e0ccdaafb733e4a69d75f78b356acf1ba6d465</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kaccounts-providers-19.12.1.tar.xz">kaccounts-providers-19.12.1</a></td>
   <td align="right">31kB</td>
   <td><tt>5bee0818a9f3a7acf6410f295bbed5c452b9a77f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kaddressbook-19.12.1.tar.xz">kaddressbook-19.12.1</a></td>
   <td align="right">2343kB</td>
   <td><tt>36dcf8f8418ae5f3e5d1511c372b5912cd9e8f4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kajongg-19.12.1.tar.xz">kajongg-19.12.1</a></td>
   <td align="right">4362kB</td>
   <td><tt>f8447ce90920a97a25c019781b52f90092d678bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kalarm-19.12.1.tar.xz">kalarm-19.12.1</a></td>
   <td align="right">1793kB</td>
   <td><tt>c71a0b14c86787c51eb6c11f2308b818d1cab214</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kalarmcal-19.12.1.tar.xz">kalarmcal-19.12.1</a></td>
   <td align="right">561kB</td>
   <td><tt>51f3294948835af9c70d91a414a52ea0659fa0e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kalgebra-19.12.1.tar.xz">kalgebra-19.12.1</a></td>
   <td align="right">1129kB</td>
   <td><tt>e496032962212983a5359aebadfe13c4026fd45c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kalzium-19.12.1.tar.xz">kalzium-19.12.1</a></td>
   <td align="right">24020kB</td>
   <td><tt>38e12457ae30579a36ea46300afbd3e1ff1e141f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kamera-19.12.1.tar.xz">kamera-19.12.1</a></td>
   <td align="right">101kB</td>
   <td><tt>a66d9b90b658c4f9fff34cf11f9e5259e0c75ac1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kamoso-19.12.1.tar.xz">kamoso-19.12.1</a></td>
   <td align="right">197kB</td>
   <td><tt>3e6e3b8921a3e56276ea7df98d3e21cb169ed03b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kanagram-19.12.1.tar.xz">kanagram-19.12.1</a></td>
   <td align="right">7845kB</td>
   <td><tt>6e54276f9ae73e0664a4f631d7533c7fb80cd0cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kapman-19.12.1.tar.xz">kapman-19.12.1</a></td>
   <td align="right">2467kB</td>
   <td><tt>5425d4a021c29feeba1bfbde030d77515fe3fa00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kapptemplate-19.12.1.tar.xz">kapptemplate-19.12.1</a></td>
   <td align="right">309kB</td>
   <td><tt>e13f687c2aff3636745684851986620f138dca24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kate-19.12.1.tar.xz">kate-19.12.1</a></td>
   <td align="right">5564kB</td>
   <td><tt>4069d7bc6c2c639b282169dbdcc85fff0b5d84bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/katomic-19.12.1.tar.xz">katomic-19.12.1</a></td>
   <td align="right">1389kB</td>
   <td><tt>d60d7292e57e2ed1611354b5a9c35fd6b7bf5936</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kbackup-19.12.1.tar.xz">kbackup-19.12.1</a></td>
   <td align="right">350kB</td>
   <td><tt>9ffeee13a2260334e6ee34aa4c81fd7e6d7811a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kblackbox-19.12.1.tar.xz">kblackbox-19.12.1</a></td>
   <td align="right">437kB</td>
   <td><tt>8d12323907e02d7336e80428295ce702914b6a7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kblocks-19.12.1.tar.xz">kblocks-19.12.1</a></td>
   <td align="right">1863kB</td>
   <td><tt>852fbe949f230faee30e180477fbd3f8a066420f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kblog-19.12.1.tar.xz">kblog-19.12.1</a></td>
   <td align="right">71kB</td>
   <td><tt>0668e7ea54c30d0529e4d703beab9821693e84df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kbounce-19.12.1.tar.xz">kbounce-19.12.1</a></td>
   <td align="right">3386kB</td>
   <td><tt>754351e9e344e7845f33537794fd2606adb0b3df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kbreakout-19.12.1.tar.xz">kbreakout-19.12.1</a></td>
   <td align="right">2226kB</td>
   <td><tt>6163cfc71465181de1e08e5458872c9392fb0447</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kbruch-19.12.1.tar.xz">kbruch-19.12.1</a></td>
   <td align="right">5474kB</td>
   <td><tt>5f4ed8cb3947cbdbe25a20375385f418a17ad879</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kcachegrind-19.12.1.tar.xz">kcachegrind-19.12.1</a></td>
   <td align="right">791kB</td>
   <td><tt>0a40f437470a17cc4a0493f798a958e1ad31f510</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kcalc-19.12.1.tar.xz">kcalc-19.12.1</a></td>
   <td align="right">366kB</td>
   <td><tt>575487bf7dcbedb230dd02ea0c379279af8387ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kcalutils-19.12.1.tar.xz">kcalutils-19.12.1</a></td>
   <td align="right">314kB</td>
   <td><tt>f0ae419967ec620d1f1d3ac8c3661a0c8e90c03e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kcharselect-19.12.1.tar.xz">kcharselect-19.12.1</a></td>
   <td align="right">327kB</td>
   <td><tt>769db63dd6e3c9626705dde9b6c8981c6f7e6f4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kcolorchooser-19.12.1.tar.xz">kcolorchooser-19.12.1</a></td>
   <td align="right">21kB</td>
   <td><tt>24b7d0b60b03f8e5e5d9d6d9f985066c998d3f42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kcron-19.12.1.tar.xz">kcron-19.12.1</a></td>
   <td align="right">869kB</td>
   <td><tt>e43c5fbdc01c9bd882b89842d6607cfa052ed1f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kdav-19.12.1.tar.xz">kdav-19.12.1</a></td>
   <td align="right">53kB</td>
   <td><tt>c13aba113b2e53e55efca7177c7422a34723eff2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kdebugsettings-19.12.1.tar.xz">kdebugsettings-19.12.1</a></td>
   <td align="right">61kB</td>
   <td><tt>dedec50cb196c2b9c2eb1365bf6899b7e9f6885d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kde-dev-scripts-19.12.1.tar.xz">kde-dev-scripts-19.12.1</a></td>
   <td align="right">369kB</td>
   <td><tt>4bbf7fd6e44b79a386be8c87ff389a1d0da80491</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kde-dev-utils-19.12.1.tar.xz">kde-dev-utils-19.12.1</a></td>
   <td align="right">62kB</td>
   <td><tt>e3d6ab6f8e57dd6ddc6bd4b783e2b54e37b0a15d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kdeedu-data-19.12.1.tar.xz">kdeedu-data-19.12.1</a></td>
   <td align="right">319kB</td>
   <td><tt>89abfef5a39d5bc075a783cd7c69d4db17b59e7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kdegraphics-mobipocket-19.12.1.tar.xz">kdegraphics-mobipocket-19.12.1</a></td>
   <td align="right">15kB</td>
   <td><tt>68d778ca17fe83b380c480901cf0ad1881675c36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kdegraphics-thumbnailers-19.12.1.tar.xz">kdegraphics-thumbnailers-19.12.1</a></td>
   <td align="right">45kB</td>
   <td><tt>907652c55d1ac813bfd0d497b21033132f50dcd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kdenetwork-filesharing-19.12.1.tar.xz">kdenetwork-filesharing-19.12.1</a></td>
   <td align="right">310kB</td>
   <td><tt>62339dae179fcaee901e61614de5c83034630000</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kdenlive-19.12.1.tar.xz">kdenlive-19.12.1</a></td>
   <td align="right">11147kB</td>
   <td><tt>14022a5034213419e0d12f2492e20dbbbc2f44fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kdepim-addons-19.12.1.tar.xz">kdepim-addons-19.12.1</a></td>
   <td align="right">2059kB</td>
   <td><tt>418050d207523a285f730c683b637f5d08ec03e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kdepim-apps-libs-19.12.1.tar.xz">kdepim-apps-libs-19.12.1</a></td>
   <td align="right">80kB</td>
   <td><tt>43b0287a07ed9d1c5ad895390ec65657da5a9904</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kdepim-runtime-19.12.1.tar.xz">kdepim-runtime-19.12.1</a></td>
   <td align="right">1698kB</td>
   <td><tt>a5fff7a46c11f02ffed1022f17d8ebc3f00ea5ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kdesdk-kioslaves-19.12.1.tar.xz">kdesdk-kioslaves-19.12.1</a></td>
   <td align="right">36kB</td>
   <td><tt>5ae4314de17d40348f2c2566a81bdc504b8fadaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kdesdk-thumbnailers-19.12.1.tar.xz">kdesdk-thumbnailers-19.12.1</a></td>
   <td align="right">17kB</td>
   <td><tt>6b4108a5d64f70d09a96f431a341fc07ee7a2d2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kdf-19.12.1.tar.xz">kdf-19.12.1</a></td>
   <td align="right">451kB</td>
   <td><tt>df6d47debe7fc8ec75c82a8877f7fb818038db05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kdialog-19.12.1.tar.xz">kdialog-19.12.1</a></td>
   <td align="right">101kB</td>
   <td><tt>78068592ed3c0b0a3c1c3e3f5d3a5798a6ff3450</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kdiamond-19.12.1.tar.xz">kdiamond-19.12.1</a></td>
   <td align="right">4584kB</td>
   <td><tt>04eaaa50d97d57a169e6e3dbd5719cc15045f4ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/keditbookmarks-19.12.1.tar.xz">keditbookmarks-19.12.1</a></td>
   <td align="right">183kB</td>
   <td><tt>1dab07546a06eecf2644f4c67949adae7e99ecbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kfind-19.12.1.tar.xz">kfind-19.12.1</a></td>
   <td align="right">264kB</td>
   <td><tt>18324fe18a26ce288cd257fa2f535ecf10782463</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kfloppy-19.12.1.tar.xz">kfloppy-19.12.1</a></td>
   <td align="right">194kB</td>
   <td><tt>a132b64c12e29851092f1f8ebcfb10b2618f07fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kfourinline-19.12.1.tar.xz">kfourinline-19.12.1</a></td>
   <td align="right">623kB</td>
   <td><tt>5a34d308c6a8b527c39855c23fec15c8cf97268c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kgeography-19.12.1.tar.xz">kgeography-19.12.1</a></td>
   <td align="right">10657kB</td>
   <td><tt>939bae650473ea7c4ea34381510639cce4dd53d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kget-19.12.1.tar.xz">kget-19.12.1</a></td>
   <td align="right">5117kB</td>
   <td><tt>36bdc0199f6863cbace3b8394aced45013c9e089</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kgoldrunner-19.12.1.tar.xz">kgoldrunner-19.12.1</a></td>
   <td align="right">4327kB</td>
   <td><tt>245b712051aaddffd526a3d7173382e45ca41d18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kgpg-19.12.1.tar.xz">kgpg-19.12.1</a></td>
   <td align="right">2724kB</td>
   <td><tt>107a5af0da5239011a02140a1a9a08695db8dca3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/khangman-19.12.1.tar.xz">khangman-19.12.1</a></td>
   <td align="right">6947kB</td>
   <td><tt>3afc0983909877230d1f034161562b86fe7b477c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/khelpcenter-19.12.1.tar.xz">khelpcenter-19.12.1</a></td>
   <td align="right">3758kB</td>
   <td><tt>971b27c04e74bc8994f6547eebfe6318f381e692</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kidentitymanagement-19.12.1.tar.xz">kidentitymanagement-19.12.1</a></td>
   <td align="right">145kB</td>
   <td><tt>2252d6a0357177d3907b21d7274dfdc2976c3dda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kig-19.12.1.tar.xz">kig-19.12.1</a></td>
   <td align="right">3419kB</td>
   <td><tt>fdfff1b79e39e17a33f169e73861174491811e7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kigo-19.12.1.tar.xz">kigo-19.12.1</a></td>
   <td align="right">5104kB</td>
   <td><tt>93e78729c7863417c6839f8db214253b2a9f101c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/killbots-19.12.1.tar.xz">killbots-19.12.1</a></td>
   <td align="right">1147kB</td>
   <td><tt>d84c78396f8a9b80026824bb325901978aafa77f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kimagemapeditor-19.12.1.tar.xz">kimagemapeditor-19.12.1</a></td>
   <td align="right">1045kB</td>
   <td><tt>85a16dcbceda622aaa48922bb5236ebb602360df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kimap-19.12.1.tar.xz">kimap-19.12.1</a></td>
   <td align="right">116kB</td>
   <td><tt>545f5b71f5bf835f87e5ac3260fca3764a56a08f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kio-extras-19.12.1.tar.xz">kio-extras-19.12.1</a></td>
   <td align="right">565kB</td>
   <td><tt>b73b72b79ed951542ded74f0e5001cf29a905110</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kipi-plugins-19.12.1.tar.xz">kipi-plugins-19.12.1</a></td>
   <td align="right">1593kB</td>
   <td><tt>f8febe7b124d7bfdd1cceeae22c97ed386060746</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kirigami-gallery-19.12.1.tar.xz">kirigami-gallery-19.12.1</a></td>
   <td align="right">270kB</td>
   <td><tt>e2718837f1451464bf8abe18315cfc12c113f2e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kiriki-19.12.1.tar.xz">kiriki-19.12.1</a></td>
   <td align="right">364kB</td>
   <td><tt>82b6ca58e05a5aa5d1d204cc246af81c3d8a249f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kiten-19.12.1.tar.xz">kiten-19.12.1</a></td>
   <td align="right">11023kB</td>
   <td><tt>702d68b9420ecea5d50bfada007a22fe0eeeaf2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kitinerary-19.12.1.tar.xz">kitinerary-19.12.1</a></td>
   <td align="right">1151kB</td>
   <td><tt>7fb1164156e9196edba0304ba9f230f3ea3cb7cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kjumpingcube-19.12.1.tar.xz">kjumpingcube-19.12.1</a></td>
   <td align="right">282kB</td>
   <td><tt>5360e735018939ed81d3a43e586314c70bc79822</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kldap-19.12.1.tar.xz">kldap-19.12.1</a></td>
   <td align="right">151kB</td>
   <td><tt>1fee9a6dbe1b0bbe134d04bbdc96b25bbd470ca4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kleopatra-19.12.1.tar.xz">kleopatra-19.12.1</a></td>
   <td align="right">1887kB</td>
   <td><tt>180f264befb93b8a6413af4564d41a1aeb5044e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/klettres-19.12.1.tar.xz">klettres-19.12.1</a></td>
   <td align="right">39195kB</td>
   <td><tt>02e898e7ad281e5e31ef16a1cd8d84bd742132fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/klickety-19.12.1.tar.xz">klickety-19.12.1</a></td>
   <td align="right">1357kB</td>
   <td><tt>a9c8222b2057736d682e659659d85d4751b66509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/klines-19.12.1.tar.xz">klines-19.12.1</a></td>
   <td align="right">1740kB</td>
   <td><tt>10d8c8e0964ee7f8121b9717e4644429ae6a6105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kmag-19.12.1.tar.xz">kmag-19.12.1</a></td>
   <td align="right">658kB</td>
   <td><tt>fd0e6639b1043d4c2dc0a93bfbe5c2849ebfdf94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kmahjongg-19.12.1.tar.xz">kmahjongg-19.12.1</a></td>
   <td align="right">3345kB</td>
   <td><tt>1a81568fad77d5bd24a5993d4d966165745ec79e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kmail-19.12.1.tar.xz">kmail-19.12.1</a></td>
   <td align="right">4600kB</td>
   <td><tt>c6bef33987eceb677ec251b2beeebba28378e67c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kmail-account-wizard-19.12.1.tar.xz">kmail-account-wizard-19.12.1</a></td>
   <td align="right">154kB</td>
   <td><tt>234b0bce3f5bb77274c9c8a1994aee41a1ac2196</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kmailtransport-19.12.1.tar.xz">kmailtransport-19.12.1</a></td>
   <td align="right">162kB</td>
   <td><tt>f26303d3cde358108c82f68b65e0d00fd7a982c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kmbox-19.12.1.tar.xz">kmbox-19.12.1</a></td>
   <td align="right">24kB</td>
   <td><tt>5aae4c4f6ed6dd2f7567b38126e12036d6ab06d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kmime-19.12.1.tar.xz">kmime-19.12.1</a></td>
   <td align="right">143kB</td>
   <td><tt>c49e7dcc2bb4414c94bbfe5d6632095ba197417f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kmines-19.12.1.tar.xz">kmines-19.12.1</a></td>
   <td align="right">877kB</td>
   <td><tt>abc36eac95cf54312d3e5b4db43e4e55aa4079ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kmix-19.12.1.tar.xz">kmix-19.12.1</a></td>
   <td align="right">984kB</td>
   <td><tt>1645b2cebaee504465f5212ca695fb619ea0cbb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kmousetool-19.12.1.tar.xz">kmousetool-19.12.1</a></td>
   <td align="right">111kB</td>
   <td><tt>6e185216d1d1dbb1d5f867738243269c18082362</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kmouth-19.12.1.tar.xz">kmouth-19.12.1</a></td>
   <td align="right">1920kB</td>
   <td><tt>11e75f384880fc17d778727745499ec0e2a06cb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kmplot-19.12.1.tar.xz">kmplot-19.12.1</a></td>
   <td align="right">2983kB</td>
   <td><tt>d0abc5f7dcd9c960c2ea73a63e8bf0c222394f2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/knavalbattle-19.12.1.tar.xz">knavalbattle-19.12.1</a></td>
   <td align="right">1250kB</td>
   <td><tt>28633b92bafc72d921dd12d0385d147ab7d457ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/knetwalk-19.12.1.tar.xz">knetwalk-19.12.1</a></td>
   <td align="right">1016kB</td>
   <td><tt>a97704d3eb108ed543fffe5f9b14379e6700ac59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/knights-19.12.1.tar.xz">knights-19.12.1</a></td>
   <td align="right">3434kB</td>
   <td><tt>76b6ca0c1441dc39d53119f3079a2a41355a2773</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/knotes-19.12.1.tar.xz">knotes-19.12.1</a></td>
   <td align="right">313kB</td>
   <td><tt>1b1c54046504f5cbcc67fa6ac6499c1f3a50c2ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kolf-19.12.1.tar.xz">kolf-19.12.1</a></td>
   <td align="right">999kB</td>
   <td><tt>a8a52c60ff25dcf1933fe56914c159853217ae8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kollision-19.12.1.tar.xz">kollision-19.12.1</a></td>
   <td align="right">274kB</td>
   <td><tt>c5a57b7a2657e4ee00dca4aff902a8db1e844e8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kolourpaint-19.12.1.tar.xz">kolourpaint-19.12.1</a></td>
   <td align="right">5519kB</td>
   <td><tt>1f4e8ea06c9a359057916523bde99487058be47f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kompare-19.12.1.tar.xz">kompare-19.12.1</a></td>
   <td align="right">783kB</td>
   <td><tt>ac5945624077f25da678f77bcd95ebef529b68de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/konqueror-19.12.1.tar.xz">konqueror-19.12.1</a></td>
   <td align="right">7210kB</td>
   <td><tt>d690b43518a786107de51dc638b6d8145b078582</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/konquest-19.12.1.tar.xz">konquest-19.12.1</a></td>
   <td align="right">643kB</td>
   <td><tt>dc8cc7b11d57d5c4d720c1592b7b3f187c984450</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/konsole-19.12.1.tar.xz">konsole-19.12.1</a></td>
   <td align="right">1131kB</td>
   <td><tt>a3d547f19ed6f8e0a6aa1d24ef3493d86ad2cecb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kontact-19.12.1.tar.xz">kontact-19.12.1</a></td>
   <td align="right">776kB</td>
   <td><tt>25ba5d7c0fe996e200b26930fc250c03ebf1816d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kontactinterface-19.12.1.tar.xz">kontactinterface-19.12.1</a></td>
   <td align="right">32kB</td>
   <td><tt>25b1e2156b49935bb0a239c1abd590a1316ba3de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kopete-19.12.1.tar.xz">kopete-19.12.1</a></td>
   <td align="right">9144kB</td>
   <td><tt>0072e49e965b9dd4e9f8c7a8463c40564fece84f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/korganizer-19.12.1.tar.xz">korganizer-19.12.1</a></td>
   <td align="right">2176kB</td>
   <td><tt>56ac99d7ea084ba146c0c6505e52913b83fccf54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kpat-19.12.1.tar.xz">kpat-19.12.1</a></td>
   <td align="right">3493kB</td>
   <td><tt>39d05a3dbecec2e3f9283fe0cd33d9b53b37cd28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kpimtextedit-19.12.1.tar.xz">kpimtextedit-19.12.1</a></td>
   <td align="right">163kB</td>
   <td><tt>20e7186b56d0b1799b72dc22bdbef25d865e13cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kpkpass-19.12.1.tar.xz">kpkpass-19.12.1</a></td>
   <td align="right">22kB</td>
   <td><tt>c06bb78d3a5084f4c6f409ba601c94106e226c8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kqtquickcharts-19.12.1.tar.xz">kqtquickcharts-19.12.1</a></td>
   <td align="right">25kB</td>
   <td><tt>ba5468dc9654f9cf4bb5dc9bf2143e4198a81c3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/krdc-19.12.1.tar.xz">krdc-19.12.1</a></td>
   <td align="right">1391kB</td>
   <td><tt>7fd4e5bb594e14e18bedf5c7fdbd0735e5d7dfba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kreversi-19.12.1.tar.xz">kreversi-19.12.1</a></td>
   <td align="right">923kB</td>
   <td><tt>cd6e250bfcb91bbb988196f63302c9fbbb352354</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/krfb-19.12.1.tar.xz">krfb-19.12.1</a></td>
   <td align="right">1248kB</td>
   <td><tt>bde376b83073e6b74332a750d757df13aa8312d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kross-interpreters-19.12.1.tar.xz">kross-interpreters-19.12.1</a></td>
   <td align="right">148kB</td>
   <td><tt>00a3acce2ec15fa702cb7ed46b0f4180fcd7bd76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kruler-19.12.1.tar.xz">kruler-19.12.1</a></td>
   <td align="right">245kB</td>
   <td><tt>fc7e1f33ccb0b1de51038cbf3a934c69e273c7e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kshisen-19.12.1.tar.xz">kshisen-19.12.1</a></td>
   <td align="right">804kB</td>
   <td><tt>99767401e38bef8ded592d251e4091826b9cd2fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/ksirk-19.12.1.tar.xz">ksirk-19.12.1</a></td>
   <td align="right">6835kB</td>
   <td><tt>71c131f6890a9126e250e5133bf0f606fa413987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/ksmtp-19.12.1.tar.xz">ksmtp-19.12.1</a></td>
   <td align="right">39kB</td>
   <td><tt>7fbcad05d4edf495bce038d2f57bb3bcfd714d62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/ksnakeduel-19.12.1.tar.xz">ksnakeduel-19.12.1</a></td>
   <td align="right">591kB</td>
   <td><tt>726ddee87d626abb68bceb94e95f4af5e3babb1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kspaceduel-19.12.1.tar.xz">kspaceduel-19.12.1</a></td>
   <td align="right">597kB</td>
   <td><tt>e448f657a5ce498a4c06d6b55f97fcf03c8ff1d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/ksquares-19.12.1.tar.xz">ksquares-19.12.1</a></td>
   <td align="right">255kB</td>
   <td><tt>fc749cb2a239b16524f0dcc5b7282f1e61354570</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/ksudoku-19.12.1.tar.xz">ksudoku-19.12.1</a></td>
   <td align="right">1610kB</td>
   <td><tt>71542038b1ea509f9ecf7e1a6a41de8ab2c48b75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/ksystemlog-19.12.1.tar.xz">ksystemlog-19.12.1</a></td>
   <td align="right">1883kB</td>
   <td><tt>7b6a2ea2797798dc630b06514de4ad72ba54a49f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kteatime-19.12.1.tar.xz">kteatime-19.12.1</a></td>
   <td align="right">280kB</td>
   <td><tt>cc0e7382337d243b23f43a58213a47057bbcb37f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/ktimer-19.12.1.tar.xz">ktimer-19.12.1</a></td>
   <td align="right">368kB</td>
   <td><tt>53b2b9ab66b48d6ddebc159bc23f6213de165fe2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/ktnef-19.12.1.tar.xz">ktnef-19.12.1</a></td>
   <td align="right">292kB</td>
   <td><tt>5841486503df6a8834e4a4a737b623eb1351cee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/ktouch-19.12.1.tar.xz">ktouch-19.12.1</a></td>
   <td align="right">4817kB</td>
   <td><tt>a5684ef6d91d87715ecd8f61dc1b81dcb4b6436d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/ktp-accounts-kcm-19.12.1.tar.xz">ktp-accounts-kcm-19.12.1</a></td>
   <td align="right">257kB</td>
   <td><tt>b706290a4c50b7f7a546019bfd9e88fcf7d655cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/ktp-approver-19.12.1.tar.xz">ktp-approver-19.12.1</a></td>
   <td align="right">36kB</td>
   <td><tt>d8ca4d327c4174bbf38670087375eb3a80fd4655</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/ktp-auth-handler-19.12.1.tar.xz">ktp-auth-handler-19.12.1</a></td>
   <td align="right">45kB</td>
   <td><tt>9a0a16652f7ffa961dac1266f2cbf84be001246b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/ktp-call-ui-19.12.1.tar.xz">ktp-call-ui-19.12.1</a></td>
   <td align="right">95kB</td>
   <td><tt>5da90995aaa96efe1208e130a1d32f2cefa34166</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/ktp-common-internals-19.12.1.tar.xz">ktp-common-internals-19.12.1</a></td>
   <td align="right">435kB</td>
   <td><tt>ef6ebb25f664a115bdac0ece8afec5f6d78a8939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/ktp-contact-list-19.12.1.tar.xz">ktp-contact-list-19.12.1</a></td>
   <td align="right">146kB</td>
   <td><tt>b9f51cd0265cefad1068bc1059d27af1260ce012</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/ktp-contact-runner-19.12.1.tar.xz">ktp-contact-runner-19.12.1</a></td>
   <td align="right">42kB</td>
   <td><tt>c36761831d48635a58924427d4c36a7f44afd6ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/ktp-desktop-applets-19.12.1.tar.xz">ktp-desktop-applets-19.12.1</a></td>
   <td align="right">42kB</td>
   <td><tt>c43d349837fe95e19bce88049dc9f330ace1683a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/ktp-filetransfer-handler-19.12.1.tar.xz">ktp-filetransfer-handler-19.12.1</a></td>
   <td align="right">45kB</td>
   <td><tt>b2aa2165bcbe7c15d277e8fe929d88764101549e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/ktp-kded-module-19.12.1.tar.xz">ktp-kded-module-19.12.1</a></td>
   <td align="right">95kB</td>
   <td><tt>011606a3f46e6e2bebac97e6b924ad609d421d92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/ktp-send-file-19.12.1.tar.xz">ktp-send-file-19.12.1</a></td>
   <td align="right">28kB</td>
   <td><tt>2a8ba79a807baf20f96ef83cddc19092bc0233bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/ktp-text-ui-19.12.1.tar.xz">ktp-text-ui-19.12.1</a></td>
   <td align="right">460kB</td>
   <td><tt>f5cb84c4347f5e13bf2f8d38078ca172d3dede8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/ktuberling-19.12.1.tar.xz">ktuberling-19.12.1</a></td>
   <td align="right">69095kB</td>
   <td><tt>ee96f6228b1c9db4ad382abfd60b98961015957d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kturtle-19.12.1.tar.xz">kturtle-19.12.1</a></td>
   <td align="right">1785kB</td>
   <td><tt>a04b8287768781d687038fc94cff7b91715f1b11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kubrick-19.12.1.tar.xz">kubrick-19.12.1</a></td>
   <td align="right">310kB</td>
   <td><tt>ecf54fc33a990f5cccaaae119a290552045f2b26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kwalletmanager-19.12.1.tar.xz">kwalletmanager-19.12.1</a></td>
   <td align="right">770kB</td>
   <td><tt>470a871f3f63b79807c0ccae902dc5a3d324b064</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kwave-19.12.1.tar.xz">kwave-19.12.1</a></td>
   <td align="right">6046kB</td>
   <td><tt>66ea5b431fafb8399cd6d9f6f2765434f730c267</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/kwordquiz-19.12.1.tar.xz">kwordquiz-19.12.1</a></td>
   <td align="right">4073kB</td>
   <td><tt>88cbb3c4c418fe6214de39726a90ef02ecd963c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/libgravatar-19.12.1.tar.xz">libgravatar-19.12.1</a></td>
   <td align="right">30kB</td>
   <td><tt>c995c7d2b8c9067f2c507e5355c19c45857ad956</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/libkcddb-19.12.1.tar.xz">libkcddb-19.12.1</a></td>
   <td align="right">414kB</td>
   <td><tt>f501f0d22d44d1e6a8d6ba1b61be3688d3ce0d7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/libkcompactdisc-19.12.1.tar.xz">libkcompactdisc-19.12.1</a></td>
   <td align="right">87kB</td>
   <td><tt>a301193c3bb818330ac2c2859752e9eed1e756fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/libkdcraw-19.12.1.tar.xz">libkdcraw-19.12.1</a></td>
   <td align="right">41kB</td>
   <td><tt>c71f9ce9a7afb6b4563121a1a5e7eb8687ccff8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/libkdegames-19.12.1.tar.xz">libkdegames-19.12.1</a></td>
   <td align="right">6224kB</td>
   <td><tt>16c5abbf6826c36144a1e4e331535baa6a92bf25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/libkdepim-19.12.1.tar.xz">libkdepim-19.12.1</a></td>
   <td align="right">325kB</td>
   <td><tt>4e74cd10629f438ba49f37fb39cb23a7485a7c61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/libkeduvocdocument-19.12.1.tar.xz">libkeduvocdocument-19.12.1</a></td>
   <td align="right">206kB</td>
   <td><tt>aebd3784a682b915143c9b18c3371e8b65963678</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/libkexiv2-19.12.1.tar.xz">libkexiv2-19.12.1</a></td>
   <td align="right">63kB</td>
   <td><tt>ff018e5480620b6c4641d4dce3063dc8f3555eb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/libkgapi-19.12.1.tar.xz">libkgapi-19.12.1</a></td>
   <td align="right">232kB</td>
   <td><tt>52a3d1244cf111acaee4391a2047b7f801e34ef0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/libkgeomap-19.12.1.tar.xz">libkgeomap-19.12.1</a></td>
   <td align="right">147kB</td>
   <td><tt>7ef5929a35a794c88e68321f1dbe9d8cae3de7ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/libkipi-19.12.1.tar.xz">libkipi-19.12.1</a></td>
   <td align="right">100kB</td>
   <td><tt>3d215e4f5bc00703d2386a3c8116594bbcafb887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/libkleo-19.12.1.tar.xz">libkleo-19.12.1</a></td>
   <td align="right">335kB</td>
   <td><tt>654ceefbde1a9ae31ee3501d3422f75d417b1dbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/libkmahjongg-19.12.1.tar.xz">libkmahjongg-19.12.1</a></td>
   <td align="right">1644kB</td>
   <td><tt>66550079ece9ed2a7112bec7c971b84c4967baf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/libkomparediff2-19.12.1.tar.xz">libkomparediff2-19.12.1</a></td>
   <td align="right">169kB</td>
   <td><tt>444a01dd87fec9613f96bc615d8d2991b8abb7c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/libksane-19.12.1.tar.xz">libksane-19.12.1</a></td>
   <td align="right">135kB</td>
   <td><tt>7085a65917c8b98e33dc1caf0f66b2eb06ad5182</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/libksieve-19.12.1.tar.xz">libksieve-19.12.1</a></td>
   <td align="right">539kB</td>
   <td><tt>d6d3804fbb5bd8416e826d9f3c2d4752a09e7331</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/lokalize-19.12.1.tar.xz">lokalize-19.12.1</a></td>
   <td align="right">1661kB</td>
   <td><tt>401ea1d20d035e85a4bf89080deeea22ce5a73b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/lskat-19.12.1.tar.xz">lskat-19.12.1</a></td>
   <td align="right">1190kB</td>
   <td><tt>1cbd694b30e8ed600210ed82a6ca5cfd34a8e9b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/mailcommon-19.12.1.tar.xz">mailcommon-19.12.1</a></td>
   <td align="right">684kB</td>
   <td><tt>46c5c3fcc30a040c05ea41c496b507842dd4a2ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/mailimporter-19.12.1.tar.xz">mailimporter-19.12.1</a></td>
   <td align="right">527kB</td>
   <td><tt>e58b06f9ed5f8de149048ada70b49b606c521c86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/marble-19.12.1.tar.xz">marble-19.12.1</a></td>
   <td align="right">50976kB</td>
   <td><tt>5bffd2c3707444b13f1e15edd04d1569853e8255</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/mbox-importer-19.12.1.tar.xz">mbox-importer-19.12.1</a></td>
   <td align="right">32kB</td>
   <td><tt>5520b12c1d823f96e008d9e61483ea50b9a6d7b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/messagelib-19.12.1.tar.xz">messagelib-19.12.1</a></td>
   <td align="right">10219kB</td>
   <td><tt>049ff61c377b3f382e6195611d75b6d7ffc044f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/minuet-19.12.1.tar.xz">minuet-19.12.1</a></td>
   <td align="right">26942kB</td>
   <td><tt>2a491c7cb16455bb91dca51aedcc987d965cdf6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/okular-19.12.1.tar.xz">okular-19.12.1</a></td>
   <td align="right">7035kB</td>
   <td><tt>915f2886079aa5adac5b3505fc8e10589d0b7e18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/palapeli-19.12.1.tar.xz">palapeli-19.12.1</a></td>
   <td align="right">2022kB</td>
   <td><tt>db21f9ce745c68238f1bc9531648a7a3eb87c562</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/parley-19.12.1.tar.xz">parley-19.12.1</a></td>
   <td align="right">8626kB</td>
   <td><tt>4630fddf24d917a10743a08b4562e7649bd8e30d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/picmi-19.12.1.tar.xz">picmi-19.12.1</a></td>
   <td align="right">1326kB</td>
   <td><tt>307bb59469a59c1618d631cb229c5d66f851143b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/pimcommon-19.12.1.tar.xz">pimcommon-19.12.1</a></td>
   <td align="right">287kB</td>
   <td><tt>1e6e0aa20a0cd88fa86abdde497f672bda7e6f09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/pim-data-exporter-19.12.1.tar.xz">pim-data-exporter-19.12.1</a></td>
   <td align="right">200kB</td>
   <td><tt>2866905b6e52bf31c914e24f77d86a3f1b83d673</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/pim-sieve-editor-19.12.1.tar.xz">pim-sieve-editor-19.12.1</a></td>
   <td align="right">440kB</td>
   <td><tt>41a2261a2cf2f611ed00923fe73c58d27d969af6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/poxml-19.12.1.tar.xz">poxml-19.12.1</a></td>
   <td align="right">42kB</td>
   <td><tt>acac97f77fcd96cb5ab7fd3eae4299289d074069</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/print-manager-19.12.1.tar.xz">print-manager-19.12.1</a></td>
   <td align="right">244kB</td>
   <td><tt>2abb3f898ba603017054369432e79e82ded8f801</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/rocs-19.12.1.tar.xz">rocs-19.12.1</a></td>
   <td align="right">1487kB</td>
   <td><tt>00186e578269d6a5cfe027d68c7ea75f507ccd02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/signon-kwallet-extension-19.12.1.tar.xz">signon-kwallet-extension-19.12.1</a></td>
   <td align="right">10kB</td>
   <td><tt>272a58eeb5c0f5726390fdec5d6f9ef03be7e1f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/spectacle-19.12.1.tar.xz">spectacle-19.12.1</a></td>
   <td align="right">636kB</td>
   <td><tt>5d7551e5b78bb95620f38d1c9233c1c39c5f263f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/step-19.12.1.tar.xz">step-19.12.1</a></td>
   <td align="right">888kB</td>
   <td><tt>e791e43ec38decedff520076e090c431432ca4b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/svgpart-19.12.1.tar.xz">svgpart-19.12.1</a></td>
   <td align="right">20kB</td>
   <td><tt>44bb3ff163e6bf79b08835e1252fe4a5fd2ff682</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/sweeper-19.12.1.tar.xz">sweeper-19.12.1</a></td>
   <td align="right">359kB</td>
   <td><tt>f74a52a29f573e6c5e45b3eac6fe3fe3b7238172</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/umbrello-19.12.1.tar.xz">umbrello-19.12.1</a></td>
   <td align="right">3709kB</td>
   <td><tt>a9d8abaeea5e587320d8bbb20b27864c81d8fb49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/yakuake-19.12.1.tar.xz">yakuake-19.12.1</a></td>
   <td align="right">363kB</td>
   <td><tt>e6696f860bdf915fbe1a73bf5bd4753aed19ea75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.1/src/zeroconf-ioslave-19.12.1.tar.xz">zeroconf-ioslave-19.12.1</a></td>
   <td align="right">40kB</td>
   <td><tt>5ea2b8ad54fdd4c80df052ae697dfcad8bb1a5f1</tt></td>
</tr>

</table>
